{% extends 'courses/base.html' %}

{% load l10n %}
{% load i18n %}
{% load static %}
{% load assessment_tags %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
  <div class="separator">»</div>
  <li><a href="{% url 'courses:course' course instance %}">{{ course.name }}&nbsp;/&nbsp;{{ instance_name }}</a></li>
  {% if single_linked %}
    <div class="separator">»</div>
    <li><a href="{% url 'courses:content' course instance parent %}">{{ parent.name }}</a></li>
    <div class="separator">»</div>
    <li><a href="{% url 'courses:content' course instance parent %}#{{ anchor }}">{{ exercise.name }}</a></li>
  {% else %}
    <div class="separator">»</div>
    <li>{{ exercise.name }}</li>
  {% endif %}
  <div class="separator">»</div>
  <li><a href="{% url 'assessment:view_submissions' course instance exercise %}">{% trans 'Submissions' %}</a></li>
  <div class="separator">»</div>
  <li><a href="{% url 'assessment:submission_assessment' course instance exercise user %}">
    {% blocktrans with username=user.username exercise_name=exercise.name %}
        {{ username }}’s assessment for {{ exercise_name }}
    {% endblocktrans %}
  </a></li>
{% endblock %}


{% block page-content %}
    <h1>
        {% blocktrans with title=sheet.title username=user.username exercise_name=exercise.name %}
            {{ title }} of {{ username }}'s answer to {{ exercise_name }} 
        {% endblocktrans %}
    </h1>

    <form class="assessment-form"
          method="POST"
          enctype="multipart/form-data"
          action="{% url 'assessment:submission_assessment' course instance exercise user %}">
          
        {% csrf_token %}
    
        <table class="assessment-table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>points</th>
                    <th>max</th>
                    <th>comment</th>        
                </tr>
            </thead>
            <tbody>
                {% for name, section in bullets_by_section.items %}
                    <tr class="assessment-section">
                        <td colspan="2">{{ name }}</td>
                        <td class="center-align">{{ section.section_points|unlocalize }}</td>
                        <td class="center-align">{{ section.total_points|unlocalize }}</td>
                        <td></td>
                    </tr>
                    {% for bullet in section.bullets %}
                        <tr class="assessment-bullet">
                            <td><img src="{% static 'courses/debug-16.png' %}"></td>
                            <td>
                                <span class="bullet-title" title="{{ bullet.tooltip }}">
                                    {{ bullet.title }}
                                </span>
                            </td>
                            <td>
                                {{ form|points_widget:bullet }}
                            </td>
                            <td class="center-align">{{ bullet.point_value|unlocalize }}</td>
                            <td>
                                {{ form|comment_widget:bullet }}
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="center-align">{{ total_score|unlocalize }}</td>
                    <td class="center-align">{{ max_score|unlocalize }}</td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        
        <div class="input-label-container">
            {{ form.correct.label_tag }} {{ form.correct }}
        </div>
        <input type="submit" name="submit" value="{% trans 'Save' %}"></input>
    </form>
    
    <script>
        $(".assessment-form").submit(ase.submit_assessment);
        $(".points-input").change(ase.update_section_score);
    </script>
    
{% endblock %}

