{% load i18n %}
{% load staticfiles %}
{% load assessment_tags %}

<div class="assessment-panel">
    <h2 class="assessment-form-title">{{ document.title }}</h2>

    <div class="assessment-info">
        <span class="assessment-time">
            {{ document.assessment_date }} @ {{ document.assessment_time }}
        </span>
        <span class="assessment-author">
            {{ document.author_fn }} {{ document.author_ln }}
        </span>    
    </div>
    
    <div class="assessment-sheet">
        <table class="assessment-table">
            <tr>
                <th colspan="2"></th>
                <th>points</th>
                <th>max</th>
                <th>comment</th>        
            </tr>
            {% for section in document.sections %}
                <tr class="assessment-section">
                    <td colspan="2">{{ section.name }}</td>
                    <td>{{ section.section_points }}</td>
                    <td>{{ section.max_points }}</td>
                    <td></td>
                </tr>
                {% for bullet_id in section.bullets %}
                    {% with bullet=document.bullet_index|bullet_lookup:bullet_id %}
                        <tr class="assessment-bullet">
                            <td><img src="{% static 'courses/debug-16.png' %}"></td>
                            <td>
                                <span class="bullet-title" title="{{ bullet.tooltip }}">
                                    {{ bullet.title }}
                                </span>
                            </td>
                            <td>
                                {{ bullet.scored_points }}
                            </td>
                            <td>{{ bullet.max_points }}</td>
                            <td>
                                {{ bullet.comment }}
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>