{% load i18n %}
{% load static %}


<link type="text/css" rel="stylesheet" href="{% static 'ace/acewidget.css' %}">

<div class="ace-container ace-layout-{{ ace_layout }}">
  <div id="{{ content.slug }}-ace-editor"
       class="ace-editor"
       style="min-height: {{ ace_container_height }}px;"></div>
  {% if ace_preview_widget %}
    <button type="button"
            id="{{ content.slug }}-ace-run-button">
      {% if ace_layout == "horizontal" %}
        ⇉
      {% else %}
        ⇊
      {% endif %}
    </button>
    <div class="preview-container">
      {{ ace_preview_widget|safe }}
    </div>
  {% endif %}
</div>

<script src="{% static 'ace/ace/ace.js' %}"></script>
<script src="{% static 'ace/acewidget.js' %}"></script>
<script>
  var editor = ace.edit("{{ content.slug }}-ace-editor", {{ ace_extra|safe }})
  editor.setOption("fontSize", {{ ace_font_size }})
  editor.session.setMode("ace/mode/{{ ace_mode }}")

  var form = $(document.currentScript).closest("form")
  form.attr("data-extra-callback", "acewidget.read_editor_value('{{ content.slug }}-ace-editor')")
  form.attr("data-extra-key", "answer")

  {% if ace_preview_widget %}
    var ace_controller = new AceWidget(
      "{{ ace_preview_ws }}",
      editor,
      preview_widget,
      "{{ content.slug }}-ace-run-button"
    )
  {% endif %}

</script>
