div.pie {
    position: absolute;
    width: 200px;
    height: 150px;
    overflow: hidden;
    margin-top: -50px;
    left: 700px;
}

div.pie-legend {
    position: relative;
    width: 186px;
    word-wrap: break-word;
    left: -75px;
    top: 110px;
    padding: 3px;
    font-size: 0.8em;
}

div.pie-legend.green {
    background-color: #87F717;
}

div.pie-legend.red {
    background-color: #FF4500;
}

div.pie-legend.blue {
    background-color: #4682B4;
}

div.stat-table {
    width: 100%; 
    height: 210px; 
    display: table;
}

div.stat-table.row {
    display: table-row;
}

div.stat-table.cell {
    display: table-cell;
}

table.fixed {
    table-layout: fixed;
    width: 774px;
}

col.correct {
    width: 12%;
}

col.count {
    width: 9%;
}

col.hint-given {
    width: 10%;
}

col.latest {
    width: 24%;
}

td {
    position: relative;
    text-align: center;
}
td.answer {
    text-align: left;
    white-space: pre;
}
td.correct {
    color: #30bd30;
}
td.incorrect {
    color: #bd3030;
}
td.hinted {
    color: #00D;
}
td.unhinted {
    color: #806848;
}

pre.overflow-x {
    word-wrap: normal;
    overflow-x: auto;
    font-family: "DejaVu Sans", "Open Sans", "Verdana", "Ubuntu", "Arial", sans-serif;
    font-size: 1.0em;
    color: #222;
    line-height: 1.5;
}

div.matches-list {
    display: none;
    position: absolute;
    z-index: 1;

    text-align: left;
    min-width: 280px;
    background: #333;
    color: #ccc;
    font-size: 0.8rem;
    padding: 2px 4px;
}
div.matches-list > ul {
    padding: 0;
}
div.matches-list > ul > li {
    position: relative;
    padding: 2px 0 0 0;
    margin: 0;
    list-style-type: square;
}
div.matches-list > ul > li > span.error:before {
    content: 'Regex error';
    font-size: 0.6rem;
    position: relative;
    top: -17px;
    margin-right: -50px;
    background: #333;
}
div.matches-list > ul > li > span.error {
    position: absolute;
    right: -400px;
    width: 400px;
    color: #bd3030;
    border: 1px dotted #bd3030;
    background: #333;
}