div.pie {
    position: absolute;
    width: 200px;
    height: 150px;
    overflow: hidden;
    margin-top: -50px;
    left: 775px;
}

div.pie-legend {
    position: relative;
    width: 186px;
    word-wrap: break-word;
    left: 0px;
    top: 110px;
    padding: 3px;
    font-size: 0.8em;
}
div.pie-legend.green {
    background-color: #87F717;
}
div.pie-legend.red {
    background-color: #FF4500;
}
div.pie-legend.blue {
    background-color: #4682B4;
}



div.stat-table {
    width: 100%; 
    height: 210px; 
    display: table;
}
div.stat-table.row {
    display: table-row;
}
div.stat-table.cell {
    display: table-cell;
}

div.sortable-header {
    margin-left: 0px;
}

table.fixed {
    table-layout: fixed;
    width: 100%;
}

col.count {
    width: 8%;
}
col.correct {
    width: 9%;
}
col.hint-given {
    width: 7%;
}
col.latest {
    width: 13%;
}

button.sort-desc {
    width: 22px;
    margin-right: -3px;
}
button.sort-asc {
    width: 22px;
    margin-left: -3px;
}

td {
    position: relative;
    text-align: center;
}
td.answer {
    text-align: left;
    white-space: pre-wrap;
    overflow-x: hidden;
    word-wrap: break-word;
}
td.correct {
    color: #30bd30;
}
td.incorrect {
    color: #bd3030;
}
td.hinted {
    color: #00D;
}
td.unhinted {
    color: #806848;
}

div.matches-list {
    display: none;
    position: absolute;
    z-index: 1;
    text-align: left;
    min-width: 280px;
    background: #333;
    color: #ccc;
    font-size: 0.8rem;
    padding: 2px 4px;
}
div.matches-list > ul {
    padding: 0;
}
div.matches-list > ul > li {
    position: relative;
    padding: 2px 0 0 0;
    margin: 0;
    list-style-type: square;
}
div.matches-list > ul > li > span.error:before {
    content: 'Regex error';
    font-size: 0.6rem;
    position: relative;
    top: -17px;
    margin-right: -50px;
    background: #333;
}
div.matches-list > ul > li > span.error {
    position: absolute;
    right: -400px;
    width: 400px;
    color: #bd3030;
    border: 1px dotted #bd3030;
    background: #333;
}