<!DOCTYPE html>
<!-- https://gist.github.com/889703 -->
<html>
<head>
    <meta charset="utf-8">
    <title>Blockcode</title>
    <style type="text/css"><!--
        * {
                        -moz-box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        margin: 0px;
                        padding: 0px;
                }
                /* */ -->
        </style>
        <link rel="stylesheet" href="blockcode.css" type="text/css" />

    <!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
    	<script type="text/javascript" src="iecompat.js"></script>
    <![endif]-->
    <script type="text/javascript" src="jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="blockcode.js"></script>
    <script type="text/javascript"><!--
	    $(document).ready(function() {
		addLineNumbers();
		setColumnWidths();
		setLineWidths();
		setPreHeights();
	    });
	    //-->
	</script>
</head>
<body>
    <p>Tässäpä mainio pätkä koodia! Kokeilehan toki.</p>
    
    <div class="blockcode">
    <section>
    <div class="heading">
    	<header>
	    	<h1 class="codeheading"><a href="esimerkki.py" title="Download esimerkki.py">&gt;&gt; esimerkki.py</a>&nbsp; – &nbsp;Python source code</h1>
    	</header>
    </div>
    <pre><code class="Python"># -*- coding: iso-8859-1 -*-
# Luodaan lista kalusteista ja tallennetaan se muuttujaan huonekalut
huonekalut = ["tuoli", "pöytä", "lamppu", "sänky", "peili"]

<span style="color: blue;">for</span> indeksi, kaluste in enumerate(huonekalut):
    print "Huonekalu nro. %d on %s" % (indeksi, kaluste)</code></pre>
    </section>
    </div>
    
    <p>Kuten varmaankin huomaat, harblarblararabrlarar. Sen sijaan tässä koodissa kaikki on toisin:</p>
    
    <div class="blockcode">
    <section>
    <div class="heading">
    	<header>
	    	<h1 class="codeheading"><a href="esimerkki.py" title="Download fasdfads.py">&gt;&gt; fasdfads.py</a>&nbsp; – &nbsp;Python source code</h1>
    	</header>
    </div>
	<div class="subheading">
    	<header>
    		<h2 class="codesubheading">Source code</h2>
    	</header>
    </div>
    <pre><code># -*- coding: utf-8 -*-
# An example function program
import sys

def print_numbers():
    """A function that, when called, prints the numbers from 1 to 10."""
    for x in range(1, 11):
    	print x

if __name__ == "__main__":
    print_numbers()
    sys.exit()</code></pre>
    <div class="subheading">
    	<header>
    		<h2 class="codesubheading">Program output</h2>
    	</header>
    </div>
    <pre><samp class="output">1
2
3
4
5
6
7
8
9
10</samp></pre>
    </section>
    </div>
    
    <p>Ja sama toisella tavalla:</p>
    
    <div class="blockcode">
    <section>
    <div class="heading">
    	<header>
	    	<h1 class="codeheading"><a href="esimerkki.py" title="Download fasdfads.py">&gt;&gt; fasdfads.py</a>&nbsp; – &nbsp;Python source code</h1>
    	</header>
    </div>
    <div class="subcolumn" style="float: left;">
	<div class="subheading">
    	<header>
    		<h2 class="codesubheading">Source code</h2>
    	</header>
    </div>
    <pre style="border-right: 1px solid grey;"><code># -*- coding: utf-8 -*-
# An example function program
import sys

def print_numbers():
    """A function that, when called, prints the numbers from 1 to 10."""
    for x in range(1, 11):
    	print x

if __name__ == "__main__":
    print_numbers()
    sys.exit()</code></pre>
    </div>
    <div class="subcolumn" style="float: right;">
    <div class="subheading">
    	<header>
    		<h2 class="codesubheading">Program output</h2>
    	</header>
    </div>
    <pre><samp class="output">1
2
3
4
5
6
7
8
9
10</samp></pre>
	</div>
    </section>
    </div>
</body>
</html>
