<!DOCTYPE html>
<html>
{% include "courses/meta.html" %}
<body>

<script language="javascript" type="text/javascript">
<!-- 
/* jQuery port of below
$(function() {
   $("
});

var mimetype = "application/x-www-form-urlencoded"; // Needed?
var csrftoken = "csrfmiddlewaretoken=" + document.getElementById('task_form').elements["csrfmiddlewaretoken"].value;

var dataString = csrftoken;
var datalen = len(csrftoken);

$.ajax({
     type: "POST",
     url: "{{ answer_check_url }}",
     data: dataString,
     success: function(data) {
         $('#result').html(data);
     }
});
return false;
*/

//Browser Support Code
function validateAnswer(e, task_name) {
        e.preventDefault(); // Prevent the form from submitting
	var ajaxRequest;
	
	try{
		// Opera 8.0+, Firefox, Safari
		ajaxRequest = new XMLHttpRequest();
	} catch (e){
		// Internet Explorer Browsers
		try{
			ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
		} catch (e) {
			try{
				ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
			} catch (e){
				// Something went wrong
				alert("Your browser doesn't support AJAX!");
				return false;
			}
		}
	}

        var mimetype = "application/x-www-form-urlencoded";

        var form = document.getElementById('task_form');
        var csrftoken = "csrfmiddlewaretoken=" + form.elements["csrfmiddlewaretoken"].value;

        //var task_name = $('div.question').attr('id');
        var task = $('div#' + task_name);
        var rbchoices = $('div#' + task_name + ' form#task_form input.task_radio'); //document.getElementsByName(''); // Radio
        var cbchoices = $('div#' + task_name + ' form#task_form input.task_check'); // Checkbox
        var answer = $('div#' + task_name + ' form#task_form textarea.task_text'); //document.getElementsByName(''); // Textarea
        var files = $('div#' + task_name + ' form#task_form input.task_file'); // Files

        var data = csrftoken;

        //alert(rbchoices.length);
        //alert(cbchoices.length);
        //alert(answer.length);

        //alert(task_name);

        for(var i=0; i < rbchoices.length; i++)
        {
            //alert(rbchoices[i].value + rbchoices[i].checked);
            data += "&" + rbchoices[i].value + "=" + rbchoices[i].checked;
        }

        for(var i=0; i < cbchoices.length; i++)
        {
            //alert(cbchoices[i].value + "=" + cbchoices[i].checked);
            data += "&" + cbchoices[i].value + "=" + cbchoices[i].checked;
        }
        if (answer.val())
        {
            data += "&" + "answer=" + answer.val();
        }

        var datalen = data.length;

        // Create a function that will receive data sent from the server
        ajaxRequest.onreadystatechange = function() {
	        if(ajaxRequest.readyState == 4 && ajaxRequest.status == 200) {
	                $('div#' + task_name + ' form div#result').html(ajaxRequest.responseText);
	        }
        }

        ajaxRequest.open("POST", "{{ answer_check_url }}" + task_name.replace(/_/g, " ") + "/", true);
        ajaxRequest.setRequestHeader("Content-type", mimetype);
        ajaxRequest.setRequestHeader("Content-length", datalen);
        ajaxRequest.setRequestHeader("Connection", "close");
        ajaxRequest.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest");
        ajaxRequest.send(data);
}


//-->
</script>

<div id="container">
	<header class="header"><!-- The RAiPPA header at the top of the page -->
		<heading>
			<hgroup>
				<!--<h1>RAiPPA</h1>-->
                                <img src="{{ STATIC_URL }}diamonds_logo.png" style="float: left; clear: both;" />
                                <h1>Training</h1>
				<!--<h2>Remote Automat in Programming Pre-exercise Assignments<br />
				<a class="easter_egg" href="http://www.hs.fi/fingerpori/1135248791558">Konevitsa</a> edition</h2>-->
			</hgroup>
		</heading>
		
                {% include "courses/login-box.html" %}
	</header>
	
	{% include "courses/nav-bar.html" %}

	<section class="page_content"><!-- The RAiPPA content -->
          {% if course_list %}
		<h1>Available trainings<!-- courses --></h1>
		<ul>
                  {% for course in course_list %}
                    <li><a href="/training/{{ course.name }}/">{{ course.name }}</a></li>
                  {% endfor %}
		</ul>
          {% endif %}
          
          {% if incarnation_list %}
                <h1>Please select</h1>
                <ul>
                  {% for incarnation in incarnation_list %}
                    <li><a href="/training/{{ course.name }}/{{ incarnation.name }}/">{{ incarnation.name }}</a></li>
                  {% endfor %}
                </ul>
          {% endif %}
          
          {% if content_list %}
                <!--<h1>Available content on this training<!-- course </h1>-->
                <h1>{{ incarnation.name }}</h1>
                <ul>
                  {% for content in content_list %}
                    <li><a href="/training/{{ course.name }}/{{ incarnation.name }}/{{ content.name }}/">{{ content.name }}</a></li>
                  {% endfor %}
                </ul>
          {% endif %}

          {% if content_tree %}
            <h1>Training path</h1>
            {% for list_direction in content_tree %}
              {% if list_direction == '>' %}
                <ul>
              {% elif list_direction == '<' %}
                </ul>
              {% else %}
                <li><a href="/training/{{ course.name }}/{{ incarnation.name }}/{{ list_direction.name }}/">{{ list_direction.name }}</a></li>
              {% endif %}
            {% endfor %}
          {% endif %}

          {% if course_graph_url %}
            <h1>{{ incarnation.name }}</h1>
            <div class="graph">
              <div id="canviz"></div>
            </div>
            <div id="debug_output"></div>
          {% endif %}

          {% if content %}
            {{ content|safe }}
            {% include "courses/task.html" %}
          {% endif %}
	</section>
	
	<footer><!-- The footer -->
		<div class="column0">
			<!-- RAiPPA -->Design & backend<br />
			Copyright &copy; 2012, Miikka Salminen
		</div>
		<div class="column1">
			Powered by Python, Django and jQuery.
		</div>
	</footer>
</div>

</body>
</html>
