<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  
  <meta name="description" content="RAiPPA Online Learning/Teaching Environment" />
  <meta name="keywords" content="RAiPPA,Python,tutorial" />
  <meta name="author" content="Miikka Salminen" />
  <meta name="application-name" content="RAiPPA programming task" />
  
  <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.png" type="image/png" />
  <link rel="stylesheet" href="{{ STATIC_URL }}raippa.css" type="text/css" />
  
  <script type="text/javascript" src="{{ STATIC_URL}}raippa.js" charset="UTF-8"></script>
  
  {% if title %}
    <title>Raippa - {{ title }}</title>
  {% else %}
    <title>Raippa</title>
  {% endif %}
</head>
