<head>
  {% include "courses/meta-block.html" %}
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  
  <meta name="description" content="RAiPPA Online Learning/Teaching Environment" />
  <meta name="keywords" content="RAiPPA,Python,tutorial" />
  <meta name="author" content="Miikka Salminen" />
  <meta name="application-name" content="RAiPPA programming task" />
  
  <link rel="shortcut icon" href="{{ STATIC_URL }}diamonds_logo.png" type="image/png" /><!-- favicon.png -->
  <link rel="stylesheet" href="{{ STATIC_URL }}raippa.css" type="text/css" />
  
  <script type="text/javascript" src="{{ STATIC_URL }}raippa.js" charset="UTF-8"></script>

  {% if course_graph_url %}
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <!--[if IE]><script type="text/javascript" src="../../excanvas/excanvas.js"></script><![endif]-->
    <script type="text/javascript" src="{{ STATIC_URL }}canviz-0.1/prototype/prototype.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}canviz-0.1/path/path.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}canviz-0.1/canviz.js"></script>
    <script type="text/javascript">
      document.observe('dom:loaded', function() {
        new Canviz('canviz', '{{ course_graph_url }}');
      });
    </script>
  {% endif %}
  
  {% if title %}
    <title>DIAMONDS Training - {{ title }}</title>
  {% else %}
    <title>DIAMONDS Training</title>
  {% endif %}
</head>
