$main-darkest-green:    #143a14;
$main-middle-green:     #2e862e;
$main-lightest-green:   #39ad39;

$content-item-green:    #caeaca; /* e.g. embedded page */
$content-subitem-green: #daeeda; /* e.g. embedded page question box */