{% block basic-stats %}
  <div style="width:100%; height:210px; display:table;">
    <div style="display:table-row;">
      <div style="display:table-cell;">
        <div>The task has been answered {{ answer_count }} times.</div>
        <div>The task has been answered by {{ user_count }} different user(s).</div>
        <div>The task has been answered correctly by {{ correctly_by }} different user(s).</div>
        <div>Average attempts per user: {{ answers_avg }} </div>
        <div>Standard deviation of attempts per user: {{ answers_sd }} </div>
        <div>Median attempts per user: (To be implemented) </div>
      </div>
      <div style="display:table-cell;">{{ piechart }}</div>
    </div>
  </div>
{% endblock %}
