{% extends 'stats/exercise_stats.html' %}

{% block general-info %}  
  <p>"{{ content.name }}" is a checkbox exercise.</p>
  {% if choices %}
  <table>
    <tr><th>Answer choice</th><th>Correct?</th></tr>
    {% for choice in choices %}
    <tr>
      <td>{{ choice }}</td>
      {% if choice.correct %}
      <td class="correct">{{ choice.correct }}</td>
      {% else %}
      <td class="incorrect">{{ choice.correct }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  It has no answer choices.
  {% endif %}
{% endblock %}

{% block exercise-stats %}
  <p>
    <div>The exercise has been answered {{ answer_count }} times.</div>
    <div>The exercise has been answered by {{ user_count }} different user(s).</div>
    <div>The exercise has been answered correctly by {{ correctly_by }} different user(s).</div>
    <div>Average attempts per user: {{ answers_avg }} </div>
    <div>Standard deviation of attempts per user: {{ answers_sd }} </div>
  </p>
  <table>
    <tr><th>User answer</th><th>Count</th><th>Correct?</th></tr>
    {% for answer, count, correct in answer_data %}
    <tr>
      <td>{{ answer }}</td>
      <td>{{ count }}</td>
      {% if correct %}
      <td class="correct">{{ correct }}</td>
      {% else %}
      <td class="incorrect">{{ correct }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
{% endblock %}
