{% extends 'courses/base.html' %}

{% load staticfiles %}

{% block extra-static %}
    <link rel="stylesheet" href="{% static 'stats/style.css' %}">
    <script src="{% static 'stats/script.js' %}"></script>
{% endblock %}

{% block page-title %}
  Statistics – {{ content.name }}
{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">Courses</a></li>
  <div class="separator">»</div>
  <li><a href="{% url 'courses:sandbox' content.slug %}">{{ content.name }}</a></li>
{% endblock %}

{% block page-content %}
  <h1 class="content-heading">Statistics for "{{ content.name }}"<span id="statistics" class="anchor-offset"></span></h1>
  <h2 class="content-heading">General exercise information<span id="general-info" class="anchor-offset"></span></h2>
  
  <p>"{{ content.name }}" is a {{ tasktype }}.</p>
  {% if choices %}
  <table class="fixed">
    <colgroup>
      <col class="answer">
      <col class="correct">
    </colgroup>
    <tr>
      <th>Answer choice</th>
      <th>Correct</th>
    </tr>
    {% for choice in choices %}
    <tr>
      <td class="answer">{{ choice }}</td>
      {% if choice.correct %}
      <td class="correct">{{ choice.correct }}</td>
      {% else %}
      <td class="incorrect">{{ choice.correct }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  
  {% if stats %}
  <h2 class="content-heading">User answer data<span id="user-answer-data" class="anchor-offset"></span></h2>
  {% block user-answer-data %}{% endblock %}
  {% endif %}
{% endblock %}
 
