{% extends 'stats/basic_answer_stats.html' %}

{% block extra-stats %}
  <div>Removed choices have been picked {{ answers_removed_count }} times.</div>
{% endblock %}

{% block user-answers %}
  {% if answer_data %}
  <table>
    <tr><th>User answer</th><th>Count</th><th>Correct?</th></tr>
    {% for answer, count, correct in answer_data %}
    <tr>
      <td>{{ answer }}</td>
      <td>{{ count }}</td>
      {% if correct %}
      <td class="correct">{{ correct }}</td>
      {% else %}
      <td class="incorrect">{{ correct }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% endif %}
{% endblock %}
