<div class="pie">
  <canvas id="canvas_{{ canvas_id }}" width="200" height="150">
    This text is displayed if your browser does not support HTML5 Canvas.
  </canvas>
</div>
<div class="pie-legend green">Correctly by: {{ correct_n }} ({{ correct_pct }}&#37;)</div>
<div class="pie-legend red">Incorrectly by: {{ incorrect_n }} ({{ incorrect_pct }}&#37;)</div>
<div class="pie-legend blue">Not answered: {{ not_answered_n }} ({{ not_answered_pct }}&#37;)</div>
<script type="text/javascript">
plotData([{{ correct_n }}, {{ incorrect_n }}, {{ not_answered_n }}], "canvas_{{ canvas_id }}");
</script>
