<style type="text/css">
    table {
        white-space: pre-wrap;
        max-width: 100%;
    }
    td {
        border: 1px solid #666;
    }
    .correct {
        color: #0C0;
    }
    .incorrect {
        color: #F00;
    }
    td.answer {
        word-wrap: break-word;
    }
</style>
<h1>Statistics for "{{ content.name }}"</h1>
<h2>General task information</h2>
{% if tasktype == "radiobutton" %}
  <p>
    "{{ content.name }}" is a radio button task.<br />
    {% if choices %}
      <table>
        <tr><th>Answer choice</th><th>Correct?</th></tr>
        {% for choice in choices %}
          <tr>
            <td>{{ choice }}</td>
            {% if choice.correct %}
              <td class="correct">{{ choice.correct }}</td>
            {% else %}
              <td class="incorrect">{{ choice.correct }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% else %}
      It has no answer choices.
    {% endif %}

    {% if radiobutton_answers_count %}
      The task has been answered {{ radiobutton_answers_count }} times.<br />
      <table>
        <tr><th>User answer</th><th>Count</th><th>Correct?</th></tr>
        {% for answer, count, correct in radiobutton_final %}
          <tr>
            <td>{{ answer }}</td>
            <td>{{ count }}</td>
            {% if correct %}
              <td class="correct">{{ correct }}</td>
            {% else %}
              <td class="incorrect">{{ correct }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </p>
{% elif tasktype == "checkbox" %}
  <p>
    "{{ content.name }}" is a check box task.<br />
    {% if choices %}
      <table>
        <tr><th>Answer choice</th><th>Correct?</th></tr>
        {% for choice in choices %}
          <tr>
            <td>{{ choice }}</td>
            {% if choice.correct %}
              <td class="correct">{{ choice.correct }}</td>
            {% else %}
              <td class="incorrect">{{ choice.correct }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% else %}
      It has no answer choices.
    {% endif %}
  </p>
{% elif tasktype == "textfield" %}
  <p>
    "{{ content.name }}" is a text field task.<br />
    {% if answers %}
      <table>
        <tr><th>Answer choice</th>
        <th>Correct?</th></tr>
        {% for answer in answers %}
          <tr>
            <td>{{ answer }}</td>
            {% if answer.correct %}
              <td class="correct">{{ answer.correct }}</td>
            {% else %}
              <td class="incorrect">{{ answer.correct }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </table>
    {% else %}
      It has no answer choices.
    {% endif %}

    {% if textfield_answers %}
      <div>The task has been answered {{ textfield_answers_count }} times.</div>
      <div>The task has been answered by {{ textfield_user_count }} different users.</div>
      <div>Average attempts per user: </div>
      <div>- Standard deviation: </div>
      <div>Median attempts per user: </div>
      <div>Hint coverage for incorrect answers: </div>
      <table>
        <tr><th>User answer</th><th>Count</th><th>Correct?</th><th>Hint given?</th><th>Latest answer</th></tr>
        {% for answer, count, correct, hinted, latest in textfield_final %}
          <tr>
            <td class="answer">{{ answer }}</td>
            <td>{{ count }}</td>
            {% if correct %}
              <td class="correct">{{ correct }}</td>
            {% else %}
              <td class="incorrect">{{ correct }}</td>
            {% endif %}
            <td>{{ hinted }}</td>
            <td>{{ latest|date:"Y-m-d, H:i:s" }}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}
  </p>
{% elif tasktype == "file" %}
  <p>
    "{{ content.name }}" is a file task.<br />
    The task has been answered {{ file_answers_count }} times.<br />
    The task has been answered by {{ file_user_count }} different users.<br />
    The task has been answered correctly by {{ file_correctly_by }} different users.<br />

  </p>
{% endif %}
