{% extends 'stats/basic_answer_stats.html' %}

{% block extra-stats %}
  <div>Hint coverage of unique incorrect answers: {{ hint_coverage_unique }}</div>
  <div>Hint coverage of all incorrect answers: {{ hint_coverage_given }}</div>
{% endblock %}

{% block user-answers %}  
  <table>
    <tr><th>User answer</th><th>Count</th><th>Correct?</th><th>Hint given?</th><th>Latest answer</th></tr>
    {% for answer, count, correct, hinted, latest in answer_data %}
    <tr>
      <td class="answer">{{ answer }}</td>
      <td>{{ count }}</td>
      {% if correct %}
      <td class="correct">{{ correct }}</td>
      {% else %}
      <td class="incorrect">{{ correct }}</td>
      {% endif %}
      <td>{{ hinted }}</td>
      <td>{{ latest|date:"Y-m-d, H:i:s" }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
