
caption {}
table.fixed {
    table-layout: fixed;
    width: 100%;
}
table.answers-table > tbody > tr:nth-child(odd) {
    /*background: #caeaca;*/
    background: #daeeda;
}

col.answer-date {
    width: 15%;
}
col.answer {}

col.evaluation {
    width: 12%;
}

col.actions-cell {
    width: 20%
}

tr:target {
    background: #efc !important; 
}

td.answer-date {
    text-align: center;
}
td.answer {}

td.answer.render-white-space {
    white-space: pre-wrap;
}

td.answer.monospace {
    font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
    font-size: 1.2rem;    
}

td.evaluation {
    text-align: center;
}
td.evaluation * {
    text-align: left;
}
td.correct > span {
    color: #3a3;
}
td.incorrect > span {
    color: #a33;
}
td.unknown > span {
    color: #aa3;
}
td.permalink {
    text-align: center;
}

div.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}
div.popup > div, div.popup > pre {
    width: 1200px;
    position: relative;
    margin: 10% auto;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
}
pre.fileview {
  /*display: none;*/
}
div.results-view {
  /*display: none;*/  
}
