div.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}
div.popup > div, div.popup > pre {
    width: 1220px;
    position: relative;
    margin: 1% auto;
    padding: 10px;
    border-radius: 10px;
    background: #eee;
}

