/*
 *
 *
 */
 
/* reset */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-image: url("noise-200x200-1.png");
    background-color: #143a14;
    height: 100%;
}

div#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
    height: 100%;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.9);
}

/* HEADER */
header {
    /* background: #052; */
    /*background: -moz-linear-gradient(top, rgba(46, 134, 46, 0.5), rgba(46, 134, 46, 0.9)),*/
    background-image: url("noise-200x200-1.png");
    background-color: #2e862e;
    /*
    background: -ms-linear-gradient(top, #242, #576);
    background: -o-linear-gradient(top, #242, #576);
    background: -webkit-linear-gradient(top, #242, #576);
    background: linear-gradient(top, #242, #576);
    */

    top: 0px;
    left: 0px;
    width: 100%;
    height: 2.5em;
}

div#container-top {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

    div#container-top hgroup {
        color: #222;
        font-family: "Arial Black";
        position: relative;
    }

    div#container-top hgroup h1 {
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);
        font-style: normal;
        font-weight: normal;
        font-size: 1.5em;
        display: inline-block;
    }
	
    div#container-top hgroup h2 {
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);
        font-style: italic;
        font-weight: normal;
        font-size: 1em;
        display: inline-block;
    }
	
    div#container-top div.user-actions {
        color: #eee;
        font-family: "Arial Black";
        font-size: 0.9em;
        position: absolute;
        top: 0;
        right: 0;
        
        height: 2.5rem;
        
        background: rgba(0, 0, 0, 0.1);
        z-index: 1;
        letter-spacing: 0.05em;
        word-spacing: 0.1em;
    }

    div#container-top div.user-actions > div {
        height: 100%;
        line-height: 100%;
        position: relative;
        display: inline-block;
        padding: 9px 4px;
        margin: 0 0 0 -1px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        text-align: center;
        vertical-align: middle;
    }
    div#container-top div.user-actions > div:hover {
        background: rgba(255, 255, 255, 0.3);
    }
    div#container-top div.user-actions > div:hover > a {
        color: #333;
    }

    div#container-top a {
        text-decoration: none;
    }
    div#container-top a:link {
        color: #ccc;
    }
    div#container-top a:visited {
        color: #ccc;
    }
    div#container-top a:hover {
        color: #333;
    }

/* NAVIGATION */
nav.breadcrumb {
    /*background: #b6ffb6;*/
    background-image: url("noise-200x200-1.png");
    background-color: #39ad39;
    left: 0px;
    height: 2em;
    padding: 4px;
    font-family: "Verdana";
    font-size: 9pt;
    font-weight: bold;
}

    nav.breadcrumb div {
        display: inline;
    }

    nav.breadcrumb div.nav-title {
        color: #666;
        margin-right: 5px;
    }

    nav.breadcrumb div.separator {
        margin-left: 5px;
        margin-right: 5px;
        display: inline;
    }

    nav.breadcrumb ul {
	position: relative;
	height: 18px;
        display: inline;
    }

        nav.breadcrumb ul li {
            list-style-type: none;
            display: inline;
            height: 100%;
        }

            nav.breadcrumb ul li.last {
                color: #444;
            }

            nav.breadcrumb ul li a {
                color: #000;
                text-decoration: underline;
            }

            nav.breadcrumb ul li a:hover {
                color: #da0;
                background: #040;
                text-decoration: underline;
            }

/* Table of Contents */
nav.toc {
    position: fixed;
    right: 2em;
    top: 2em;
    width: 300px;
    min-height: 80px;

    padding: 4px;

    background-color: #39ad39;
    color: #222;

    font-family: "DejaVu Sans", "Lucida Grande", "Verdana", "Ubuntu", "Arial", sans-serif;
    font-size: 0.8em;
    font-weight: normal;

    border: 1px solid #2e862e;
}

    nav.toc > div {
        font-weight: bold;
        border-bottom: 1px solid #222;
        margin-bottom: 4px;
    }
    nav.toc ol {
        margin-left: 1.5em;
    }
    nav.toc ol > li {
        margin-left: -1.5em;
        padding: 2px 0;
        /*margin-bottom: 4px;*/
        list-style-type: none;
    }
    nav.toc li.ol-container {
        }
    nav.toc a:link {
        color: #143a14;
    }
    nav.toc a:visited {
        color: #ad3939;
    }
    nav.toc li:hover {
        background-color: #59cd59;
    }
    nav.toc a:active {
        color: #eee;
    }

    nav.toc > progress {
        width: 100%;
        height: 4px;
        border: 1px solid #333;
        background-color: #eee;
    }
    nav.toc > progress::-moz-progress-bar {
        background-color: #ad3939;
    }

/* MAIN CONTENT */
section.content {
    position: relative;
    top: 0px;
    background: #eee;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-family: "DejaVu Sans", "Lucida Grande", "Verdana", "Ubuntu", "Arial", sans-serif;
    font-size: 1.0em;
    color: #222;
    line-height: 1.5;
    padding: 1em 2em 3em 120px;
    min-height: calc(100% - 4em); /* Header 6em, breadcrumbs 2em, footer 3em*/
    word-wrap: break-word;
}

    .course-contents {
        border: 1px solid #ccc;
        background: #cec;
        padding: 4px;
    }

    section.content h1, section.content h2, section.content h3, section.content h4, section.content h5, section.content h6 {
        font-family: "Trebuchet MS", "Helvetica", sans-serif;
        font-weight: normal;
        letter-spacing: 0.05em;
        word-spacing: 0.1em;
    }

    section.content h1:first-child, section.content h2:first-child, section.content h3:first-child, section.content h4:first-child, section.content h5:first-child, section.content h6:first-child {
        margin-top: 0;
    }

    section.content h1 {
        margin-top: 1em;
        font-size: 1.5em;
        letter-spacing: 0.07em;
        word-spacing: 0.2em;
	padding-bottom: 2px;
        border-bottom: 1px solid #888;
        margin-bottom: 1em;
        text-shadow: rgba(63, 63, 63, 0.5) 1px 1px 1px;
    }
    section.content h2 {
        font-size: 1.3em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        text-shadow: rgba(63, 63, 63, 0.5) 1px 1px 1px;
        font-weight: bold;
    }
    section.content h3 {
        font-size: 1.25em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        text-shadow: rgba(63, 63, 63, 0.5) 1px 1px 1px;
    }
    section.content h4 {
        font-size: 1.2em;
        letter-spacing: 0.03em;
        word-spacing: 0.07em;
        margin-bottom: 0.5em;
        font-weight: bold;
    }
    section.content h5 {
        font-size: 1.1em;
        margin-bottom: 0.5em;
    }
    section.content h6 {
        font-size: 1.0em;
        margin-bottom: 0.5em;
        font-weight: bold;
    }
    
    section.content > img {
        margin-top: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 1em;
    }

    section.content hr {
        margin-bottom: 1em;
        border: 0;
        height: 1px;
        background: #666;
        background-image: -moz-linear-gradient(left, #999, #666, #999);
    }

    section.content p {
        margin-bottom: 1em;
    }
    
    section.content div.normal {
        margin-bottom: 15px;
        margin-right: 15px;
    }

    section.content ul, section.content ol {
        margin-left: 1.5em;
        margin-bottom: 5px;
    }

    section.content ul > li, section.content ol > li {
        margin-left: 0;
        margin-bottom: 4px;
        padding-left: 5px;
    }

    section.content ul > ul, section.content ul > ol, section.content ol > ol, section.content ol > ul {
        margin-left: 3em;
        margin-bottom: 0;
    }

    section.content div.tex {
        margin-left: 8em;
    }

    section.content table {
        border-collapse: collapse;
        border: 1px solid #8a8;
        margin-bottom: 5px;
    }

    section.content table th, section.content table td {
        border: 1px solid #8a8;
        padding: 2px 4px 2px 4px;
    }

        section.content p code, section.content table * code,
        section.content ul * code, section.content ol * code {
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
            background: #e2e2e2;
            font-size: 1em;
            padding: 1px 3px;
            border: 1px solid #cacaca;
            border-radius: 3px;
            box-shadow: inset 0 0 5px #cacaca;
        }

        section.content * a {
            color: #143a14;
        }
        section.content * a:visited {
            color: #ad3939;
        }
        section.content * a:hover {
            color: #eee;
            background: #39ad39;
        }

        section.content p mark {
            background: #ff0;
        }

	section.content form.feedback {
	}

        section.content div.question {
            margin-bottom: 0px;
        }

        section.content form.task {
	    width: 100%;
        }

	section.content pre.normal {
		white-space: pre;
		overflow-x: auto;
		width: auto;
		background: #ccc;
		border: 1px dashed grey;
		text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
		font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
		font-size: 14.5px;
                margin-bottom: 10px;
                padding: 5px;
	}

        section.content pre.normal code {
            background: #ccc;
            font-family: inherit;
        }
        
        section.content div.embedded-page {
            border: 2px solid #d0d0d0;
            width: 100%;
            background: #caeaca;
            padding: 10px;
            margin-bottom: 1em;
        }

        section.content div.question {
            /*margin-bottom: 2em;*/
        }

        section.content div.question form {
            position: relative;
            margin-top: 5px;
            padding: 9px;
            border: 2px solid #d0d0d0;
            background: #daeeda;
        }

            section.content div.question form input[type=file], section.content div.question form input[type=submit] {
                font-family: "DejaVu Sans";
                font-size: 0.9em;
                min-width: 150px;
                line-height: 1.5;
            }

            section.content div.question form div.input-label-container {
                display: block;
                vertical-align: bottom;
            }

            section.content div.question form label {
                margin-left: 0.5em;
                line-height: 1.75;
                display: inline;
                vertical-align: middle;
            }

            section.content div.question form div.input-label-container > input {
                display: inline;
                vertical-align: middle;
            }

            section.content div.question form label.file {
                margin: 0;
                display: inline-block;
                clear: both;
                width: 180px;
            }

            section.content div.question form input.task_file {
                clear: both;
            }

            section.content div.question form div.answered_status {
                display: inline;
            }

            div.answered_status span.correct {
                color: green;
            }
            div.answered_status span.incorrect {
                color: red;
            }

       section.content div.auth_warning {
            font-weight: bold;
            color: red;
        }

        section.content div#result {
            width: 100%;
            /*padding-left: 32px;*/
        }

        section.content pre {
            width: auto;
        }

        section.content span.evaluation {
            font-weight: bold;
            font-size: 15px;
            vertical-align: middle;
        }
        section.content span.evaluation:before {
            content: ">>> roskaa";
            font-size: 19px;
            color: #aaa;
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
        }

        section.content div#result div.hintbox {
            
        }

        section.content div#result div.test {
            padding: 9px;
            border: 2px solid rgb(224,224,224);
            background: #e7ffe7;
        }            

        section.content div#result h_1 {
            font-size: 20px;
            margin-top: 16px;
            /*border-top: 1px solid grey;*/
        }
        section.content div#result h_2 {
            margin-top: 8px;
            font-size: 18px;
        }
        section.content div#result h_3 {
            font-size: 16px;
        }
        section.content div#result h3 span.command {
            white-space: pre;
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
        }

        /* 
         * The results table
         */

        section.content div#result table {
            table-layout: fixed;
            width: 100%;
        }

        section.content div#result table colgroup.student col.lnum {
            width: 38px;
        }
        section.content div#result table colgroup.student {
            width: 50%;
        }
        section.content div#result table colgroup.expected col.lnum {
            width: 38px;
        }
        section.content div#result table colgroup.expected {
            width: 50%;
        }

        section.content div#result table th {
            background: #ccc;
        }

        section.content div#result table td {
            white-space: pre-wrap;
            overflow-x: hidden;
            word-wrap: break-word;
            font-weight: normal;
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
        }

        section.content div#result table td.diff_next {
            width: 10px;
        }

        section.content div#result table td.diff_header {
            width: 20px;
        }

        section.content div#result table th.diff_header {
            /*width: 500px;*/
        }

        section.content div#result table span.diff_sub {
            background: #f99;
        }

        section.content div#result table span.diff_chg {
            background: #99f;
        }

        section.content div#result table span.diff_add {
            background: #9f9;
        }

    section.content a.permalink {
        position: relative;
        top: -1px;
        font-size: 0.8em;
        text-shadow: none;
        text-decoration: none;
        padding: 2px 4px;
        margin-left: 4px;
        color: transparent;
    }
    section.content a.permalink:hover {
        color: #39ad39;
        background-color: transparent;
    }

    section.content div.task-meta-container {
        font-size: 0.7em;
    }
    
    section.content div.task-meta {
        position: absolute;
        width: 112px;
        left: -128px;
        top: -12px;
        margin-right: 128px;
        border: 2px solid #d0d0d0;
        padding: 4px;
        text-align: center;

        background: #eee;
    }

    section.content > div.task-meta-container > div.task-meta {
        left: -120px;
    }
    
    section.content div.task-meta hr {
        margin: 3px 6px;
        height: 1px;
        border: 0;
        color: #333;
        background: #000;
    }

    section.content div.task-meta > div.admin-tools {

        padding: 0;
        background: #eee;
    }
        section.content div.admin-tools h1 {
            font-size: 1em;
        }

/* FOOTER */
footer {
    font-family: "DejaVu Sans", "Verdana", sans-serif;
    font-size: 0.8rem;
    color: #111;
    background-image: url("noise-200x200-1.png");
    background-color: #39ad39;
    position: relative;
    bottom: 0;
    height: 3em;
    margin-top: -3em;
    width: 100%;
    padding: 6px;
}

    footer div {
	padding-right: 60px;
	float: left;
    }
