/*
 *
 *
 */
 
/* reset */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html {
    height: 100%;
}

body {
    background-image: url("200-90-15-monochrome.png");
    background-color: #143a14;
    height: 100%;
}

div#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
    height: 100%;
}

/* HEADER */
header {
    /* background: #052; */
    /*background: -moz-linear-gradient(top, rgba(46, 134, 46, 0.5), rgba(46, 134, 46, 0.9)),*/
    background-image: url("200-90-15-monochrome.png");
    background-color: #2e862e;
    /*
    background: -ms-linear-gradient(top, #242, #576);
    background: -o-linear-gradient(top, #242, #576);
    background: -webkit-linear-gradient(top, #242, #576);
    background: linear-gradient(top, #242, #576);
    */

    top: 0px;
    left: 0px;
    width: 100%;
    height: 6em;
}

div#container-top {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

    div#container-top heading {
        color: #143a14;
        font-family: arial;
        position: relative;

        top: 20px;
        /*text-align: center;*/
    }

    div#container-top heading h1 {
        text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        display: inline-block;
    }
	
    div#container-top heading h2 {
        text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.9);
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        display: inline-block;
        padding-left: 20px;
        margin-top: -20px;
    }
	
    div#container-top div.login form fieldset {
        color: #eee;
        font-family: arial;
        font-size: 12px;
        position: absolute;
        right: 5px;
        top: 5px;
        padding: 5px;
        height: 90px;
        border: 1px solid #eee;
        -moz-border-radius: 10px;
        border-radius: 10px;
        width: 200px;
        background: #5a7760;
    }

    div#container-top div.login form fieldset legend {
        font-size: 15px;
        font-weight: bold;
    }

    div#container-top div.login form fieldset div {
        position: relative;
        left: 5px;
        bottom: 5px;
    }
    div#container-top div.login form fieldset a {
        color: #6cf;
    }
    div#container-top div.login form fieldset a:visited {
        color: #faf;
    }

    div#container-top div.login form label {
        display: block;
        float: left;
        width: 80px;
        text-align: right;
    }
	
    div#container-top div.login form {
        width: auto;
    }
	
    div#container-top div.login form input#loginbutton {
        float: right;
    }

/* NAVIGATION */
nav.breadcrumb {
    /*background: #b6ffb6;*/
    background-image: url("200-90-15-monochrome.png");
    background-color: #39ad39;
    left: 0px;
    height: 2em;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}

    nav.breadcrumb div {
        display: inline;
    }

    nav.breadcrumb div.nav-title {
        color: #666;
        margin-right: 5px;
    }

    nav.breadcrumb div.separator {
        margin-left: 5px;
        margin-right: 5px;
        display: inline;
    }

    nav.breadcrumb ul {
	position: relative;
	height: 18px;
        display: inline;
    }

        nav.breadcrumb ul li {
            list-style-type: none;
            display: inline;
            height: 100%;
        }

            nav.breadcrumb ul li.last {
                color: #444;
            }

            nav.breadcrumb ul li a {
                color: #000;
                text-decoration: underline;
            }

            nav.breadcrumb ul li a:hover {
                color: #da0;
                background: #040;
                text-decoration: underline;
            }

/* MAIN CONTENT */
section.content {
    top: 0px;
    background: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-family: arial;
    font-size: 15px;
    line-height: 120%;
    padding-bottom: 3em; /* Size of footer */
    min-height: calc(100% - 8em); /* Header 6em, breadcrumbs 2em, footer 3em*/
    word-wrap: break-word;
}
    section.content h1, section.content h2, section.content h3, section.content h4, section.content h5, section.content h6 {
        font-family: "Trebuchet MS", "Helvetica", sans-serif;
        font-weight: normal;
        margin-bottom: 1em;
    }

    section.content h1 {
        font-size: 24.0px;
        margin-top: 1em;
	margin-left: -25px;
	padding-bottom: 2px;
        border-bottom: 1px solid #888;
        text-shadow: rgba(127, 127, 127, 63) 1px 1px 1px;
        /*text-decoration: underline;*/
    }
    section.content h2 {
        font-size: 22px;
        margin-top: 24px;
	margin-left: -15px;
        text-shadow: rgba(127, 127, 127, 63) 1px 1px 1px;
    }
    section.content h3 {
        font-size: 18px;
        margin-top: 24px;
        text-shadow: rgba(127, 127, 127, 127) 1px 1px 1px;
    }
    section.content h4 {
        font-size: 16px;
        margin-bottom: 0.5em;
        font-weight: bold;
    }
    section.content h5 {
        font-size: 15px;
        margin-bottom: 0.5em;
        font-weight: bold;
    }
    section.content h6 {
        font-size: 14px;
        margin-bottom: 0.5em:
        font-weight: bold;
    }
    
    section.content > img {
        margin-top: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 1em;
    }

    section.content hr {
        margin-bottom: 10px;
        margin-left: -16px;
        height: 1px;
        color: #000;
        background: #000;
    }

    section.content p {
        margin-bottom: 8px;
    }
    
    section.content div.normal {
        margin-bottom: 15px;
        margin-right: 15px;
    }

    section.content ul, section.content ol {
        margin-left: 1.5em;
        margin-bottom: 5px;
    }

    section.content ul > li, section.content ol > li {
        margin-bottom: 4px;
    }
        
    section.content * ul ul, section.content * ul ol, section.content * ol ol, section.content * ol ul {
        margin-left: 1.5em;
        margin-bottom: 0px;
    }

    section.content table {
        border-collapse: collapse;
        border: 1px solid #8a8;
        margin-bottom: 5px;
    }

    section.content table th, section.content table td {
        border: 1px solid #8a8;
        padding: 2px 4px 2px 4px;
    }

        section.content p code, section.content table * code, section.content ul * code {
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
            background: #ffb;
            font-size: 14.5px;
            border-top: 1px;
            border-bottom: 1px;
            border-left: 0;
            border-right: 0;
            border-style: dashed;
            border-color: #bbb;
        }

        section.content * a {
            color: #282;
        }
        section.content * a:visited {
            color: #828;
        }
        section.content * a:hover {
            color: #fff;
            background: #282;
        }

        section.content p mark {
            background: #ff0;
        }

	section.content form.feedback {
	}

        section.content div.question {
            margin-bottom: 0px;
        }

        section.content form.task {
	    width: 100%;
        }

	section.content pre.normal {
		white-space: pre;
		overflow-x: auto;
		width: auto;
		background: #ccc;
		border: 1px dashed grey;
		text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
		font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
		font-size: 14.5px;
                margin-bottom: 10px;
                padding: 5px;
	}

        section.content pre.normal code {
            background: #ccc;
            font-family: inherit;
        }
        
        section.content div.embedded_task {
            border: 1px solid #ebebeb;
            width: 100%;
            background: #daffda;
            padding: 10px;
            margin-bottom: 10px;
        }

 	section.content div.embedded_task h1 {
	    margin-left: 0px;
	}

 	section.content div.embedded_task h2 {
	    margin-left: 0px;
	}


        section.content div.question {
            margin-bottom: 16px;
        }

        section.content div.question form {
            margin-top: 5px;
            padding: 9px;
            border: 2px solid rgb(224,224,224);
            border-radius: 0px 15px 0px 15px;
            background: #eeffee;
        }

            section.content div.question form label.file {
                display: inline-block;
                clear: both;
                width: 160px;
            }

            section.content div.question form input.task_file {
                clear: both;
            }

            section.content div.question form div.answered_status {
                display: inline;
            }

            div.answered_status span.correct {
                color: green;
            }
            div.answered_status span.incorrect {
                color: red;
            }

       section.content div.auth_warning {
            font-weight: bold;
            color: red;
        }

        section.content div#result {
            width: 100%;
            /*padding-left: 32px;*/
        }

        section.content pre {
            width: auto;
        }

        section.content span.evaluation {
            font-weight: bold;
            font-size: 15px;
            vertical-align: middle;
        }
        section.content span.evaluation:before {
            content: ">>>";
            font-size: 19px;
            color: #aaa;
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
        }

        section.content div#result div.hintbox {
            
        }

        section.content div#result div.test {
            padding: 9px;
            border: 2px solid rgb(224,224,224);
            background: #e7ffe7;
        }            

        section.content div#result h_1 {
            font-size: 20px;
            margin-top: 16px;
            /*border-top: 1px solid grey;*/
        }
        section.content div#result h_2 {
            margin-top: 8px;
            font-size: 18px;
        }
        section.content div#result h_3 {
            font-size: 16px;
        }
        section.content div#result h3 span.command {
            white-space: pre;
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
        }

        /* 
         * The results table
         */

        section.content div#result table {
            table-layout: fixed;
            width: 100%;
        }

        section.content div#result table colgroup.student col.lnum {
            width: 38px;
        }
        section.content div#result table colgroup.student {
            width: 50%;
        }
        section.content div#result table colgroup.expected col.lnum {
            width: 38px;
        }
        section.content div#result table colgroup.expected {
            width: 50%;
        }

        section.content div#result table th {
            background: #ccc;
        }

        section.content div#result table td {
            white-space: pre-wrap;
            overflow-x: hidden;
            word-wrap: break-word;
            font-weight: normal;
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
        }

        section.content div#result table td.diff_next {
            width: 10px;
        }

        section.content div#result table td.diff_header {
            width: 20px;
        }

        section.content div#result table th.diff_header {
            /*width: 500px;*/
        }

        section.content div#result table span.diff_sub {
            background: #f99;
        }

        section.content div#result table span.diff_chg {
            background: #99f;
        }

        section.content div#result table span.diff_add {
            background: #9f9;
        }
    
    section.content div.admin_tools {
        margin-top: 32px;
        margin-bottom: 10px;
        padding: 9px;
        border: 2px solid rgb(224,224,224);
        border-radius: 0px 15px 0px 15px;
        background: #eeffee;
        width: 100%;
    }
        section.content div.admin_tools h1 {
            font-size: 16px;
            margin-left: 0px;
        }

    section.content div.task-meta {
        position: absolute;
        width: 120px;
        left: -130px;
        top: -10px;
        margin-right: 120px;
        background: #0cffcc;
        font-size: 0.8em;
    }
    
    section.content div.task-meta hr {
        margin: 3px 6px;
        height: 1px;
        border: 0px;
        color: #000;
        background: #000;
    }

/* FOOTER */
footer {
	font-family: arial, sans-serif;
	font-size: 12px;
	background: #b6ffb6;
        position: relative;
        bottom: 0;
	height: 3em;
        margin-top: -3em;
        width: 100%;
}

	footer div {
		padding-right: 60px;
		float: left;
	}
