div#container {
    margin-left: 0;
}

div#container-top {
    margin-left: 0;
}

nav.breadcrumb div.top-nav-container {
    margin-left: 0;
}

button.expand-box, button.retract-box {
    display: block;
}

div.termbank {
    left: 1160px;
    top: calc(4rem + 455px);
    width: 300px;
    font-size: 0.65em;
    line-height: 1.25;
}

div.toc-box {
    left: 1160px;
    top: 4rem;
    width: 300px;
    font-size: 0.65em;
    line-height: 1.25;
}

nav.toc ol {
    margin-left: 1em;
}
nav.toc ol > li {
    margin-left: -1em;
}
nav.toc li > img {
    top: 0;
}

