/*
 *
 *
 */
 
/* reset */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    height: 100%;
}

body {
    background-image: url(noise-200x200-1.png);
    background-color: #143a14;
    height: 100%;
}

div#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
    height: 100%;
}

div#cookie-law-message {
    width: 100%;
    position: absolute;
    height: 4rem;
}

div#cookie-law-message > div {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    position: relative;
    z-index: 100;
    background: #39ad39;
    border: 2px solid #333;
    height: 100%;
    padding: 4px;
}
div#cookie-law-message > div > p {
    font-family: "DejaVu Sans", "Open Sans", "Verdana", "Ubuntu", "Arial", sans-serif;
    font-size: 1.0em;
    font-weight: normal;
    color: #222;
}
div#cookie-law-message > div > button {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 101;
    font-family: "DejaVu Sans", "Open Sans", "Verdana", "Ubuntu", "Arial", sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    color: #222;
    padding: 1px;
}
div#cookie-law-message * a {
    color: #143a14;
}
div#cookie-law-message * a:visited {
    color: #ad3939;
}
div#cookie-law-message * a:hover {
    color: #eee;
}

/* HEADER */
header.top-header {
    background: #2e862e;
    background-image: url(noise-200x200-1.png);
    background-image: url(noise-200x200-1.png), linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,0.06));

    top: 0px;
    left: 0px;
    width: 100%;
    height: 2.5rem;

    position: fixed;
    z-index: 2;

    border-bottom: 1px solid #143a14;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

div#container-top {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1000px;
}

    div#container-top div.page-title {
        color: #444;
        text-shadow: -1px 0 0 #000, 0 1px 0 #000, 1px 0 0 #000, 0 -1px 0 #000,
        0.5px 0 0 #000, 0 0.5px 0 #000, 0.5px 0 0 #000, 0 -0.5px 0 #000;
        font-family: "Cinzel", serif;
        position: relative;
    }

    div#container-top div.page-title > h1 {
        font-style: normal;
        font-weight: normal;
        font-size: 2.0rem;
        display: inline-block;
        letter-spacing: -0.05em;
    }
	
    /*div#container-top div.page-title > h2 {
        font-style: italic;
        font-weight: normal;
        font-size: 0.9rem;
        display: inline-block;
    }*/
	
    div#container-top div.user-actions {
        color: #eee;
        font-family: "Verdana";
        font-weight: bold;
        font-size: 0.90rem;
        text-shadow: 1px 0px 0 rgba(200, 200, 200, 1.0),
                     2px 0px 1px rgba(0, 0, 0, 1.0);
        
        position: absolute;
        top: 0;
        right: 0;
        height: 2.5rem;
        
        background: rgba(0, 0, 0, 0);
        z-index: 2;
        letter-spacing: 0.05em;
        word-spacing: 0.1em;
    }

    div#container-top div.side-by-side-top,
    div#container-top div.user-actions > a {
        height: 2.5rem;
        display: inline-block;
        vertical-align: top;
    }
    div#container-top div.user-actions > a {
        margin-left: 4px;
    }

    div#container-top div.user-actions div.user-action,
    div#container-top div.user-actions div.user-inaction {
        height: 2rem;
        position: relative;
        padding: 0.40rem 0.25rem 0 0.25rem;
        margin: 4px 0;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
    }
    div#container-top div.user-actions div.user-action {
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.15);
    }
    div#container-top div.user-actions div.user-inaction {
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 8px;
    }

    div#container-top div.vertical-separator {
        border-left: 1px solid #143a14;
        box-shadow: 0 0 2px rgba(0,0,0,0.7);
        margin: 4px 4px 0 4px;
        height: 2rem;        
        position: relative;
    }

    div#container-top a:link {
        color: #ccc;
        text-decoration: none;
    }
    div#container-top a:visited {
        color: #ccc;
        text-decoration: none;
    }
    div#container-top a > div.user-action:hover {
        color: #ccc;
        text-shadow: 1px 0px 0 rgba(200, 200, 200, 1.0),
                     2px 0px 1px rgba(0, 0, 0, 1.0);
        background: rgba(0, 0, 0, 0.25);
    }

    div#user-menu {
        position: relative;
        display: none;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        top: -4px;
        right: 12.5rem;
    }
    div#user-menu > div {
        position: absolute;
        width: 15rem;
        background: #39ad39;
        border: 1px solid #2e862e;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    }
    div#user-menu > div > div {
        padding: 4px 4px;
        background: #39ad39;
        border: 1px solid #39ad39;
        border-radius: 4px;
    }
    div#user-menu > div > div > a {
        padding: 2px;
    }
    div#user-menu > div > div:hover {
        background: #59cd59;
        border: 1px solid #59cd59;
        border-radius: 4px;
    }
    div#user-menu > div > div:hover > a {
        color: #eee;
    }
    #user-menu-arrow {
        cursor: pointer;
    }

/* NAVIGATION */
nav.breadcrumb {
    background-color: #39ad39;
    background-image: url(noise-200x200-1.png);
    background-image: url(noise-200x200-1.png), linear-gradient(to bottom, rgba(0,0,0,0) 65%, rgba(0,0,0,0.11));

    left: 0px;
    top: 2.5rem;
    width: 100%;
    height: 1.5rem;
    position: fixed;
    z-index: 1;

    border-bottom: 1px solid #2e862e; /* #143a14; */
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    padding-top: 4px;
    font-family: "Open Sans", "Verdana";
    font-size: 0.8rem;
    font-weight: bold;
    color: #222;
}

    nav.breadcrumb div.top-nav-container {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        position: relative;
    }

    nav.breadcrumb ul {/*
        margin-left: auto;
        margin-right: auto;
        width: 1000px;*/
    }

    nav.breadcrumb ul div {
        display: inline;
    }

    nav.breadcrumb ul div.separator {
        margin-left: 5px;
        margin-right: 5px;
        display: inline;
    }

        nav.breadcrumb ul li {
            list-style-type: none;
            display: inline;
            height: 100%;            
        }

            nav.breadcrumb ul li.last {
                color: #444;
            }

            nav.breadcrumb ul li a {
                color: #222;
                text-decoration: underline;
                border: 1px solid rgba(0,0,0,0);
                border-radius: 3px;
            }

            nav.breadcrumb ul li a:hover {
                color: #222;
                background-color: #59cd59;
                text-decoration: underline;
            }

    nav.breadcrumb div.right-side {
        position: absolute;
        right: 0px;
        top: -4px;
        width: 150px;
        height: 24px;
        margin: 0;
        padding: 0;
    }
    nav.breadcrumb div.vertical-separator {
        border-left: 1px solid #143a14;
        box-shadow: 0 0 2px rgba(0,0,0,0.7);
        height: 24px;
        display: inline-block;
    }
    nav.breadcrumb img {
        display: inline-block;
        position: relative;
        padding: 0 2px;
    }
    nav.breadcrumb form {
        display: inline-block;
        position: relative;
        height: 24px;
        width: 120px;
        padding-right: 40px;
        margin: 0;
    }
    nav.breadcrumb form select {
        border: 1px solid #143a14;
        background: #39ad39;
        display: inline-block;
        position: relative;
        height: 20px;
        top: -7px;
        width: 118px;
        padding: 0;
        margin: 0;
        font-size: 0.8rem;
        font-family: "Verdana";
    }

 /* Termbank */
div.termbank {
    position: fixed;
    left: 1.5rem;
    top: 5.5rem;
    
    width: 360px;
    min-height: 80px;

    background-color: #39ad39;
    color: #222;
    z-index: 2;

    font-family: "DejaVu Sans", "Open Sans", "Verdana", "Ubuntu", "Arial", sans-serif;
    font-size: 0.8em;
    font-weight: normal;

    border: 1px solid #2e862e;
}
    div.termbank div.termbank-contents {
        padding: 4px;
    }

    div.termbank-contents div.termbank-heading {
        font-weight: bold;
        border-bottom: 1px solid #222;
        margin-bottom: 4px;
    }

    div.termbank-contents div.list-div {
        font-weight: normal;
        border: 0;
        margin: 0;
    }
    
    div.termbank-contents ul > li {
        padding: 2px 1px;
        list-style-type: none;
        position: relative;
        border-radius: 2px;
    }
    
/* Table of Contents */
div.toc-box {
    position: fixed;
    right: 1.5rem;
    top: 5.5rem;
    
    width: 360px;
    min-height: 80px;

    background-color: #39ad39;
    color: #222;
    z-index: 1;

    font-family: "DejaVu Sans", "Open Sans", "Verdana", "Ubuntu", "Arial", sans-serif;
    font-size: 0.8em;
    font-weight: normal;

    border: 1px solid #2e862e;
}

    div.toc-box nav.toc {
            padding: 4px;
    }

    div.toc-box div.toc-box-heading {
        font-weight: bold;
        border-bottom: 1px solid #222;
        margin-bottom: 4px;
    }
    div.toc-box-progress-info {
        font-weight: bold;
        font-size: 0.7rem;
        text-align: center;
        margin-bottom: -8px;
    }
    nav.toc div.list-div {
        font-weight: normal;
        border: 0;
        margin: 0;
    }
    nav.toc ol {
        margin-left: 1.5em;
    }
    nav.toc ol > li {
        margin-left: -1.5em;
        padding: 2px 1px;
        /*margin-bottom: 4px;*/
        list-style-type: none;
        position: relative;
        border-radius: 2px;
    }
    nav.toc li.toc-visible {
        background-color: #99cc99;
    }
    nav.toc li.ol-container {
        }
    nav.toc a:link {
        color: #143a14;
        padding-right: 16px;
    }
    nav.toc a:visited {
        color: #ad3939;
    }
    nav.toc li:hover {
        background-color: #59cd59;
    }
    nav.toc a:active {
        color: #ddd;
    }
    nav.toc li > img {
        padding: 0px;
        margin: 0;
        position: absolute;
        right: 2px;
        top: 2px;
    }

    div.toc-box > div.progress-container {
        border-top: 1px solid #2e862e;
        padding: 4px;
    }

    div.toc-box progress {
        width: 100%;
        height: 4px;
        border: 1px solid #333;
        background-color: #eee;
    }
    div.toc-box progress::-moz-progress-bar {
        background-color: #ad3939;
    }
    div.toc-box progress::-webkit-progress-bar {
        background-color: #eee;
    }
    div.toc-box progress::-webkit-progress-value {
        background-color: #ad3939;
    }

div.term-descriptions {
    font-family: "DejaVu Sans", "Open Sans", "Verdana", "Ubuntu", "Arial", sans-serif;
    font-size: 1.0em;
    color: #222;
    line-height: 1.5;
    word-wrap: break-word;
}
    
/* MAIN CONTENT */
section.content {
    position: relative;
    top: 4rem;
    background: #eee;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.9);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    font-family: "DejaVu Sans", "Open Sans", "Verdana", "Ubuntu", "Arial", sans-serif;
    font-size: 1.0em;
    color: #222;
    line-height: 1.5;
    padding: 1em 2em 3em 120px;
    min-height: calc(100% - 4rem); /* Header 6em, breadcrumbs 2em, footer 3em*/
    word-wrap: break-word;
}

    div.revision-info {
        position: relative;
        border: 2px dashed #f66;
        background: #fe9;
        color: #922;
        font-size: 1.25rem;
        font-weight: bold;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        top: -1rem;
        padding-left: 120px;
        left: -120px;
        width: 1000px;
    }

    div.revision-info-embedded { /* TODO: sync with revision-info in .scss transition */
        position: relative;
        border: 2px dashed #f66;
        background: #fe9;
        color: #922;
        font-size: 0.9rem;
        font-weight: bold;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        top: -12px;
        padding-left: 12px;
        margin: 0;
        left: -12px; /* get from embedded page margin */
        width: 848px; /* get from embedded page width */
    }

    div.course-contents {
        border: 1px solid #ccc;
        background: #cec;
        padding: 4px;
        margin-bottom: 1em;
    }

    div.course-contents li {
        position: relative;
        border: 0;
        border-top: 1px solid transparent;
        border-image: linear-gradient(to right, rgba(0, 0, 0, 0.02), rgba(0, 0, 0, 0.04), rgba(31, 31, 31, 0.2)) 1 stretch;
    }

    div.course-contents progress.course-contents-progress {
        -moz-appearance: none;
        -webkit-appearance: none;
        position: absolute;
        right: 24px;
        top: 0.6em;
        width: 200px;
        height: 7px;
        border: 1px solid #ccc;
        background-color: #eee;
    }
    div.course-contents progress.course-contents-progress[value] {
        -webkit-appearance: none;
    }
    div.course-contents progress.course-contents-progress::-moz-progress-bar {
        background-color: #39ad39;
    }
    div.course-contents progress.course-contents-progress::-webkit-progress-bar {
        background-color: #eee;
    }
    div.course-contents progress.course-contents-progress::-webkit-progress-value {
        background-color: #39ad39;
    }

    div.course-contents img.course-contents-result {
        position: absolute;
        right: 24px;
        top: 4px;
    }

    section.content h1, section.content h2, section.content h3, section.content h4, section.content h5, section.content h6 {
        font-family: "Trebuchet MS", "Helvetica", sans-serif;
        font-weight: normal;
        letter-spacing: 0.05em;
        word-spacing: 0.1em;
    }

    section.content span.anchor-offset {
        width: 0;
        height: 0;
        padding-top: 4rem;
        margin-top: -4rem;
        display: none;
    }

    section.content h1:first-child, section.content h2:first-child, section.content h3:first-child, section.content h4:first-child, section.content h5:first-child, section.content h6:first-child, .task-meta-container + h1, .task-meta-container + h2, .task-meta-container + h3, .task-meta-container + h4, .task-meta-container + h5, .task-meta-container + h6 {
        margin-top: 0 !important;
    }

    section.content h1 {
        margin-top: 1em;
        font-size: 1.5em;
        letter-spacing: 0.07em;
        word-spacing: 0.2em;
	padding-bottom: 2px;
        border-bottom: 1px solid #888;
        margin-bottom: 1em;
        text-shadow: rgba(63, 63, 63, 0.5) 1px 1px 1px;
    }
    section.content h2 {
        font-size: 1.3em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        text-shadow: rgba(63, 63, 63, 0.5) 1px 1px 1px;
        font-weight: bold;
    }
    section.content h3 {
        font-size: 1.25em;
        margin-top: 1em;
        margin-bottom: 0.5em;
        text-shadow: rgba(63, 63, 63, 0.5) 1px 1px 1px;
    }
    section.content h4 {
        font-size: 1.2em;
        letter-spacing: 0.03em;
        word-spacing: 0.07em;
        margin-bottom: 0.5em;
        font-weight: bold;
    }
    section.content h5 {
        font-size: 1.1em;
        margin-bottom: 0.5em;
    }
    section.content h6 {
        font-size: 1.0em;
        margin-bottom: 0.5em;
        font-weight: bold;
    }

    figure {
        margin-top: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 1em;
        display: table;
        width: 1px;
    }
    
    img.content-img {
        margin-top: 0.5em;
        margin-left: 0.5em;
        margin-bottom: 1em;
        display: block;
    }
    img.figure-img {
        display: block;
    }

    figcaption {
        display: table-caption;
        caption-side: bottom;
    }

    .centered-block-outer {
        overflow: hidden;
        position: relative;
    }
    .centered-block-middle {
        float: left;
        position: relative;
        left: 50%;
    }
    .centered-block-inner {
        position: relative;
        left: -50%;
    }

    section.content hr {
        margin-bottom: 1em;
        border: 0;
        height: 1px;
        background: #666;
        background-image: -moz-linear-gradient(left, #999, #666, #999);
    }

    section.content p {
        margin-bottom: 1em;
    }
    
    section.content div.normal {
        margin-bottom: 15px;
        margin-right: 15px;
    }

    section.content ul, section.content ol {
        margin-left: 1.5em;
        margin-bottom: 5px;
    }

    section.content ul > li, section.content ol > li {
        margin-left: 0;
        margin-bottom: 4px;
        padding-left: 5px;
    }

    section.content ul > ul, section.content ul > ol, section.content ol > ol, section.content ol > ul {
        margin-left: 3em;
        margin-bottom: 0;
    }

    section.content div.tex {
        margin-left: 8em;
    }

    section.content table {
        border-collapse: collapse;
        border: 1px solid #8a8;
        margin-bottom: 5px;
    }

    section.content table th, section.content table td {
        border: 1px solid #8a8;
        padding: 2px 4px 2px 4px;
    }

        section.content p code, section.content table * code,
        section.content ul * code, section.content ol * code {
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
            background: #e2e2e2;
            font-size: 1em;
            padding: 1px 3px;
            border: 1px solid #cacaca;
            border-radius: 3px;
            box-shadow: inset 0 0 5px #cacaca;
        }

        section.content * a {
            padding: 0 1px;
            margin-left: -1px;
            margin-right: -1px;
            color: #143a14;
        }
        section.content * a:visited {
            color: #ad3939;
        }
        section.content * a:hover {
            color: #222;
            background-color: #59cd59;
            border-radius: 3px;
        }

        section.content p mark {
            background: #59cd59;
            border-radius: 7px;
            padding: 2px 4px;
        }
        section.content p mark.hint {
            background: inherit;
            border-radius: 7px;
            padding: 2px 4px;
            animation: hint_background 2s linear infinite;
        }
        @keyframes hint_background {
            0% {background: #f33;}
            50% {background: #fe3;}
            100% {background: #f33;}
        }

        section.content kbd { /* .key */
            padding: 4px 3px;
            margin-right: 1px;
            border: 1px solid #c6c6c6;
            border-radius: 3px;
            box-shadow: 1px 1px 1px rgba(127, 127, 127, 0.2), inset 0 0 6px #fff;
            background: #eee;
        }

	section.content form.feedback {
	}

        section.content div.question {
            margin-bottom: 0px;
        }

        section.content form.task {
	    width: 100%;
        }

	section.content pre.normal {
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
            background: #e2e2e2;
            font-size: 1em;
            padding: 2px 4px;
            border: 1px solid #cacaca;
            border-radius: 3px;
            box-shadow: inset 0 0 3px #cacaca;
            line-height: 1.15;

	    white-space: pre;
	    overflow-x: auto;
	    width: auto;
            margin-bottom: 1em;
	}

        section.content pre.normal code {
            font-family: inherit;
        }
        
        section.content div.embedded-page {
            border: 2px solid #d0d0d0;
            width: 100%;
            background: #caeaca;
            padding: 10px;
            margin-bottom: 1em;
        }

        section.content div.question {
            /*margin-bottom: 2em;*/
        }

        section.content div.question form {
            position: relative;
            margin-top: 5px;
            padding: 9px;
            border: 2px solid #d0d0d0;
            background: #daeeda;
        }

            section.content div.question form input[type=file], section.content div.question form input[type=submit] {
                font-family: "DejaVu Sans";
                font-size: 0.9em;
                min-width: 150px;
                line-height: 1.5;
            }

            section.content div.question form div.input-label-container {
                display: block;
                vertical-align: bottom;
            }

            section.content div.question form div.code-replace {
                margin-top: -5px;
            }
            
            section.content div.question form div.code-replace-filename {
                font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
                font-size: 1.0rem;
                display: block;
            }

            section.content div.question form label.code-replace-label {
                font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
                font-size: 1.0rem;
                width: 44px;
                text-align: right;
                display: inline-block;
                background: #bbb;
                border: 1px solid #d0d0d0;
                margin: 0;
                margin-right: -6px;
                padding-right: 4px;
                line-height: 1.25 !important;
            }

            section.content div.question form input.code-replace-input {
                font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
                font-size: 1.0rem;
                display: inline-block !important;
                width: calc(100% - 58px);
                border: 1px solid #d0d0d0;
                background: #eee;
                line-height: 1.25 !important;
            }

            section.content div.question form label {
                margin-left: 0.5em;
                line-height: 1.75;
                display: inline;
                vertical-align: middle;
            }

            section.content div.question form div.input-label-container > input {
                display: inline;
                vertical-align: middle;
            }

            section.content div.question form label.file {
                margin: 0;
                display: inline-block;
                clear: both;
                width: 190px;
            }

            section.content div.question form input.task_file {
                clear: both;
            }

            section.content div.question form textarea {
                width: 100%;
                border: 2px solid #ddd;
                padding: 2px;
                resize: vertical;
                background: #f5f5f5;
                font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;;
            }

            section.content div.question form div.answered-status {
                display: inline;
            }

            div.answered-status span.correct {
                color: #3a3;
            }
            div.answered-status span.incorrect {
                color: #a33;
            }

        section.content div.auth-warning {
            font-weight: bold;
            color: #f33;
        }

        section.content div.markup-error {
            font-weight: bold;
            color: red;
            border: 2px dashed red;
            padding: 4px 8px;
            margin-bottom: 1rem;
        }

        section.content div.error {
            position: relative;
            margin-top: -2px;
            padding: 9px;
            border: 2px solid #d0d0d0;
            color: #f00;
            background: #eedada;
        }

        section.content div.result {
            position: relative;
            margin-top: -2px;
            padding: 9px;
            border: 2px solid #d0d0d0;
            background: #daeeda;
        }

        section.content pre {
            width: auto;
        }

        section.content div#result div.hintbox {
            
        }

        section.content div#result div.test {
            padding: 9px;
            border: 2px solid rgb(224,224,224);
            background: #e7ffe7;
        }            

        section.content div#result h_1 {
            font-size: 20px;
            margin-top: 16px;
            /*border-top: 1px solid grey;*/
        }
        section.content div#result h_2 {
            margin-top: 8px;
            font-size: 18px;
        }
        section.content div#result h_3 {
            font-size: 16px;
        }
        section.content div#result h3 span.command {
            white-space: pre;
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
        }

        /* The file upload exercise evaluation tabs */
        div.file-evaluation-widget {
            width: 100%;
            background: #ddd;
        }
        div.test-tab-selector-box {
            color: #ccc;
            background: #daeeda;
        }
        div.test-tab-selector {
            display: inline-block;
            border: 2px solid #d0d0d0;
            border-radius: 2px 20px 0 0/2px 8px 0 0;
            cursor: pointer;
            padding: 0 2px;
        }
        div.correct-test {
            background: #143a14;
        }
        div.incorrect-test {
            background: #3a1414;
        }
        div.test-tab-selector img {
            right: 2px;
            top: 4px;
            padding: 1px;
            margin-left: 4px;
            position: relative;
            border: 1px dotted #aaa;
            border-radius: 3px;
        }
        div.correct-test img {
            background: #69cd69;
        }
        div.incorrect-test img {
            background: #cd6969;
        }

        /* The file upload exercise items */
        /* Stage */
        div.test-evaluation-stage {
            border-bottom: 2px solid #aaa;
            padding-bottom: 1rem;
        }
        div.test-evaluation-stage:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
        div.test-evaluation-stage-name {
            font-weight: normal;
            text-shadow: 0px 0px 4px rgba(63, 63, 63, 0.5);
            border-bottom: 1px solid rgba(191, 191, 191, 0.5);
            padding: 4px 4px 4px 8px;
            font-size: 1.1rem;
            background: #cacaca;
        }
        /* Command */
        div.test-evaluation-heading {
            padding: 2px 2px 2px 4px;
            font-size: 1.0rem;
            text-decoration: underline;
        }
        pre.test-evaluation-cmdline {
            padding: 2px 2px 2px 4px;
            margin: 0 6px 6px 6px;
            font-size: 1.0em;
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
            background: #d0d0d0;
        }
        div.test-evaluation-msg {
            font-size: 0.8em;
            padding: 0 2px 0 2px;
            margin: -8px 6px 6px 6px;
            background: #d7d7d7;
            color: #555;
            position: relative;
        }
        div.test-evaluation-msg-attention:after {
            content: "!";
            color: #eee;
            background: #d33;
            position: absolute;
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
            font-size: 0.7em;
            font-weight: bold;
            right: 0;
            top: 0;
            margin: 2px 0 2px 0;
            padding: 0 3px 0 3px;
        }
        span.retval {
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
        }
        span.retval-correct {
            color: #2e862e;
        }
        span.retval-incorrect {
            color: #862e2e;
        }
        span.cmd-runtime {
            
        }
        span.term {
            cursor: help;
            border-bottom: 2px dashed #000;
            text-decoration: none;
        }
        
        pre.test-evaluation-inputs {
            padding: 2px 2px 2px 4px;
            margin: 0 6px 6px 6px;
            font-size: 1.0em;
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
            background: #d0d0d0;
        }

        /* The file upload exercise difference table */

        section.content table.diff {
            table-layout: fixed;
            width: 100%;
            color: #222;
        }

        section.content table.diff col.line-number {
            width: 1.2rem;
            background: #ccc;
        }
        section.content table.diff colgroup.student,
        section.content table.diff colgroup.reference {
            width: 50%;
        }

        section.content table.diff th {
            background: #ccc;
            line-height: 1.25;
            font-weight: normal;
            border: 1px solid #aaa;
            text-decoration: underline;
        }

        section.content table.diff td {
            white-space: pre-wrap;
            overflow-x: hidden;
            word-wrap: break-word;
            font-weight: normal;
            font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
            font-size: 1.0em;
            padding: 0 1px;
            line-height: 1.25;
            height: 1rem;
            border: 1px solid #aaa;
        }
        section.content table.diff td.diff-linenum {
            font-size: 0.8em;
        }

        section.content table.diff span.diff-sub {
            background: #cd6969;
        }

        section.content table.diff span.diff-chg {
            background: #6969cd;
        }

        section.content table.diff span.diff-add {
            background: #69cd69;
        }

        /* Calendar */
        div.calendar {
            width: 50%;
        }
        div.calendar fieldset {
            padding: 4px;
        }
        div.calendar legend {
            font-size: 1.0rem;
            font-weight: bold;
            margin: 0 0 0 25px;
        }
        div.calendar fieldset > div {
            padding: 0 2px;
        }
        div.calendar div.datetime {
            background: #d7d7d7;
        }
        div.calendar div.description {
            background: #e0e0e0;
            font-style: italic;
            padding: 4px 12px;
        }
        div.calendar li {
            font-size: 0.8rem;
            list-style-type: square;
            background: #e0e0e0;
        }
        div.calendar div.reservation-result {
            border: 1px solid #888;
            background: #f0f099;
        }
        div.calendar input[type=submit] {
            font-family: "DejaVu Sans";
            font-size: 0.9em;
            min-width: 150px;
            line-height: 1.5;
        }

    section.content a.permalink {
        position: relative;
        top: -1px;
        font-size: 0.8em;
        text-shadow: none;
        text-decoration: none;
        padding: 2px 4px;
        margin-left: 4px;
        color: transparent;
    }
    section.content a.permalink:hover {
        color: #39ad39;
        background-color: transparent;
    }

    section.content div.task-meta-container {
        font-size: 0.6rem;
        padding: 0;
    }

    /* All task-metas, including those from embedded exercises */
    section.content div.task-meta {
        position: absolute;
        width: 112px;
        left: -128px;
        top: -12px;
        margin-right: 128px;
        border: 2px solid #d0d0d0;
        padding: 0;
        text-align: center;
        background: #eee;
    }

    /* The first task-meta on a page */
    section.content > div.task-meta-container > div.task-meta {
        left: -116px;
        top: 0;
    }
    
    section.content div.task-meta hr {
        margin: 3px 6px;
        height: 1px;
        border: 0;
        color: #333;
        background: #000;
    }

    section.content div.task-meta > div.give-feedback {
        font-size: 1rem;
        margin: -4px -4px -9px -4px;
        padding: 0;
    }

        section.content div.give-feedback div {
            margin: -4px -4px -9px -4px;
            padding: 0;
        }

        section.content div.give-feedback input[type=text] {
            border: 1px solid #d0d0d0;
            background: #eee;
            width: 108px;
        }

    section.content div.task-meta > div.admin-tools {
        
        background: #e5e5e5;
    }

        section.content div.admin-tools ul {
            margin: 0 0 0 12px;
            padding: 0;
        }

        section.content div.admin-tools li {
            font-family: "Arial";
            font-size: 0.6rem;
            line-height: 1.3;
            padding: 0;
            margin: 0;
            text-align: left;
            list-style-type: square;
        }

/* FOOTER */
footer {
    font-family: "DejaVu Sans", "Open Sans", "Verdana", sans-serif;
    font-size: 0.8rem;
    color: #111;
    background-image: url("noise-200x200-1.png");
    background-color: #39ad39;
    position: relative;
    bottom: 0;
    height: 3rem;
    margin-top: 1rem;
    width: 100%;
    padding: 6px;
}

    footer div {
	padding-right: 60px;
	float: left;
    }
