<div>
  <select name="{{ widget.name }}-origin-filter"
          onchange="editing.get_select_options(event, this)"
          data-url="{{ widget.options_url }}"
          {% if widget.attrs.disabled %}disabled{% endif %}>
    {% for origin in widget.origins %}
      {% if origin == widget.initial_origin %}
        <option value="{{ origin.slug }}" selected="selected">{{ origin.name }}</option>
      {% else %}
        <option value="{{ origin.slug }}">{{ origin.name }}</option>
      {% endif %}
    {% endfor %}
  </select>
  <br />
  <select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    {% for group_name, group_choices, group_index in widget.optgroups %}
      {% if group_name %}
        <optgroup label="{{ group_name }}">
      {% endif %}
      {% for option in group_choices %}
        {% include option.template_name with widget=option %}
      {% endfor %}
      {% if group_name %}
        </optgroup>
      {% endif %}
    {% endfor %}
  </select>
</div>
