<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    
    <meta name="description" content="RAiPPA Online Learning/Teaching Environment">
    <meta name="keywords" content="RAiPPA,Python,tutorial">
    <meta name="author" content="Miikka Salminen">
    <meta name="application-name" content="RAiPPA programming task">

    {% load staticfiles %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,latin-ext">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="shortcut icon" href="{% static 'courses/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'courses/raippa.css' %}">
    <link rel="stylesheet" href="{% static 'courses/syntax.css' %}">
    <link rel="stylesheet" href="{% static 'courses/blockcode.css' %}">
    <link rel="stylesheet" href="{% static 'courses/katex.min.css' %}">

    <script src="{% static 'courses/katex.min.js' %}"></script>
    <script src="{% static 'courses/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'courses/raippa.js' %}"></script>
    <script src="{% static 'courses/blockcode.js' %}"></script>
    <script src="{% static 'courses/task.js' %}"></script>
    <script src="{% static 'courses/calendar.js' %}"></script>
    <script>
      $(document).ready(function() {
        addLineNumbers();
        setColumnWidths();
        setLineWidths();
        setPreHeights();

        // Apply KaTeX to render all the math blocks
        $("div.tex").each(function(index) {
          katex.render($(this).text(), this);
        });

        // Build the table of contents
        var toc = $("nav.toc > ol");
        var current_toc_level = 1;
        //var topmost_ol = null;
        var headings = $.map([1, 2, 3, 4, 5, 6], function(i) {
          return "section.content h" + i;
        }).join(", ");
        $(headings).each(function(index) {
          // TODO: http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
          var new_toc_level = parseInt(this.tagName[1]);
          
          // TODO: Fix, ol can only contain li
          if (new_toc_level > current_toc_level) {
            for (var i = current_toc_level; i < new_toc_level; i += 1) { // >
              //var new_li = document.createElement("li");
              var new_ol = document.createElement("ol");
              toc.append(new_ol);
              //$(new_li).append(new_ol);
              //$(new_li).attr("class", "ol-container");

              toc = $(new_ol);
            }
          } else if (new_toc_level < current_toc_level) { // >
            for (var i = current_toc_level; i > new_toc_level; i -= 1) {
              toc = toc.parent();
            }
          }
          current_toc_level = new_toc_level;

          var li = document.createElement("li");
          var text = this.firstChild.nodeValue;
          var id = this.id;
          var anchor = document.createElement("a");
          $(anchor).attr("href", "#" + id)
          $(anchor).text(text);
          $(li).append(anchor);

          toc.append(li);
        });
      });
    </script>
    
    <title>{% block page-title %}RAiPPA{% endblock %}</title>
  </head>
  <body>
    <div id="container">
      <header>
        <div id="container-top">
          <hgroup>
            <h1>BRAND</h1>
            <h2>Something clever and insightful</h2>
          </hgroup>
          <div class="user-actions">
            {% if user.is_active %}
              <div class="user-name">
                {% filter force_escape %}
                  {% firstof user.first_name user.username %}
                {% endfilter %}
              </div><div class="user-settings">
                <a href="/profile/">Settings</a>
              </div><div class="user-logout">
                <a href="/accounts/logout/">Log out</a>
              </div>
            {% else %}
              <div class="user-login">
                <a href="/accounts/login/">Log in</a>
              </div><div class="user-register">
                <a href="/accounts/register/">Create account</a>
              </div>
            {% endif %}
            
            {% if user.is_staff and user.is_active %}
              <div class="user-teacherstools">
                <a href="/admin/">Teacher's tools</a>
              </div>
            {% endif %}
          </div>{% comment %}login box{% endcomment %}
        </div>
      </header>
      
      {% block breadcrumb %}
      <nav class="breadcrumb">
        <ul>
          {% for navurl in navurls %}
            {% if forloop.first %}
            {% else %}
              <div class="separator">»</div>
            {% endif %}

            {% if forloop.last %}
              <li class="last">{{ navurl.name }}</li>
            {% else %}
              <li><a href="{{ navurl.url }}">{{ navurl.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
      {% endblock %}

      {% block toc %}{% comment %}TODO: Put inside a container (progress bar inside nav not semantic){% endcomment %}
      <nav class="toc">
        <div>Table of Contents</div>
        <ol>
        </ol>
        <div>Completed: 7/10 exercises</div>
        <progress value="7" max="10"></progress>
      </nav>
      {% endblock %}
      
      <section class="content">
        {% block page-content %}
        {% endblock %}
      </section>
  
      <footer>
        <div class="column0">
          <p>Site design &amp; backend by Miikka Salminen</p>
          <p>Page contents available under Creative Commons license.</p>
        </div>
        <div class="column1">
          Powered by Python, Django and jQuery.
        </div>
      </footer>
    </div><!-- container -->

    <script>
      function isElementInViewport (el) {
        //special bonus for those using jQuery
        if (el instanceof jQuery) {
          el = el[0];
        }

        var rect = el.getBoundingClientRect();

        return (
          rect.top >= 0 &&
          rect.left >= 0 &&
          rect.bottom <= $(window).height()
          rect.right <= $(window).width()
        );
      }

      function callback() {
        //your code here, e.g. console.log('is visible now');
      } 

      function fireIfElementVisible(el, callback) {
        return function () {
          if ( isElementInViewport(el) ) {
            callback();
          }
        }
      }

      //var handler = fireIfElementVisible(el, callback);
      var handler = function() {
        var headings = $("section.content h1, section.content h2, section.content h3, section.content h4, section.content h5, section.content h6");
      };

      $(window).on('DOMContentLoaded load resize scroll', handler);
    </script>
  </body>
</html>
