<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    {% load staticfiles %}
    {% load i18n %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic%26subset=latin,latin-ext">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Cinzel">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="icon" href="{% static 'courses/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'courses/style.css' %}">
    <link rel="stylesheet" href="{% static 'courses/terms.css' %}">
    <link rel="stylesheet" href="{% static 'courses/small-screens.css' %}" media="(max-width: 1768px)">
    <link rel="stylesheet" href="{% static 'courses/syntax.css' %}">
    <link rel="stylesheet" href="{% static 'courses/embedded-file.css' %}">
    <link rel="stylesheet" href="{% static 'courses/katex.min.css' %}">
    <link rel="stylesheet" href="{% static 'courses/latofonts.css' %}">

    <script src="{% static 'courses/katex.min.js' %}"></script>
    <script src="{% static 'courses/jquery-2.1.4.min.js' %}"></script>
    <script src="{% static 'courses/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'courses/script.js' %}"></script>
    <script src="{% static 'courses/embedded-file.js' %}"></script>
    <script src="{% static 'courses/exercise.js' %}"></script>
    <script src="{% static 'courses/calendar.js' %}"></script>
    <script>
      $(document).ready(function() {
        // TODO: Store data in a js object
        add_line_numbers();
        set_line_widths();

        add_exercise_form_callbacks();

        // Apply KaTeX to render all the math blocks
        $("div.tex").each(function(index) {
          katex.render($(this).text(), this);
        });

        build_toc("{% static 'courses/' %}");

        update_progress_bar();

        // jQuery slimscroll for ToC
        $('#toc > div.list-div').slimScroll({
            height: '400px'
        });

        $('#termbank-contents > div.list-div').slimScroll({
            height: '400px'
        });
      
        $(document).on('click', function(event) {
          var menu_display = $('#user-menu').css('display');
          var target = $(event.target);
          if (menu_display == 'block' && 
              !target.closest('#user-menu').length &&
              !target.closest('#user-menu-arrow').length) {
            $('#user-menu').hide();
          }
        });
            
        $(window).on('DOMContentLoaded load resize scroll', handler);
      });
    </script>
    {% block extra-static %}{% endblock %}
    
    <title>{% block page-title %}{% endblock %}</title>
  </head>
  <body>
    {% if not request.session.cookies_accepted %}
      <div id="cookie-law-message">
        <div class="cookie-law-container">
          <p>{% url 'courses:terms' as terms_url %}
            {% blocktrans %}This site uses cookies. Learn more about our <a href="{{ terms_url }}">terms and conditions</a>.{% endblocktrans %}</p>
          <button onclick="accept_cookies();">{% trans 'Accept' %}</button>
        </div>
      </div>
    {% endif %}
    <div id="container">
      <header class="top-header">
        <div id="container-top">
          <div class="page-title">
            <h1>Lovelace</h1>
            {#<h2>Interactive learning environment</h2>#}
          </div>
          <div class="user-actions">
            {% if user.is_active %}
              <div class="side-by-side-top">
                <div class="user-action">
                  <span class="score"></span>
                  <span class="user-name">
                    {% filter force_escape %}
                      {% firstof user.first_name user.username %}
                    {% endfilter %}
                  </span>
              </div>
              </div><div class="side-by-side-top">
                <div class="vertical-separator"></div>
              </div><div class="side-by-side-top">
                <img src="{% static 'courses/arrow-down.png' %}"
                     onclick="$('#user-menu').toggle();"
                     id="user-menu-arrow">
                <div id="user-menu"><div>
              <div class="user-settings">
                <a href="/profile/">{% trans 'Settings' %}</a>
              </div>{% if user.is_staff %}<div class="user-tools">
                <a href="{% url 'admin:index' %}">{% trans 'Teacher’s tools' %}</a>
              </div><div class="user-tools">{% block course-stats-link %}
                {% trans 'Course statistics' %}
                {% endblock %}
              </div>{% endif %}<div class="user-logout">
                <a href="/accounts/logout/">{% trans 'Log out' %}</a>
              </div></div></div>
              </div>
            {% else %}
              <a href="/accounts/login">
                <div class="user-action">
                  {% trans 'Log in' %}
                </div>
              </a><a href="/accounts/signup">
                <div class="user-action">
                  {% trans 'Sign up' %}
                </div>
              </a>
            {% endif %}
            
            {% if user.is_staff and user.is_active %}
            {% endif %}
          </div>{% comment %}login box{% endcomment %}
        </div>
      </header>
      
      {% block top-nav-bar %}
      <nav class="breadcrumb">
        <div class="top-nav-container">
        <ul>
          {% block breadcrumb-links %}
          
          {% endblock %}
        </ul>
        <div class="right-side">
          {# https://docs.djangoproject.com/en/1.7/topics/i18n/translation/#set-language-redirect-view #}
          <form action="{% url 'set_language' %}" method="post" class="language-picker">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" onchange="this.form.submit();">
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
                </option>
              {% endfor %}
            </select>
          </form><div class="vertical-separator"></div><a onclick="$('div.toc-box').toggle();" style="cursor:pointer;"><img src="{% static 'courses/toc.png' %}" title="{% trans 'Table of Contents' %}"></a><div class="vertical-separator"></div>
        </div>
        </div>
      </nav>
      {% endblock %}

      {% block termbank %}
      {% if terms %}
      <div class="termbank">
        <div class="termbank-contents">
          <div class="termbank-heading">{% trans "Termbank" %}</div>
          <div class="list-div">
            <ul>
            {% for term in terms %}
              <li>
                <span class="term" id="{{ term.span_id }}">{{ term.name }}</span>
                <div class="term-description" id="{{ term.div_id }}">
                  <div class="term-desc-contents">
                    <div class="term-desc-scrollable">
                      {{ term.description|safe }}
                    </div>
                  </div>
                </div>
                <script>$("#{{ term.span_id }}, #{{ term.div_id }}")
                           .hover(function () { 
                                    show_description("#{{ term.span_id }}", "#{{ term.div_id }}", 5, -5);
                                  },
                                  function() {
                                    hide_description("#{{ term.div_id }}");
                                  }
                            );
                 </script>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
      {% endblock %}

      {% block toc %}
      <div class="toc-box">
        <nav class="toc" id="toc">
          <div class="toc-box-heading">{% trans "Table of Contents" %}</div>
          <div class="list-div">
            <ol>
            </ol>
          </div>
        </nav>
        {% block progress %}
        <div class="progress-container">
          <div class="toc-box-progress-info">{% trans "Completed:" %} <span id="completed-exercises"></span>/<span id="total-exercises"></span> {% trans "exercises" %}</div>
          <progress id="exercises-progress" value="0" max="0"></progress>
        </div>
        {% endblock %}
      </div>
      {% endblock %}
      
      <section class="content">
      {% block page-content %}
      {% endblock %}
      </section>

      {% block term-descriptions %}
      <div class="term-descriptions">
        <div class="term-description" id="term-div-not-found">
          ?
        </div>
      {% if terms %}
        {% for term in terms %}
        <div class="term-description" id="{{ term.name }}-term-div">
          <div class="term-desc-contents">
            <div class="term-desc-scrollable">
            {{ term.description|safe }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endblock %}


      <footer>
        <div class="column0">
          <p>Site design &amp; backend by Miikka Salminen</p>
          <p>Page contents available under Creative Commons license.</p>
        </div>
        <div class="column1">
          <p>Powered by Python, Django and jQuery.</p>
          <p><a href="{% url 'courses:terms' %}">{% trans 'Terms and Conditions' %}</a></p>
        </div>
      </footer>
    </div>{# end container #}
  </body>
</html>
