{% load i18n %}

<form id="{{ html_id }}"
    class="{{ html_class }}"
    method="POST"
    enctype="multipart/form-data"
    action="{{ submit_url }}">
    
        <div class="form-disclaimer">{{ disclaimer }}</div>

        {% csrf_token %}
    
        {% for field in form_object.hidden_fields %}
            {{ field }}
        {% endfor %}
        
        
        <table class="edit-form-table">
        {% for field in form_object.visible_fields %}
          <tr>
            <td colspan="2">{{ field.errors }}</td>
          </tr>
          <tr>
            <td>
                {% if field.field.required %}
                    <b>{{ field.label_tag }}</b>
                {% else %}
                    {{ field.label_tag }}
                {% endif %}
            </td> 
            <td>{{ field }}</td>
          </tr>
        {% endfor %}
        </table>
        {% if submit_label %}
          <input type="submit" name="submit" value="{{ submit_label }}"></input>
        {% else %}
          <input type="submit" name="submit" value="{% trans 'Save' %}"></input>
        {% endif %}
</form>

{% if submit_override %}
  <script>
      $("#{{ html_id }}").submit({{ submit_override }})
  </script>
{% endif %}
