<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    {% load staticfiles %}
    {% load i18n %}
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic%26subset=latin,latin-ext">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="icon" href="{% static 'courses/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'courses/style.css' %}">
    <link rel="stylesheet" href="{% static 'courses/small-screens.css' %}" media="(max-width: 1300px)">
    <link rel="stylesheet" href="{% static 'courses/syntax.css' %}">
    <link rel="stylesheet" href="{% static 'courses/embedded-file.css' %}">
    <link rel="stylesheet" href="{% static 'courses/katex.min.css' %}">

    <script src="{% static 'courses/katex.min.js' %}"></script>
    <script src="{% static 'courses/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'courses/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'courses/script.js' %}"></script>
    <script src="{% static 'courses/embedded-file.js' %}"></script>
    <script src="{% static 'courses/exercise.js' %}"></script>
    <script src="{% static 'courses/calendar.js' %}"></script>
    <script>
      $(document).ready(function() {
        add_line_numbers();
        set_line_widths();

        add_exercise_form_callbacks();

        // Apply KaTeX to render all the math blocks
        $("div.tex").each(function(index) {
          katex.render($(this).text(), this);
        });

        build_toc("{% static 'courses/' %}");

        // jQuery slimscroll for ToC
        $('#toc > div.list-div').slimScroll({
            height: '400px'
        });
            
        $(window).on('DOMContentLoaded load resize scroll', handler);
      });
    </script>
    
    <title>{% block page-title %}{% endblock %}</title>
  </head>
  <body>
    <div id="container">
      <header class="top-header">
        <div id="container-top">
          <div class="page-title">
            <h1>BRAND</h1>
            <h2>Something clever and insightful</h2>
          </div>
          <div class="user-actions">
            {% if user.is_active %}
              <div class="user-name">
                {% filter force_escape %}
                  {% firstof user.first_name user.username %}
                {% endfilter %}
              </div><div class="user-settings">
                <a href="/profile/">Settings</a>
              </div><div class="user-logout">
                <a href="/accounts/logout/">Log out</a>
              </div>
            {% else %}
              <div class="user-login">
                <a href="/accounts/login/">Log in</a>
              </div><div class="user-register">
                <a href="/accounts/register/">Create account</a>
              </div>
            {% endif %}
            
            {% if user.is_staff and user.is_active %}
              <div class="user-teacherstools">
                <a href="/admin/">Teacher's tools</a>
              </div>
            {% endif %}
          </div>{% comment %}login box{% endcomment %}
        </div>
      </header>
      
      {% block top-nav-bar %}
      <nav class="breadcrumb">
        <div class="top-nav-container">
        <ul>
          {% block breadcrumb-links %}
          
          {% endblock %}
        </ul>
        <div class="right-side">
          {# https://docs.djangoproject.com/en/1.7/topics/i18n/translation/#set-language-redirect-view #}
          <form action="{% url 'set_language' %}" method="post" class="language-picker">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select name="language" onchange="this.form.submit();">
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                  {{ language.name_local }} ({{ language.code }})
                </option>
              {% endfor %}
            </select>
          </form><div class="vertical-separator"></div><a onclick="$('#toc').toggle();" style="cursor:pointer;"><img src="{% static 'courses/toc.png' %}" title="Table of Contents"></a><div class="vertical-separator"></div>
        </div>
        </div>
      </nav>
      {% endblock %}

      {% block toc %}{% comment %}TODO: Put inside a container (progress bar inside nav not semantic){% endcomment %}
      <nav class="toc" id="toc">
        <div>{% trans "Table of Contents" %}</div>
        <div class="list-div">
          <ol>
          </ol>
        </div>
        <div>{% trans "Completed:" %} <span id="completed-exercises">7</span>/<span id="total-exercises">10</span> {% trans "exercises" %}</div>
        <progress value="7" max="10"></progress>
      </nav>
      {% endblock %}
      
      <section class="content">
        {% block page-content %}
        {% endblock %}
      </section>
  
      <footer>
        <div class="column0">
          <p>Site design &amp; backend by Miikka Salminen</p>
          <p>Page contents available under Creative Commons license.</p>
        </div>
        <div class="column1">
          Powered by Python, Django and jQuery.
        </div>
      </footer>
    </div>{# end container #}
  </body>
</html>
