{% load i18n %}
{% load course_tags %}

<div class="calendar">
  {% for event, reservations in cal_reservations %}
    <form method="POST" action="{% url 'courses:calendar_post' cal_id event.id %}">
      {% csrf_token %}
      <input type="hidden" 
             name="reserve" 
             value="{% if event.id in reserved_event_ids %}0{% else %}1{% endif %}">
      <fieldset>
        <legend>{{ event.event_name }}</legend>
        <div class="datetime {% if reservations|length >= event.reservable_slots %}event-full{% endif %}">
          <div><strong>{{ event.start_time|date:"l, Y-m-d, H:i" }}</strong></div>
          <div><span>{{ event.duration|event_duration }}</span><span class="right-float">{{ reservations|length }}&nbsp;/&nbsp;{{ event.reservable_slots }}</span></div>
        </div>
        {% if event.event_description %}
            <div class="description">{{ event.event_description }}</div>
        {% endif %}
        {% if user.is_staff %}
          {% if reservations %}
            <table class="full-width staff-only collapsed">
                <thead>
                    <tr>
                        <th>{% trans 'Reserver' %}</th>
                        <th>{% trans 'Group' %}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in reservations %}
                        <tr>
                            <td>{{ entry.reserver }}</td>
                            <td>{{ entry.group }}</td>
                            <td class="actions-cell">
                                <a class="button-style inspect-button"
                                   href="{{ entry.answers_url }}"
                                   title="{% trans 'View answers' %}">
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>             
            </table>
          {% else %}
            <div class="staff-only collapsed">{% trans "No reservations." %}</div>
          {% endif %}
        {% endif %}

        {% if user.is_authenticated and can_reserve %}
          <div class="reservation-result collapsed"></div>
          {% if reservations|length >= event.reservable_slots %}
            <div><input type="submit"
                        value="{% trans 'Reserve a slot' %}"
                        onClick="reserve_slot(event, this);return false;"
                        disabled="disabled"
                        data-reserve-text="{% trans 'Reserve a slot' %}"
                        data-cancel-text="{% trans 'Cancel reservation' %}">
            </div>
          {% else %}
            <div><input type="submit" 
                        value="{% trans 'Reserve a slot' %}"
                        onClick="reserve_slot(event, this);return false;"
                        data-reserve-text="{% trans 'Reserve a slot' %}"
                        data-cancel-text="{% trans 'Cancel reservation' %}">
            </div>
          {% endif %}
        {% elif user.is_authenticated and event.id in reserved_event_ids %}
          <div class="reservation-result">{% trans "You have been reserved a slot in" %} {{ event.event_name }}.</div>
          <div><input type="submit"
                      value="{% trans 'Cancel reservation' %}"
                      onClick="reserve_slot(event, this);return false;"
                      data-reserve-text="{% trans 'Reserve a slot' %}"
                      data-cancel-text="{% trans 'Cancel reservation' %}">
          </div>
        {% else %}
          <div class="reservation-result collapsed"></div>
          <div><input type="submit" 
                      value="{% trans 'Reserve a slot' %}"
                      onClick="reserve_slot(event, this);return false;"
                      disabled="disabled"
                      data-reserve-text="{% trans 'Reserve a slot' %}"
                      data-cancel-text="{% trans 'Cancel reservation' %}">
          </div>
        {% endif %}
      </fieldset>
    </form>
  {% endfor %}
</div>
