{% load i18n %}
{% load course_tags %}

<div class="calendar">
  {% for event, reservations in cal_reservations %}
    <form method="POST" action="{% url 'courses:calendar_post' cal_id event.id %}">
      {% csrf_token %}
      <input type="hidden" name="reserve" value="{% if reservations.1 %}0{% else %}1{% endif %}">
      <fieldset>
        <legend>{{ event.event_name }}</legend>
        <div class="datetime">
          <div><strong>{% trans "From" %}: {{ event.start_time|date:"l, Y-m-d, H:i" }}</strong></div>
          <div>{% trans "Duration" %}: {{ event.duration|event_duration }}</div>
        </div>
        <div class="description">{{ event.event_description }}</div>
        <div class="{% if reservations|length >= event.reservable_slots %}full-cal{% else %}free-cal{% endif %}">{% trans "Reserved/total slots:" %} {{ reservations.0|length }}&nbsp;/&nbsp;{{ event.reservable_slots }}</div>

        {% if user.is_staff %}
          {% if reservations.0 %}
            <div>{% trans "The following users have reserved a slot:" %}</div>
            <ul>
              {% for e_user in event.get_users %}
                <li>{{ e_user.user__first_name }} {{ e_user.user__last_name }}, {{ e_user.user__userprofile__student_id }}, {{ e_user.user__username }}, {{ e_user.user__email }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <div>{% trans "No reservations." %}</div>
          {% endif %}
        {% endif %}

        {% if user.is_authenticated and not reservations.1 %}
          <div class="reservation-result"></div>
          {% if reservations.0|length >= event.reservable_slots %}
            <div><input type="submit" value="{% trans 'Reserve a slot' %}" disabled="disabled"></div>
          {% else %}
            <div><input type="submit" value="{% trans 'Reserve a slot' %}" onClick="reserve_slot(event, this);return false;"></div>
          {% endif %}
        {% elif user.is_authenticated and reservations.1 and event.id in reserved_event_ids %}
          <div class="reservation-result">{% trans "You have been reserved a slot in" %} {{ event.event_name }}.</div>
          <div><input type="submit" value="{% trans 'Cancel reservation' %}" onClick="reserve_slot(event, this);return false;"></div>
        {% else %}
          <div><input type="submit" value="{% trans 'Reserve a slot' %}" disabled="disabled"></div>
        {% endif %}
      </fieldset>
    </form>
  {% endfor %}
</div>
