{% extends 'courses/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load course_tags %}

{% block page-title %}
{% if sandboxed %}
  {{ content.name }}
{% else %}
  {{ content.name }} – {{ course_name }}
{% endif %}
{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
  {% if not sandboxed %}
  <div class="separator">»</div>
  <li><a href="{% url 'courses:course' course_slug %}">{{ course_name }}</a></li>
  <div class="separator">»</div>
  <li><a href="{% url 'courses:content' course_slug content.slug %}">{{ content.name }}</a></li>
  {% endif %}
{% endblock %}

{% block course-stats-link %}
  {% if not sandboxed %}
  <a href="{% url 'stats:users_course' course_slug %}">{% trans 'Course statistics' %}</a>
  {% endif %}
{% endblock %}

{% block page-content %}
{% if not content.is_answerable %}
  {% lecture %}
{% else %}
  {% if content.content_type == "MULTIPLE_CHOICE_EXERCISE" %}
    {% multiple_choice_exercise %}
  {% elif content.content_type == "CHECKBOX_EXERCISE" %}
    {% checkbox_exercise %}
  {% elif content.content_type == "TEXTFIELD_EXERCISE" %}
    {% textfield_exercise %}
  {% elif content.content_type == "FILE_UPLOAD_EXERCISE" %}
    {% file_upload_exercise %}
  {% endif %}
{% endif %}

{% endblock %}


