{% extends 'courses/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load course_tags %}

{% block page-title %}
{% if sandboxed %}
  {{ content.name }}
{% else %}
  {{ content.name }} – {{ course_name }}
{% endif %}
{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
  {% if not sandboxed %}
  <div class="separator">»</div>
  <li><a href="{% url 'courses:course' course_slug instance_slug %}">{{ course_name }}&nbsp;/&nbsp;{{ instance_name }}</a></li>
  <div class="separator">»</div>
  <li><a href="{% url 'courses:content' course_slug instance_slug content.slug %}">{{ content.name }}</a></li>
  {% endif %}
{% endblock %}

{% block course-stats-link %}
  {% if not sandboxed %}
  <a href="{% url 'stats:users_course' course_slug %}">{% trans 'Course statistics' %}</a>
  {% endif %}
{% endblock %}

{% block revision-info %}
  {% if revision and revision > 0 and user.is_superuser %}
    <div class="revision-info">This is an old revision № {{ revision }} of this page!</div>
  {% endif %}
{% endblock %}

{% block page-content %}
{% if content.content_type == "LECTURE"%}
  {% include "courses/lecture.html" %}
{% elif rendered_content or tasktype %}
  {{ rendered_content|safe }}
  {% if content.is_answerable %}
    {% include "courses/exercise.html" %}
  {% endif %}
{% endif %}
{% endblock %}
