{% load staticfiles %}
{% load i18n %}
<div class="task-meta-container">
  <div class="task-meta" data-eval-group="{{ content.evaluation_group }}">
    {% if content.content_type != "LECTURE" and not sandboxed %}
      {% if evaluation == "unanswered" %}
        <img src="{% static 'courses/unanswered-96.png' %}" width="96" height="96" alt="?"
             title="{% trans 'You haven’t answered this exercise yet' %}" class="unanswered">
      {% elif evaluation == "incorrect" %}
        <img src="{% static 'courses/incorrect-96.png' %}" width="96" height="96" alt="✘"
             title="{% trans 'You have answered this exercise incorrectly' %}" class="incorrect">
      {% elif evaluation == "correct" %}
        <img src="{% static 'courses/correct-96.png' %}" width="96" height="96" alt="✔"
             title="{% trans 'You have answered this exercise correctly' %}" class="correct">
      {% elif evaluation == "credited" %}
        <img src="{% static 'courses/credited-96.png' %}" width="96" height="96" alt="✔"
             title="{% trans 'You have answered another exercise in this set correctly' %}" class="credited">
      {% endif %}

      {% comment %}
      <hr>
      Deadline: yyyy-mm-dd
      <hr>
      {% endcomment %}

      {% if not sandboxed %}
        <div><a href="{% url 'courses:show_answers' user course instance content %}"
                title="{% trans 'View your previous answers' %}">{% blocktrans count counter=answer_count %}<span class="answer-count">{{ counter }}</span> answer{% plural %}<span class="answer-count">{{ counter }}</span> answers{% endblocktrans %}</a></div>
      {% endif %}
    {% endif %}


    {% if user.is_active and user.is_staff %}
      <hr>
      
      <div class="admin-tools">
        <div><b>{% trans "Teacher’s tools" %}</b></div>
        <ul>
          <li><div><a href="{% url 'stats:single_exercise' content %}">{% trans 'Statistics' %}</a></div></li>
          <li><div><a href="{% url 'feedback:statistics' instance content %}">{% trans 'Feedback' %}</a></div></li>
          {% with type=content.get_human_readable_type %}
            {% if type == "file upload exercise" %}
              <li><div>
                <a href="{% url 'teacher:download_answers' course instance content %}">
                  {% trans 'Download answers' %}
                </a>
              </div></li>
              <li><div>
                <a href="{% url 'teacher:exercise_plagiarism' course instance content %}">
                  {% trans 'Check plagiarism' %}
                </a>
              </div></li>
            {% endif %}
            <li><div><a href="{{ content.get_admin_change_url }}">
              {% if type == "lecture" %}
                {% trans 'Edit this lecture' %}
              {% elif type == "textfield exercise" %}
                {% trans 'Edit this textfield exercise' %}
              {% elif type == "multiple choice exercise" %}
                {% trans 'Edit this multiple choice exercise' %}
              {% elif type == "checkbox exercise" %}
                {% trans 'Edit this checkbox exercise' %}
              {% elif type == "file upload exercise" %}
                {% trans 'Edit this file upload exericse' %}
              {% elif type == "code input exercise" %}
                {% trans 'Edit this code input exercise' %}
              {% elif type == "code replace exercise" %}
                {% trans 'Edit this code replace exercise' %}
              {% elif type == "repeated template exercise" %}
                {% trans 'Edit this repeated template exercise' %}
              {% elif type == "routine exercise" %}
                {% trans 'Edit this routine exercise' %}
              {% endif %}
            </a></div></li>
          {% endwith %}
          {% comment %}
            <li><div><a href="TODO">{% trans 'View reference answer' %}</a></div></li>
            <li><div><a href="{% url 'courses:sandbox' content.slug %}">{% trans 'View separately' %}</a></div></li>
          {% endcomment %}
        </ul>
      </div>
    {% endif %}
    
  </div>
</div>
