{% for label, id_label, target, url in menu_options %}
    {% if in_list %}
      <li>
    {% endif %}
    <div>
        {% if target == "side-panel" %}
            <a id="{{ content.slug}}-{{ id_label}}-link"
               class="content-panel-link"
               href="{{ url }}"
               onclick="show_panel(event, this, 'content-{{ id_label }}-panel', 'message-panel');"
               data-querystring="">{{ label }}
            </a>
        {% else %}
            <a href="{{ url }}">{{ label }}</a>
        {% endif %}
    </div>
    {% if in_list %}
      </li>
    {% endif %}
{% endfor %}
