{% extends 'courses/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block page-title %}{{ course.name }}{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
  <div class="separator">»</div>
  <li><a href="{% url 'courses:course' course instance %}">{{ instance.get_identifying_str }}</a></li>
{% endblock %}

{% block toc %}{% endblock %}

{% block course-completion-link %}
  {% if not sandboxed %}
    <a href="{% url 'teacher_tools:completion' course instance %}">{% trans 'Course completion' %}</a>
  {% endif %}
{% endblock %}

{% block course-stats-link %}
  <a href="{% url 'stats:users_course' course instance %}">{% trans 'Course statistics' %}</a>
{% endblock %}

{% block course-enrollments-link %}
  <a href="{% url 'teacher:manage_enrollments' course instance %}">{% trans 'Manage enrollments' %}</a>
{% endblock %}

{% block page-content %}
<h1 class="content-heading">{{ course.name }}<span id="{{ course.slug }}" class="anchor-offset"></span><a href="#{{ course.slug }}" class="permalink" title="Permalink to {{ course.name }}">&para;</a></h1>

{% if content_tree %}
  <div class="course-contents">
    <h2 class="content-heading">{% trans 'Course Contents' %}<span id="course-contents" class="anchor-offset"></span><a href="#course-contents" class="permalink" title="Permalink to Course Contents">&para;</a></h2>
    {% for list_direction, result, correct_emb, emb_count, visible in content_tree %}
      {% if list_direction == '>' %}
        <ul>
      {% elif list_direction == '<' %}
        </ul>
      {% else %}
        <li{% if visible == False %} class="admin-visible-content"{% endif %}>
          <a href="{% url 'courses:content' course instance list_direction %}">{{ list_direction.name }}</a>
          {% if result and emb_count == 0 %}
            {% if result == 'unanswered' %}
              <img class="course-contents-result" src="{% static 'courses/unanswered-16.png' %}" alt="{% trans 'Unanswered' %}">
            {% elif result == 'correct' %}
              <img class="course-contents-result" src="{% static 'courses/correct-16.png' %}" alt="{% trans 'Correctly answered' %}">
            {% elif result == 'incorrect' %}
              <img class="course-contents-result" src="{% static 'courses/incorrect-16.png' %}" alt="{% trans 'Incorrectly answered' %}">
            {% endif %}
          {% endif %}
          {% if emb_count > 0 %}
            <progress class="course-contents-progress" value="{{ correct_emb }}" max="{{ emb_count }}"
                      title="{% trans 'Completed' %} {{ correct_emb }} / {{ emb_count }}">
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if rendered_content %}
  {{ rendered_content|safe }}
  {% if content.is_answerable %}
    {% include "courses/task.html" %}
  {% endif %}
{% endif %}
{% endblock %}
