{% extends 'courses/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load course_tags %}

{% block extra-static %}
    <link rel="stylesheet" href="{% static 'courses/toc.css' %}"></script>
    <script src="{% static 'courses/toc.js' %}"></script>
{% endblock %}

{% block page-title %}{{ course.name }}{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
  <div class="separator">»</div>
  <li><a href="{% url 'courses:course' course instance %}">{{ instance.get_identifying_str }}</a></li>
{% endblock %}

{% block toc %}{% endblock %}

{% block course-completion-link %}
  {% if not sandboxed %}
    <a href="{% url 'teacher_tools:completion' course instance %}">{% trans 'Course completion' %}</a>
  {% endif %}
{% endblock %}

{% block course-stats-link %}
  <a href="{% url 'stats:users_course' course instance %}">{% trans 'Course statistics' %}</a>
{% endblock %}

{% block course-enrollments-link %}
  <a href="{% url 'teacher:manage_enrollments' course instance %}">{% trans 'Manage enrollments' %}</a>
{% endblock %}

{% block page-content %}
<h1 class="content-heading">{{ course.name }}<span id="{{ course.slug }}" class="anchor-offset"></span><a href="#{{ course.slug }}" class="permalink" title="Permalink to {{ course.name }}">&para;</a></h1>

{% if course_staff %}
  <div class="staff-panel staff-only collapsed">
    <div>
        <button type="button"
                class="staff-base-button settings-button"
                title="{% trans 'Course instance settings' %}"
                onclick="toc.fetch_form(event, this);"
                data-url="{% url 'courses:instance_settings' course instance %}"
                >
        </button>
        <button type="button"
                class="staff-base-button freeze-button"
                title="{% trans 'Freeze this course instance' %}"
                onclick="toc.fetch_form(event, this);"
                data-url="{% url 'courses:freeze_instance' course instance %}">
        </button>
        <button type="button"
                class="staff-base-button copy-button"
                title="{% trans 'Make a clone of this course instance' %}"
                onclick="toc.fetch_form(event, this);"
                data-url="{% url 'courses:clone_instance' course instance %}">
        </button>
    </div>
  </div>
{% endif %}


{% if content_tree %}
  <div class="course-contents">
    <h2 class="content-heading">{% trans 'Course Contents' %}<span id="course-contents" class="anchor-offset"></span><a href="#course-contents" class="permalink" title="Permalink to Course Contents">&para;</a></h2>
    
    {% if course_staff %}
    <div class="toc-staff-top-row staff-only collapsed">
        <div>
            <button type="button"
                class="staff-base-button add-button"
                title="{% trans 'Add a new content at the beginning' %}"
                onclick="toc.fetch_form(event, this, 0);"
                data-url="{% url 'courses:create_content_node' course instance %}"
                data-node-id="0">+
            </button>
        </div>
    </div>
    {% endif %}
    
    {% for list_direction, node_id, result, correct_emb, emb_count, visible, page_count in content_tree %}
      {% if list_direction == '>' %}
        <ul>
      {% elif list_direction == '<' %}
        </ul>
      {% else %}
        <li{% if visible == False %} class="admin-visible-content"{% endif %}>
          <a href="{% url 'courses:content' course instance list_direction %}">{{ list_direction.name }}</a>
          {% comment %}
          {% if page_count > 0 %}
            <img class="course-pagination-icon" src="{% static 'courses/pagination.png' %}" alt="{% trans 'View as paginated' %}">
          {% endif %}
          {% endcomment %}
          
          {% if course_staff %}

            <img class="toc-drag-target drop-before collapsed" 
                 src="{% static 'courses/drop_before.png' %}"
                 ondragover="toc.over_drag_target(event);"
                 ondrop="toc.drop_to_target(event, {{ node_id }});"
                 ondragleave="toc.leave_drag_target(event);"
                 data-url="{% url 'courses:move_content_node' course instance node_id 'before' %}"
                 data-csrf="{{ csrf_token }}">

            <img class="toc-drag-target drop-as-child collapsed" 
                 src="{% static 'courses/drop_as_child.png' %}"
                 ondragover="toc.over_drag_target(event);"
                 ondrop="toc.drop_to_target(event, {{ node_id }});"
                 ondragleave="toc.leave_drag_target(event);"
                 data-url="{% url 'courses:move_content_node' course instance node_id 'child' %}"
                 data-csrf="{{ csrf_token }}">
          
            <img class="toc-drag-target drop-after collapsed" 
                 src="{% static 'courses/drop_after.png' %}"
                 ondragover="toc.over_drag_target(event);"
                 ondrop="toc.drop_to_target(event, {{ node_id }});"
                 ondragleave="toc.leave_drag_target(event);"
                 data-url="{% url 'courses:move_content_node' course instance node_id 'after' %}"
                 data-csrf="{{ csrf_token }}">
            
            <button type="button"
                    class="staff-base-button toc-button add-button staff-only collapsed"
                    title="{% trans 'Add a new content node after or inside this node' %}"
                    onclick="toc.fetch_form(event, this);"
                    data-url="{% url 'courses:create_content_node' course instance %}"
                    data-node-id="{{ node_id }}">+
            </button>
            <button type="button"
                    class="staff-base-button toc-button unlink-button staff-only collapsed"
                    title="{% trans 'Remove this node from the course instance' %}"
                    onclick="toc.remove_node(event, this, {{ node_id }});"
                    data-url="{% url 'courses:remove_content_node' course instance node_id %}"
                    data-csrf="{{ csrf_token }}">
            </button>
            <button type="button"
                    class="staff-base-button toc-button settings-button staff-only collapsed"
                    title="{% trans 'Edit node settings' %}"
                    onclick="toc.fetch_form(event, this);"
                    data-url="{% url 'courses:node_settings' course instance node_id %}"
                    data-node-id="{{ node_id }}">
            </button>
            <button type="button"
                    class="staff-base-button toc-button move-button staff-only collapsed"
                    title="{% trans 'Move node by dragging this button' %}"
                    draggable="true"
                    ondragstart="toc.start_drag(event, {{ node_id }});"
                    ondragend="toc.end_drag(event);"
                    data-csrf="{{ csrf_token }}">                    
            </button>
            
            {% if emb_count > 0 %}
              <progress class="course-contents-progress student-only" 
                        value="{{ correct_emb }}" max="{{ emb_count }}"
                        title="{% trans 'Completed' %} {{ correct_emb }} / {{ emb_count }}">
            {% endif %}

          {% else %}
            {% if emb_count > 0 %}
              <progress class="course-contents-progress" 
                        value="{{ correct_emb }}" max="{{ emb_count }}"
                        title="{% trans 'Completed' %} {{ correct_emb }} / {{ emb_count }}">
            {% endif %}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% if rendered_content %}
  {% if content.is_answerable %}
    {% include "courses/task.html" %}
  {% elif not content.is_answerable %}
    {% for block_type, block_data in content_blocks %}
      {% if block_type == "calendar" %}
        {% calendar block_data %}
      {% elif block_type == "embedded" %}
        {% embed_frame block_data %}    
      {% else %}
        {{ block_data|safe }}
      {% endif %}
    {% endfor %}

    {% block feedback %}
      {% feedbacks %}
    {% endblock %}

  {% endif %}

{% endif %}
{% endblock %}

