{% load staticfiles %}
{% load i18n %}
{% load course_tags %}


<div class="embedded-page">
{% if user.is_active %}
  <div class="task-meta-container">
    <div class="task-meta" data-eval-group="{{ content.eval_group }}">
      {% if not sandboxed %}
        {% if evaluation == "unanswered" %}
          <img src="{% static 'courses/unanswered-96.png' %}" width="96" height="96" alt="?"
             title="{% trans 'You haven’t answered this exercise yet' %}" class="unanswered">
        {% elif evaluation == "incorrect" %}
          <img src="{% static 'courses/incorrect-96.png' %}" width="96" height="96" alt="✘"
             title="{% trans 'You have answered this exercise incorrectly' %}" class="incorrect">
        {% elif evaluation == "correct" %}
          <img src="{% static 'courses/correct-96.png' %}" width="96" height="96" alt="✔"
             title="{% trans 'You have answered this exercise correctly' %}" class="correct">
        {% elif evaluation == "credited" %}
          <img src="{% static 'courses/credited-96.png' %}" width="96" height="96" alt="✔"
             title="{% trans 'You have answered another exercise in this set correctly' %}" class="credited">
        {% endif %}

        {% comment %}
        <hr>
        Deadline: yyyy-mm-dd
        <hr>
        {% endcomment %}

        {% if not sandboxed %}
          <div><a href="{% url 'courses:show_answers' user course instance content %}"
                  class="user-answers-link"
                  title="{% trans 'View your previous answers' %}">
                    {% blocktrans count counter=answer_count %}<span class="answer-count">{{ counter }}</span> answer{% plural %}<span class="answer-count">{{ counter }}</span> answers{% endblocktrans %}
          </a></div>
          <div>
            <a id="{{ content.slug }}-faq-panel-link"
               class="faq-panel-link"
               href="{% url 'faq:faq_panel' course instance content %}"
               title="{% trans 'Open the FAQ panel' %}"
               onclick="show_panel(event, this, 'faq', '{{ content.slug }}-panel');"
               data-querystring=""
            >{% trans 'Frequently Asked Questions' %}</a>
          </div>
        {% endif %}
      {% endif %}

      {% if user.is_active and user.is_staff %}
        <hr>
      
        <div class="admin-tools">
          <div><b>{% trans "Teacher’s tools" %}</b></div>
          <ul>
            <li><div><a href="{{ meta.stats_url }}">{% trans 'Statistics' %}</a></div></li>
            <li><div><a href="{{ meta.feedback_url }}">{% trans 'Feedback' %}</a></div></li>
              {% if content.content_type == "FILE_UPLOAD_EXERCISE" %}
                <li><div>
                  <a href="{{ meta.download_url }}">
                    {% trans 'Download answers' %}
                  </a>
                </div></li>
                <li><div>
                  <a href="{{ meta.plagiarism_url }}">
                    {% trans 'Check plagiarism' %}
                  </a>
                </div></li>
              {% endif %}
            <li><div><a href="{{ meta.edit_url }}">
                {% trans 'Edit this exercise' %}
            </a></div></li>
            {% comment %}
              <li><div><a href="TODO">{% trans 'View reference answer' %}</a></div></li>
              <li><div><a href="{% url 'courses:sandbox' content.slug %}">{% trans 'View separately' %}</a></div></li>
            {% endcomment %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

{% if emb.revision and emb.revision > 0 and course_staff %}
<div class="revision-info-embedded">This is an old revision № {{ emb.revision }} of this embedded page!</div>
{% endif %}

<div>{{ emb.content|safe }}</div>

<div class="question">
  <div class="results-box hints" style="display: none">
    <span class="results-header">{% trans 'Hints' %}</span>
    <div class="hints-list"></div>
  </div>

  {% block panel %}
    <div class="side-panel" id="{{ content.slug }}-panel">
        <button type="button"
                class="side-panel-closer"
                title="{% trans 'Close the panel' %}"
                onclick="hide_panel(event, '{{ content.slug }}-panel');"
        >&lt;&lt;</button>
        <div class="panel-container"></div>
    </div>
  {% endblock %}
  
  <form id="{{ content.slug }}-form" class="exercise-form" method="POST" enctype="multipart/form-data" action="{{ meta.submit_url }}">
    
    {% csrf_token %}
    {% if emb.question %}{{ emb.question|safe }}{% endif %}
    
    {{ emb.form|safe }}
    
    {% if enrolled or course_staff %}
      <input type="submit" name="submit" value="{% trans 'Send answer' %}">
    {% else %}
      <input type="submit" name="submit" value="{% trans 'Send answer' %}" disabled>
    {% endif %}
    
    {% if not user.is_authenticated %}
      <div class="auth-warning">{% trans "Warning: You have not logged in. You cannot answer." %}</div>
    {% elif not enrolled and not course_staff %}
      <div class="auth-warning">{% trans "Warning: You have not enrolled to this course instance. You cannot answer." %}</div>
    {% endif %}
    
    {% if evaluation == "unanswered" %}
      <div class="answered-status"></div>
    {% elif evaluation == "incorrect" %}
      <div class="answered-status"><span class="incorrect">{% trans "You have previously answered this task incorrectly." %}</span></div>
    {% elif evaluation == "correct" %}
      <div class="answered-status"><span class="correct">{% trans "You have already answered this task correctly." %}</span></div>
    {% endif %}

  </form>
  <div class="results-box error" style="display: none"></div>
  <div class="results-box result" style="display: none"></div>
  <div class="results-box file-result" style="display: none"></div>
  <div class="results-box msgs" style="display: none">
    <span class="results-header">{% trans 'Messages' %}</span>
    <div class="msgs-list"></div>
  </div>
  <div class="results-box comments" style="display: none"></div>
</div>

{% block feedback %}
  {% feedbacks %}
{% endblock %}
</div>
    
