{% for label, target, url in menu_options %}
    <li><div>
        {% if target == "side-panel" %}
            <a id="{{ content.slug }}-batch-panel-link"
                class="embed-panel-link"
                href="{{ url }}"
                onclick="show_panel(event, this, 'embed-meta-panel', '{{ content.slug }}-panel');"
                data-querystring="">{{ label }}
            </a>
        {% else %}
            <a href="{{ url }}">{{ label }}</a>
        {% endif %}
    </div></li>
{% endfor %}
