{% extends 'courses/exercise.html' %}
{% load i18n %}

{% block exercise-form %}
  {% if content.ask_collaborators %}
    <div class="input-label-container"><label for="collaborators" class="file">{% trans "Collaborators:" %}</label><input name="collaborators" type="text" size="60" class="task_file" placeholder="{% trans 'Who did you co-operate with?' %}"></div>
  {% endif %}
  <div class="input-label-container"><label for="file" class="file">{% trans "Submit your files here:" %}</label><input name="file" type="file" class="task_file" multiple="multiple"></div>
  {% comment %}Use the accept and multiple properties for the file!{% endcomment %}
{% endblock %}
