<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    {% load i18n %}
    <title>Edit | {{ exercise.name }}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata">

    <link rel="stylesheet" href="{% static 'courses/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'courses/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'courses/jquery-ui.theme.css' %}">
    <link rel="stylesheet" href="{% static 'courses/latofonts.css' %}">
    <link rel="stylesheet" href="{% static 'courses/file-upload-exercise-admin.css' %}">

    <script src="{% static 'courses/jquery-3.0.0-beta1.min.js' %}"></script>
    <script src="{% static 'courses/jquery-ui.min.js' %}"></script>
    <script src="{% static 'courses/file-upload-exercise-admin.js' %}"></script>
    
    <script>
      $(function() {
        $("#test-tabs").tabs();
        
        $("#stages-sortable").sortable();
        $("#stages-sortable").disableSelection();
        $("#commands-sortable-1").sortable();
        $("#commands-sortable-1").disableSelection();
        $("#commands-sortable-2").sortable();
        $("#commands-sortable-2").disableSelection();
      });
    </script>
  </head>
  <body>
    <h1>Edit file upload exercise</h1>

    <section class="meta">
      {% load admin_urls %}
      <div class="breadcrumb"><a href="{% url 'admin:index' %}">Home</a> › <a href="{% url 'admin:app_list' 'courses' %}">Courses</a> › <a href="{% url 'admin:courses_fileuploadexercise_changelist' %}">File upload exercises</a> › {{ exercise.name }}</div>
      <div class="top-button"><a href="{% url 'courses:sandbox' exercise.slug %}">View in sandbox</a></div>
      <div class="top-button"><a href="{% url 'admin:courses_fileuploadexercise_history' exercise.id %}">View history</a></div>
    </section>

    <section class="general-information">
      <div class="generalinfo-left-side">
        <h2>General information</h2>

        <div>Name: <input type="text" value="{{ exercise.name }}"></div><!-- add onChange input->title&breadcrumb -->
        <div>Slug: {{ exercise.slug }}</div>

        <div>Page contents in <a href="{% url 'courses:markup_help' %}">the markup language</a></div>
        <textarea cols="100" rows="6">{{ exercise.content }}</textarea>
        <div>The exercise question</div>
        <textarea cols="100" rows="3">{{ exercise.question }}</textarea>

        <div>Default points: {{ exercise.default_points }}</div>

        <div>
          <input type="checkbox" id="manually_evaluated">
          <label for="manually_evaluated">This exercise is evaluated by hand</label>
        </div>

        <div>
          <input type="checkbox" id="ask_collaborators">
          <label for="ask_collaborators">Ask the answerer to list collaborators</label>
        </div>
      </div>
      
      <div class="generalinfo-right-side">
        <h2>Feedback questions</h2>
        <div>Feedback questions: {{ exercise.feedback_questions }}</div>

        <div class="separator"></div>

        <h2>Tags</h2>
        <ul class="exercise-tags">
          {% for ex_tag in exercise.tags %}
            <li class="exercise-tag">{{ ex_tag }}</li>
          {% endfor %}
        </ul>
      </div>

    </section>

    <section class="configurable-hints">
      <h2>Configurable hints</h2>

      <div>{{ exercise.hints_set }}</div>
    </section>

    <section class="included-files">
      <h2>Included files</h2>
      
      <div>
        A pool of files available only for this exercise:
        <ol>
          {% for include_file in include_files %}
            <li>{{ include_file.name }}</li>
          {% endfor %}
        </ol>
      </div>

      <div>
        A pool of files specific to a course instance:
        <ol>
          <li>some library.py / LIBRARY</li>
          <li>core testing routines.py / LIBRARY</li>
        </ol>
      </div>
    </section>

    <section class="tests">
      <h2>Tests</h2>
      
      <div id="test-tabs">
        <ol>
          {% for test in tests %}
            <li><a href="#test-tabs-{{ test.id }}">{{ test.name }}</a></li>
          {% endfor %}
          <li><button>create a new test</button></li>
        </ol>

        {% for test in tests %}
          <div id="test-tabs-{{ test.id }}">

            <div>
              <label for="test-{{ test.id }}-name">Test name:</label>
              <input type="text" id="test-{{ test.id }}-name" value="{{ test.name }}">
            </div>

            <div>Included files this test requires: &lt;a picker for selecting the files made available above; updates realtime&gt;{{ test.required_files }}</div>

            <div class="flex-container">
              <div class="left-side"><!-- left side, stages and commands -->
                <ol id="stages-sortable">
                  <li class="ui-state-default">
                    <h2>stage 1</h2>
                    <div>
                      <ol id="commands-sortable-1{{ stage_id }}">
                        <li class="ui-state-default">
                          command 1
                        </li>
                        <li class="ui-state-default">
                          command 2
                        </li>
                      </ol>
                    </div>
                  </li>
                  <li class="ui-state-default">
                    <h2>stage 2</h2>
                    <div>
                      <ol id="commands-sortable-2{{ stage_id }}">
                        <li class="ui-state-default">
                          command 1
                        </li>
                        <li class="ui-state-default">
                          command 2
                        </li>
                        <li class="ui-state-default">
                          command 3
                        </li>
                        <li class="ui-state-default">
                          command 4
                        </li>
                      </ol>
                    </div>
                  </li>
                </ol>
              </div>
              <div class="right-side"><!-- right side, information -->
                <h2>more information</h2>
                <p>
                  information that is shown when a command is clicked. 
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      
      <div>
        maybe use d3.js to generate a nice graph of how the tests will be run?
      </div>
    </section>

    <section class="form-controls">
      <div><a href="blaah/delete" id="delete-exercise">delete</a></div>
      <button id="save-exercise">save</button>
    </section>
  </body>
</html>
    
