{% extends 'courses/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block page-title %}RAiPPA - Available courses{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
{% endblock %}

{% block page-content %}
{% if course_list %}
  <h1>Available courses</h1>
  <ul>
    {% for course in course_list %}
      <li>
        <div>
          <div>
            <a href="{% url 'courses:course' course.slug %}">{{ course.name }}</a>
            {% if course.code %}– {{ course.code }}{% endif %}
            {% if course.credits %}/ {{ course.credits }} credits{% endif %}
          </div>
          {% if course.description %}<div>{{ course.description }}</div>{% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  No courses available!
{% endif %}
{% endblock %}
