<div class="login">
  {% if user.is_active %}
    {% filter force_escape %}
    {% firstof user.first_name user.username %}
    {% endfilter %}
  {% else %}
    User login
  {% endif %}

  {% if not user.is_active %}
    <div><a href="/accounts/login/">Log in</a></div>
    <div><a href="/accounts/register/">Create account</a></div>
  {% else  %}
    {% if user.is_staff %}
      <div><a href="/admin/">Admin tools</a></div>
    {% endif %}
    <div><a href="/profile/">Profile settings</a></div>
    <div><a href="/accounts/logout/">Log out</a></div>
  {% endif %}
</div>
