{% extends 'courses/base.html' %}
{% load static %}

{% block page-title %}Markup help{% endblock %}

{% block page-content %}
<h1>Markup help</h1>
{# TODO: Group by markup class #}
{% for markup in markups %}
  <div>
    <h2 class="content-heading">{{ markup.name }}<span id="{{ markup.slug }}" class="anchor-offset"></span><a href="#{{ markup.slug }}" class="permalink" title="Permalink to {{ markup.name }}">&para;</a></h2>
    <p>{{ markup.description }}</p>
    <h4>Example</h4>
    <pre class="normal">{{ markup.example }}</pre>
    <h4>Result</h4>
    <div>
      {{ markup.result }}
    </div>
  </div>
{% endfor %}
{% endblock %}
