{% load staticfiles %}
<head>
  <meta charset="UTF-8">
  
  <meta name="description" content="RAiPPA Online Learning/Teaching Environment">
  <meta name="keywords" content="RAiPPA,Python,tutorial">
  <meta name="author" content="Miikka Salminen">
  <meta name="application-name" content="RAiPPA programming task">
  
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata">
  <link rel="shortcut icon" href="{% static 'courses/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'courses/raippa.css' %}">
  <link rel="stylesheet" href="{% static 'courses/syntax.css' %}">
  <link rel="stylesheet" href="{% static 'courses/blockcode.css' %}">
  
  <script src="{% static 'courses/jquery-2.1.1.min.js' %}"></script>
  <script src="{% static 'courses/raippa.js' %}"></script>
  <script src="{% static 'courses/blockcode.js' %}"></script>
  <script src="{% static 'courses/task.js' %}"></script>
  <script src="{% static 'courses/calendar.js' %}"></script>
  <script>
    $(document).ready(function() {
      addLineNumbers();
      setColumnWidths();
      setLineWidths();
      setPreHeights();

      $("span.jquery-version").html($.fn.jquery);
    });
  </script>
  
  {% if title %}
    <title>RAiPPA - {{ title }}</title>
  {% else %}
    <title>RAiPPA</title>
  {% endif %}
</head>
