{% load i18n %}

<button id="rt-{{ content.id }}" onclick="start_repeated_template_session(event);" class="rt-interaction"
            data-url="
              {% if instance %}
                {% url 'courses:get_repeated_template_session' course instance content "head" %}" 
              {% endif %}
            data-start-text="{% trans 'Start exercise session' %}" 
            data-next-text="{% trans 'Next' %}"
            data-start-over-text="{% trans 'Start over' %}">
{% trans 'Start exercise session' %}
</button>
<div class="rt-question-area">
  <div class="rt-progress"><span class="rt-progress-tag"></span></div>
  <div class="repeated-template"></div>
</div>