{% load staticfiles %}
{% load i18n %}
{% load content_extra %}

  {% content_meta course_slug content user evaluation answer_count%}

  {% if emb_content %}
    <div>{{ emb_content|safe }}</div>
  {% endif %}

{% if content.is_answerable %}
  <div class="question">
    <form id="{{ content_slug }}-form" class="exercise-form" method="POST" enctype="multipart/form-data"
          action="{% url 'courses:check' course_slug content.slug %}">
      {% csrf_token %}
      {% if question %}{{ question|safe }}{% endif %}
      {% if content.content_type == "MULTIPLE_CHOICE_EXERCISE" %}
        {% for choice in choices %}
          <div class="input-label-container">
            <input type="radio" name="{{ content_slug }}-radio" id="mce-{{ choice.id }}" value="{{ choice.id }}" class="task_radio"><label for="mce-{{ choice.id }}">{{ choice.answer }}</label>
          </div>
        {% endfor %}
      {% elif content.content_type == "CHECKBOX_EXERCISE" %}
        {% for choice in choices %}
          <div class="input-label-container">
            <input type="checkbox" name="{{ choice.id }}" id="cb-{{ choice.id }}" value="{{ choice.id }}" class="task_check"><label for="cb-{{ choice.id }}">{{ choice.answer }}</label>
          </div>
        {% endfor %}
      {% elif content.content_type == "TEXTFIELD_EXERCISE" %}
        <textarea name="answer" class="task_text" placeholder="{% trans 'Enter your answer here' %}" rows="3"></textarea><br>
      {% elif content.content_type == "FILE_UPLOAD_EXERCISE" %}
        <div class="input-label-container"><label for="collaborators" class="file">{% trans "Collaborators:" %}</label><input name="collaborators" type="text" size="60" class="task_file" placeholder="{% trans 'Who did you co-operate with?' %}"></div>
        <div class="input-label-container"><label for="file" class="file">{% trans "Submit your files here:" %}</label><input name="file" type="file" class="task_file" multiple="multiple"></div>
        {% comment %}Use the accept and multiple properties for the file!{% endcomment %}
      {% elif content.content_type == "CODE_REPLACE_EXERCISE" %}
        {% for replace_file, lineiter in choices %}
          <div>
            <div class="code-replace-filename">{{ replace_file }}</div>
            {% for _, replace_line, id in lineiter %}
              <div class="input-label-container code-replace">
                <label for="cre-{{ id }}" class="code-replace-label"
                       title="{% blocktrans with line=replace_line file=replace_file %}Line {{ line }} in {{ file }}{% endblocktrans %}"
                       onmouseover="highlight_code_line('{{ replace_file }}', {{ replace_line }});"
                       onmouseout="unhighlight_code_line('{{ replace_file }}', {{ replace_line }});">
                  {{ replace_line }}
                </label>
                <input id="cre-{{ id }}" name="cre-{{ id }}" type="text" class="code-replace-input">
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
      
      <input type="submit" name="submit" value="{% trans 'Send answer' %}">
      {% if not user.is_authenticated %}
        <div class="auth_warning">{% trans "Warning: You have not logged in. Your answer will not be saved." %}</div>
      {% endif %}
      {% if evaluation == "not_answered" %}
        <div class="answered_status"></div>
      {% elif evaluation == "incorrect" %}
        <div class="answered_status"><span class="incorrect">{% trans "You have previously answered this task incorrectly." %}</span></div>
      {% elif evaluation == "correct" %}
        <div class="answered_status"><span class="correct">{% trans "You have already answered this task correctly." %}</span></div>
      {% endif %}
    </form>
    <div class="error" style="display: none"></div>
    <div class="result" style="display: none"></div>
  </div>  
{% endif %}
