{% extends 'courses/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load course_tags %}

{% block extra-static %}
<link rel="stylesheet" href="{% static 'courses/answers.css' %}">
<script src="{% static 'courses/answers.js' %}"></script>
{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
  {% if not sandboxed %}
  <div class="separator">»</div>
  <li><a href="{% url 'courses:course' course_slug instance_slug %}">{{ course_name }}</a></li>
  {% endif %}
{% endblock %}

{% block page-content %}
<h1>Your answers to {{ exercise }}</h1>
<table class="fixed">
<colgroup>
  <col class="answer-date">
  <col class="answer">
  <col class="evaluation">
  <col class="permalink">
</colgroup>
<caption>{{ answers.count }} entered answers for this exercise</caption>
<thead>
  <tr>
    <th>Answer date</th>
    <th>Entered answer</th>
    <th>Evaluation</th>
    <th>Permalink</th>
  </tr>
</thead>
<tbody>
  {% for answer in answers %}
  <tr id="{{ answer.id }}">
    <td class="answer-date">{{ answer.answer_date|answer_date }}</td>
    <td class="answer">
      {% if answer.given_answer %}
        {{ answer.given_answer }}
      {% elif answer.chosen_answer %}
        {{ answer.chosen_answer }}
      {% elif answer.chosen_answers %}
        <ul>
          {% for chosen_answer in answer.chosen_answers.all %}
            <li>{{ chosen_answer }}</li>
          {% endfor %}
        </ul>
      {% elif answer.get_returned_files %}
        <ul>
          {% for file in answer.get_returned_files.items %}
            {% if file.1.1 == True %}
              <li>{{ file.0 }}</li>
            {% else %}
              <li><a class="fileview-link" href="" onclick="show_file(event, this);">{{ file.0 }}</a>
                <div class="popup"><pre class="fileview">{{ file.1.2|safe }}</pre></div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </td>
    <td class="evaluation {% if answer.evaluation.correct %}correct{% else %}incorrect{% endif %}">
      {% if answer.evaluation.correct %}
        <span title="Correct">✔</span>
      {% else %}
        <span title="Incorrect">✘</span>
      {% endif %}
      {% if answer.evaluation.test_results %}
        <a href="{% url 'courses:get_old_file_exercise_evaluation' user answer.id %}"
           onclick="show_results(event, this, 'results-{{ answer.id }}');">View results</a>
        <div class="popup"><div class="results-view" id="results-{{ answer.id }}"></div></div>
      {% endif %}
    </td>
    <td class="permalink"><a href="#{{ answer.id }}">&para;</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
