<style>
table {
    border: 1px solid #333;
}
caption {}
td.answer-date {}
td.answer {}
td.evaluation {}
td.correct {}
td.incorrect {}
td.permalink {}
</style>

Answered {{ answers.count }} times.

<table>
<caption>Entered answers for this exercise</caption>
<thead>
  <tr>
    <th>Answer date</th>
    <th>Entered answer</th>
    <th>Evaluation</th>
    <th>Permalink</th>
  </tr>
</thead>
<tbody>
  {% for answer in answers %}
  <tr id="{{ answer.id }}">
    <td class="answer-date">{{ answer.answer_date|date:"Y-m-d, H:i:s" }}</td>
    <td class="answer">{{ answer.given_answer }}</td>
    <td class="evaluation {% if answer.evaluation.correct %}correct{% else %}incorrect{% endif %}">{% if answer.evaluation.correct %}<span title="Correct">✔</span>{% else %}<span title="Incorrect">✘</span>{% endif %}</td>
    <td class="permalink"><a href="#{{ answer.id }}">&para;</a></td>
  </tr>
  {% endfor %}
</tbody>
</table>
