{% extends 'courses/base.html' %}

{% load i18n %}
{% load static %}
{% load course_tags %}
{% load form_tags %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
  <div class="separator">»</div>
  <li>{% trans 'User Profile' %}</li>
{% endblock %}

{% block page-content %}
  <h1>{% trans 'User Profile and Settings' %}</h1>

  <div class="form-disclaimer">
    {% blocktrans %}
      Please fill any missing profile information. Only accounts with a completed profile
      can enroll to courses.
    {% endblocktrans %}
  </div>

  <form id="user-profile-form"
        method="POST"
        enctype="multipart/form-data"
        action="{{ submit_url }}">

        <div class="form-disclaimer"></div>

        {% csrf_token %}

        {% for field in user_form.hidden_fields %}
            {{ field }}
        {% endfor %}

        {% for field in profile_form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <table class="edit-form-table">
          <tbody>
            {% for field in user_form.visible_fields %}
              <tr class="edit-form-error-tr">
                <td colspan="2">{{ field.errors.as_text }}</td>
              </tr>
              <tr>
                <td>
                    {% if field.field.required %}
                        <b>{{ field.label_tag }}</b>
                    {% else %}
                        {{ field.label_tag }}
                    {% endif %}
                </td>
                <td>{{ field|tabindex_attr }}</td>
              </tr>
            {% endfor %}
            {% for field in profile_form.visible_fields %}
              <tr class="edit-form-error-tr">
                <td colspan="2">{{ field.errors.as_text }}</td>
              </tr>
              <tr>
                <td>
                    {% if field.field.required %}
                        <b>{{ field.label_tag }}</b>
                    {% else %}
                        {{ field.label_tag }}
                    {% endif %}
                </td>
                <td>{{ field|tabindex_attr }}</td>
              </tr>
            {% endfor %}
          <tbody>
        </table>

        <input type="submit" name="submit" value="{% trans 'Save' %}"></input>

  </form>

  <h2>{% trans 'Data Retention Setting' %}</h2>
  <div class="form-disclaimer">
    <div class="paragraph">
      {% blocktrans %}
        Data retention setting determines how long Lovelace will keep your data. You have three options.
        "Your data" in this context refers to your submitted answers, including any attached files,
        and all evaluation reports linked to them. It also includes your completion statistics. Data is
        cleaned up periodically.
      {% endblocktrans %}
    </div>
    <ol>
      <li>{% trans 'Institution policy - anonymized' %}
        <ul><li>
          {% blocktrans %}
            Your data will be kept for {{ data_retention_period }} months after a course has ended,
            as dictated by the learning institutions's policy. After this period your data will be
            anonymized, and become unaccessible. Statistics from anonymous data can be used by
            teachers to improve learning materials. Anonymous data cannot be connected back to
            your account.
          {% endblocktrans %}
        </li></ul>
      </li>
      <li>{% trans 'Institution policy - deleted' %}
        <ul><li>
          {% blocktrans %}
            Your data will be kept for {{ data_retention_period }} months after a course has ended,
            as dictated by the learning institutions's policy. After this period your data will be
            deleted completely.
          {% endblocktrans %}
        </li></ul>
      </li>
      <li>
        {% trans 'Retain indefinitely' %}
        <ul><li>
          {% blocktrans %}
            Your data will be retained indefinitely and you can access it as long as you have
            access to your user account. You can change this policy to one of the other two
            at any time. If {{ data_retention_period }} months have passed since the course(s)
            ended, the change will take effect the next time data is cleaned up.
          {% endblocktrans %}
        </li></ul>
      </li>
  </div>

{% endblock %}

