<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    {% load i18n %}
    {% load exercise_admin_extras %}
    {% get_current_language as CURRENT_LANGUAGE %}
    {% get_available_languages as AVAILABLE_LANGUAGES %}
    {% get_language_info_list for AVAILABLE_LANGUAGES as LANGUAGES_VERBOSE %}
    {% get_default_language as DEFAULT_LANGUAGE %}
    <title>{{ add_or_edit }} | {{ exercise.name }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">

    <link rel="stylesheet" href="{% static 'courses/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'courses/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'courses/jquery-ui.theme.css' %}">
    <link rel="stylesheet" href="{% static 'courses/latofonts.css' %}">
    <link rel="stylesheet" href="{% static 'exercise_admin/exercise-admin.css' %}">

    <script src="{% static 'courses/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'courses/jquery-ui.min.js' %}"></script>
    <script src="{% static 'courses/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'exercise_admin/exercise-admin.js' %}"></script>
    
    {% block head-script %}
    {% endblock %}
  </head>
  <body>
    {% block heading %}
    {% endblock %}

    {% block meta %}
    {% endblock %}

    <form method="POST" action="{% url 'exercise_admin:edit_feedback_questions' %}" id="edit-feedback-form" onsubmit="submit_edit_feedback_form(event, '{{ DEFAULT_LANGUAGE }}');">
      {% csrf_token %}
      <div id="edit-feedback-popup" class="popup">
        <div>
          <div id="add-feedback-div">
            <h2>Add feedback question</h2>
            <div class="bordered-editable-area">
              <div class="feedback-table-div">
                <table id="add-feedback-table" class="feedback-question-table">
                  <colgroup>
                    <col class="feedback-question">
                    <col class="feedback-type">
                    <col class="feedback-edit-button">
                  </colgroup>
                  <thead>
                    <tr>
                      <th>
                        <input type="checkbox" id="fb-question-checkbox-all" class="feedback-question-checkbox" onclick="select_all_feedback_questions(this.checked);">
                        {% for language_choice, _ in AVAILABLE_LANGUAGES %}
                          <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %} inline-block-elem" data-language-code="{{ language_choice }}">
                            <label for="fb-question-checkbox-all" class="feedback-question-label">Question</label> {% lang_reminder language_choice %}
                          </div>
                        {% endfor %}
                      </th>
                      <th>Type</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div id="edit-feedback-divs">
          </div>

          <div id="create-feedback-div">
            <h2>Create new feedback question</h2>
            <div>
              {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
                <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %} inline-block-elem" data-language-code="{{ language_choice }}">
                  <label class="feedback-question-input-label" for="feedback-question-create-{{ language_choice }}">
                    <span class="feedback-question-span">Feedback question {% lang_reminder language_choice %}:</span>
                    <input type="text" id="feedback-question-create-{{ language_choice }}" class="feedback-question-input" maxlength="100" value=""
                           oninput="update_create_feedback_button_state('{{ DEFAULT_LANGUAGE }}')" data-language-code="{{ language_choice }}">
                  </div>
                </span>
              {% endfor %}
            </div>
            <div id="feedback-question-create-error" class="admin-error"></div>
            <div>
              <span class="feedback-type-span">Feedback question type:</span>
              <select id="feedback-type-select-create" class="feedback-type-select" onchange="handle_feedback_type_selection(this, '{{ DEFAULT_LANGUAGE }}');" form="create-feedback-form">
                <option value="THUMB_FEEDBACK">Thumb feedback question</option>
                <option value="STAR_FEEDBACK">Star feedback question</option>
                <option value="MULTIPLE_CHOICE_FEEDBACK">Multiple choice feedback question</option>
                <option value="TEXTFIELD_FEEDBACK">Textfield feedback question</option>
              </select>
            </div>
            <div id="feedback-choices-div-create" class="feedback-choices">
              {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
                <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
                  <span class="feedback-choice-container-span">Feedback answer choices {% lang_reminder language_choice %}:</span>
                </div>
              {% endfor %}
              <div id="feedback-choices-container-create" class="bordered-editable-area feedback-choice-container">
                <div id="feedback-choice-list-div-create" class="feedback-choice-list-create" data-question-id="create">
                </div>
              </div>
            </div>
            <button type="button" id="add-new-feedback-choice" class="add-item" title="Adds a new answer choice for the feedback question"
                    onclick="add_feedback_choice('create');">Add choice</button>
            <button type="button" id="create-feedback-button" class="add-item" title="Creates a new feedback question"
                    onclick="create_new_feedback_question_entry('{{ DEFAULT_LANGUAGE }}');" disabled>Create feedback</button>
          </div>
          <div class="popup-buttons">
            <input type="submit" class="popup-button" value="Save questions" name="save_feedback_questions">
            <button type="button" class="popup-button" onclick="close_feedback_popup_without_saving();">Close</button>
          </div>
          <div id="feedback-error" class="admin-error"></div>
        </div>
      </div>
    </form>

    {% block exercise-type-specific-popups %}
    {% endblock %}

    <form method="POST" action="{% block form-action-url %}{% endblock %}" id="main-form" onSubmit="submit_main_form(event);">
      {% csrf_token %}
      <section class="general-information">
        <div class="generalinfo-left-side">
          <h2>General information</h2>

          {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
            <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
              <div class="form-row">
                <label for="exercise-name-{{ language_choice }}">Name {% lang_reminder language_choice %}: </label>
                <input type="text" id="exercise-name-{{ language_choice }}" name="exercise_name_{{ language_choice }}"
                       value="{% get_translated_field exercise "name" language_choice %}" class="general-text-input"
                       onInput="exercise_name_changed(event, '{{ language_choice }}');" autofocus>
              </div>
            </div>
          {% endfor %}

          <div class="form-row">
            <label for="exercise-slug">Slug: </label>
            <span id="exercise-slug">{% if add_or_edit == 'Edit' %}{{ exercise.slug }}{% else %}(no slug yet){% endif %}</span>
          </div>

          {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
            <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
              <div class="form-bigrow">
                <label for="exercise-page-content-{{ language_choice }}">Page contents in <a href="{% url 'courses:markup_help' %}" class="help-link" title="Help on how to edit with the markup language" target="_new">the markup language</a> {% lang_reminder language_choice %}:</label>
                <textarea id="exercise-page-content-{{ language_choice }}" name="exercise_content_{{ language_choice }}"
                          cols="101" rows="8" onInput="exercise_page_content_changed(event, '{{ language_choice }}');"
                          class="exercise-content-input">{% get_translated_field exercise "content" language_choice %}</textarea>
                
                </div>
                <button type="button" class="add-item"
                    onclick="show_preview(this, '{{ language_choice }}');"
                    data-url="{% url 'courses:content_preview' language_choice %}"
                >{% trans 'Preview' %}</button>
            </div>
          {% endfor %}

          {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
            <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
              <div class="form-bigrow">
                <label for="exercise-question-{{ language_choice }}">The exercise question {% lang_reminder language_choice %}:</label>
                <textarea id="exercise-question-{{ language_choice }}" name="exercise_question_{{ language_choice }}" cols="101" rows="3">{% get_translated_field exercise "question" language_choice %}</textarea>
              </div>
            </div>
          {% endfor %}

          <div class="form-row">
            <label for="exercise-points">Default points:</label>
            <input type="number" step="1" id="exercise-points" name="exercise_default_points"
                   value="{{ exercise.default_points }}">
          </div>

          <div class="form-row">
            <label for="evaluation-group">Evaluation group:</label>
            <input type="text" id="evaluation-group" name="exercise_evaluation_group"
                   value="{{ exercise.evaluation_group }}">
          </div>

          <div class="form-cb-row">
            <input type="checkbox" id="manually_evaluated" name="exercise_manually_evaluated" {% if exercise.manually_evaluated %}checked{% endif %}>
            <label for="manually_evaluated">This exercise is evaluated by hand</label>
          </div>

          <div class="form-cb-row">
            <input type="checkbox" id="ask_collaborators" name="exercise_ask_collaborators" {% if exercise.ask_collaborators %}checked{% endif %}>
            <label for="ask_collaborators">Ask the answerer to list collaborators</label>
          </div>

          {% block exercise-type-extra %}
          {% endblock %}
        </div>
        
        <div class="generalinfo-right-side">
          <h2>Feedback questions</h2>
          <div class="bordered-editable-area">
            <div id="feedback-question-table-div" class="feedback-table-div">
              <table id="feedback-question-table" class="feedback-question-table">
                <colgroup>
                  <col class="feedback-question">
                  <col class="feedback-type">
                  <col class="delete-feedback">
                </colgroup>
                <thead>
                  <tr>
                    <th>
                      {% for language_choice, _ in AVAILABLE_LANGUAGES %}
                        <span class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
                          Question {% lang_reminder language_choice %}
                        </span>
                      {% endfor %}
                    </th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  {% for question in exercise.feedback_questions.all %}
                    {% feedback_question_tr question %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <button type="button" class="add-item" title="Add and edit feedback questions"
                  onclick="show_edit_feedback_questions_popup(event, '{% url 'exercise_admin:get_feedback_questions' %}', '{{ DEFAULT_LANGUAGE }}');">Add and Edit</button>
          <span id="edit-feedback-popup-error" class="admin-error"></span>

          <div class="separator"></div>

          <h2>Tags</h2>
          <ul class="exercise-tags">
            {% for ex_tag in exercise.tags %}
              <li class="exercise-tag">
                <input type="text" id="exercise-tag-{{ forloop.counter }}" class="exercise-tag-input"
                       name="exercise_tag_{{ forloop.counter }}" value="{{ ex_tag }}" maxlength="32"
                       onfocus="highlight_parent_li(this);" oninput="change_tag_width(this);">
                <button type="button" class="delete-button" onclick="remove_tag(this);">x</button>
              </li>
            {% endfor %}
          </ul>
          <button type="button" class="add-item" onclick="add_tag();">Add</button>
        </div>
      </section>

      <section class="configurable-hints">
        <h2>Configurable hints</h2>

        <table id="hint-table">
          <colgroup>
            <col class="hint-tries-to-unlock">
            <col class="hint-content">
          </colgroup>
          <thead>
            <tr>
              <th>Tries to unlock</th>
              <th>
                {% for language_choice, _ in AVAILABLE_LANGUAGES %}
                  <span class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
                    Hint {% lang_reminder language_choice %}
                  </span>
                {% endfor %}
              </th>
            </tr>
          </thead>
          <tbody>
          {% for hint in hints %}
            {% hint_tr hint %}
          {% endfor %}
          </tbody>
        </table>
        <button type="button" class="add-item" onclick="add_hint();">Add</button>
      </section>

      {% block exercise-type-specific %}
      {% endblock %}

      <section class="edit-meta">
        <h2>Version information</h2>
        <div class="form-bigrow">
          <label for="version-comment">Describe the changes you made: </label>
          <textarea id="version-comment" name="version_comment" rows="3" cols="100" placeholder="E.g. Added a hint. Fixed grammar in the assignment text."></textarea>
        </div>
      </section>
      
      {% block form-controls %}
      {% endblock %}
    </form>

    <div style="display: none;">
      {% block templates %}
      {% endblock %}
      <div style="display: none;">
        <table>
          {% feedback_question_tr True True %}
        </table>
      </div>
      <div style="display: none;">
        <table>
          {% feedback_question_popup_tr True %}
        </table>
      </div>
      <div style="display: none;">
        <table>
          {% feedback_question_popup_tr False %}
        </table>
      </div>
      <div style="display: none;">
        {% feedback_choice_div True %}
      </div>
      <div style="display: none;">
        {% feedback_choice_div False %}
      </div>
      <div style="display: none;">
        {% feedback_edit_div %}
      </div>
      <div style="display: none;">
        <table>
          {% hint_tr True True %}
        </table>
      </div>
    </div>

    <div id="language-picker-container">
      <div title="Default language of the system. Must be provided">Default language: {{ DEFAULT_LANGUAGE }}</div>
      <div title="You are currently editing the translated version of this exercise in this language">Language of the current translation: <span id="language-info-code">{{ CURRENT_LANGUAGE }}</span></div>
      <label for="language-selector">Change to </label>
      <select id="language-selector" onChange="change_current_language(event);">
        {% for language in LANGUAGES_VERBOSE %}
          <option value="{{ language.code }}"{% if language.code == CURRENT_LANGUAGE %} selected="selected"{% endif %}>
            {{ language.name_local }} ({{ language.code }})
          </option>
        {% endfor %}
      </select>
    </div>
    
    <div id="preview-popup" class="popup">
        <div class="content-preview" id="{{ widget.name }}-preview"></div>
    </div>
    
  </body>
</html>
    
