<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    {% load i18n %}
    <title>Edit | {{ exercise.name }}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Inconsolata">

    <link rel="stylesheet" href="{% static 'courses/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'courses/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'courses/jquery-ui.theme.css' %}">
    <link rel="stylesheet" href="{% static 'courses/latofonts.css' %}">
    <link rel="stylesheet" href="{% static 'exercise_admin/exercise-admin.css' %}">

    <script src="{% static 'courses/jquery-3.0.0-beta1.min.js' %}"></script>
    <script src="{% static 'courses/jquery-ui.min.js' %}"></script>
    <script src="{% static 'exercise_admin/exercise-admin.js' %}"></script>

    {% block head-script %}
    {% endblock %}
  </head>
  <body>
    {% block heading %}
    {% endblock %}

    {% block meta %}
    {% endblock %}

    <section class="general-information">
      <div class="generalinfo-left-side">
        <h2>General information</h2>

        <div>Name: <input type="text" value="{{ exercise.name }}"></div><!-- add onChange input->title&breadcrumb -->
        <div>Slug: {{ exercise.slug }}</div>

        <div>Page contents in <a href="{% url 'courses:markup_help' %}">the markup language</a></div>
        <textarea cols="100" rows="6">{{ exercise.content }}</textarea>
        <div>The exercise question</div>
        <textarea cols="100" rows="3">{{ exercise.question }}</textarea>

        <div>Default points: {{ exercise.default_points }}</div>

        <div>
          <input type="checkbox" id="manually_evaluated">
          <label for="manually_evaluated">This exercise is evaluated by hand</label>
        </div>

        <div>
          <input type="checkbox" id="ask_collaborators">
          <label for="ask_collaborators">Ask the answerer to list collaborators</label>
        </div>
      </div>
      
      <div class="generalinfo-right-side">
        <h2>Feedback questions</h2>
        <div>Feedback questions: {{ exercise.feedback_questions }}</div>

        <div class="separator"></div>

        <h2>Tags</h2>
        <ul class="exercise-tags">
          {% for ex_tag in exercise.tags %}
            <li class="exercise-tag">{{ ex_tag }}</li>
          {% endfor %}
        </ul>
      </div>
    </section>

    <section class="configurable-hints">
      <h2>Configurable hints</h2>

      <div>{{ exercise.hints_set }}</div>
    </section>

    {% block exercise-type-specific %}
    {% endblock %}

    {% block form-controls %}
    {% endblock %}
  </body>
</html>
    
