{% load i18n %}
{% load exercise_admin_extras %}
{% get_default_language as DEFAULT_LANGUAGE %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as LANGUAGES_VERBOSE %}
<tr id="feedback-question-popup-tr-{{ question.id }}">
  <td class="question-cell">
    <input type="checkbox" id="fb-question-checkbox-{{ question.id }}" class="feedback-question-checkbox" data-question-id="{{ question.id }}" {% if checked %}checked{% endif %}>
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}
      <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %} inline-block-elem" data-language-code="{{ language_choice }}">
        <label id="feedback-question-label-{{ question.id }}-{{ language_choice }}" for="fb-question-checkbox-{{ question.id }}"
               class="feedback-question-label">{% get_translated_field question "question" language_choice %}</label>
      </div>
    {% endfor %}
  </td>
  <td class="type-cell">{{ question.get_human_readable_type }}</td>
  <td class="edit-cell">
    <button type="button" class="edit-button" onclick="show_feedback_question_edit_menu('{{ question.id }}');"></button>
  </td>
</tr>
