{% load i18n %}
{% load exercise_admin_extras %}
{% get_default_language as DEFAULT_LANGUAGE %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
<tr id="included-file-tr-{{ include_file.id }}">
  <td id="included-file-td-name-{{ include_file.id }}">
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <span class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
        {% get_translated_field include_file.file_settings "name" language_choice %}
      </span>
    {% endfor %}
  </td>
  <td id="included-file-td-purpose-{{ include_file.id }}">
    {{ include_file.file_settings.get_purpose_display }}
  </td>
  <td id="included-file-td-description-{{ include_file.id }}">
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <span class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
        {% get_translated_field include_file "description" language_choice %}
      </span>
    {% endfor %}
  </td>
  <td id="included-file-td-link-{{ include_file.id }}">
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %} inline-block-elem included-file-link-div" data-language-code="{{ language_choice }}">
        {% get_translated_field include_file "fileinfo" language_choice as fileinfo %}
        {% if fileinfo and fileinfo.url %}
          <a href="{{ fileinfo.url }}" class="file-url" data-language-code="{{ language_choice }}" download></a>
        {% endif %}
      </div>
    {% endfor %}
  </td>
  <td>
    <button type="button" class="edit-button" title="Opens a popup window to edit an included file"
            onclick="show_edit_included_file_popup('{{ include_file.id }}', '{{ DEFAULT_LANGUAGE }}');"></button>
  </td>
  <td>
    <button type="button" class="delete-button" title="Removes the included file from the list of included files belonging to this exercise"
            onclick="remove_included_file(this);">x</button>
  </td>
</tr>

