{% extends 'exercise_admin/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head-script %}
  <script>
    $(function() {
      $("#test-tabs").tabs();
      {% for test, stages in tests %}
        $("#stages-sortable-{{ test.id }}").sortable();
        $("#stages-sortable-{{ test.id }}").disableSelection();
        {% for stage, commands in stages %}
          $("#commands-sortable-{{ test.id }}-{{ stage.id }}").sortable();
          $("#commands-sortable-{{ test.id }}-{{ stage.id }}").disableSelection();
        {% endfor %}
      {% endfor %}
    });
  </script>
{% endblock %}

{% block heading %}
  <h1>Edit file upload exercise</h1>
{% endblock %}

{% block meta %}
  <section class="meta">
    <div class="breadcrumb"><a href="{% url 'admin:index' %}">Home</a> › <a href="{% url 'admin:app_list' 'courses' %}">Courses</a> › <a href="{% url 'admin:courses_fileuploadexercise_changelist' %}">File upload exercises</a> › {{ exercise.name }}</div>
    <div class="top-button"><a href="{% url 'courses:sandbox' exercise.slug %}">View in sandbox</a></div>
    <div class="top-button"><a href="{% url 'admin:courses_fileuploadexercise_history' exercise.id %}">View history</a></div>
  </section>
{% endblock %}

{% block exercise-type-specific %}
  <section class="included-files">
    <h2>Included files</h2>
    
    <div>
      A pool of files available only for this exercise:
      <ol>
        {% for include_file in include_files %}
          <li>{{ include_file.name }}</li>
        {% endfor %}
      </ol>
    </div>

    <div>
      A pool of files specific to a course instance:
      <ol>
        <li>some library.py / LIBRARY</li>
        <li>core testing routines.py / LIBRARY</li>
      </ol>
    </div>
  </section>

  
  <section class="tests">
    <h2>Tests</h2>
    
    <div id="test-tabs">
      <ol>
        {% for test, stages in tests %}
          <li><a href="#test-tabs-{{ test.id }}">{{ test.name }}</a></li>
        {% endfor %}
        <li><button>create a new test</button></li>
      </ol>

      {% for test, stages in tests %}
        <div id="test-tabs-{{ test.id }}">

          <div>
            <label for="test-{{ test.id }}-name">Test name:</label>
            <input type="text" id="test-{{ test.id }}-name" value="{{ test.name }}">
          </div>

          <div>Included files this test requires: &lt;a picker for selecting the files made available above; updates realtime&gt;{{ test.required_files }}</div>

          <div class="flex-container">
            <div class="left-side"><!-- left side, stages and commands -->
              <ol id="stages-sortable-{{ test.id }}">
                {% for stage, commands in stages %}
                  <li class="ui-state-default">
                    <h2>{{ stage.name }}</h2>
                    <div>
                      <ol id="commands-sortable-{{ test.id }}-{{ stage.id }}">
                        {% for cmd, expected_outputs in commands %}
                          <li class="ui-state-default">
                            {{ cmd.command_line }}
                          </li>
                        {% endfor %}
                      </ol>
                    </div>
                  </li>
                {% endfor %}
            </div>
            <div class="right-side"><!-- right side, information -->
              <h2>more information</h2>
              <p>
                information that is shown when a command is clicked. 
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    
    <div>
      maybe use d3.js to generate a nice graph of how the tests will be run?
    </div>
  </section>
{% endblock %}

{% block form-controls %}
  <section class="form-controls">
    <div><a href="blaah/delete" id="delete-exercise">delete</a></div>
    <button id="save-exercise">save</button>
  </section>
{% endblock %}
