{% load i18n %}
{% load exercise_admin_extras %}
{% get_default_language as DEFAULT_LANGUAGE %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as LANGUAGES_VERBOSE %}
<div id="edit-instance-file-{{ instance_file.id }}" class="edit-instance-file">
  <div class="edit-instance-file-title-div">
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %} inline-block-elem" data-language-code="{{ language_choice }}">
        <h2 id="edit-instance-file-title-{{ instance_file.id }}-{{ language_choice }}" class="popup-file-title">
          Edit instance file: {% get_translated_field instance_file "default_name" language_choice %}
        </h2>
        {% lang_reminder language_choice %}
      </div>
    {% endfor %}
  </div>
  {% if create %}
    <div class="create-instance-file-title-div">
      <h2 id="create-instance-file-title-{{ instance_file.id }}" class="popup-file-title">Create new instance file</h2>
    </div>
  {% endif %}
  <div>
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
        <label for="instance-file-{{ instance_file.id }}-{{ language_choice }}">
          <span class="choose-file-span">Choose file {% lang_reminder language_choice %}: </span>
          <input type="file" id="instance-file-{{ instance_file.id }}-{{ language_choice }}" name="instance_file_file_[{{ instance_file.id }}]_{{ language_choice }}" class="file-input"
                 onchange="update_instance_file_done_button_state('{{ instance_file.id }}', '{{ DEFAULT_LANGUAGE }}');" data-language-code="{{ language_choice }}">
        </label>
      </div>
    {% endfor %}
    <div id="instance-file-file-error-{{ instance_file.id }}" class="admin-error"></div>
  </div>
  <div>
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
        <label class="file-label" for="instance-file-instance-{{ instance_file.id }}">
          <span class="file-instance-span">Course instance {% lang_reminder language_choice %}:</span>
          <select id="instance-file-instance-{{ instance_file.id }}-{{ language_choice }}" class="file-instance-select" name="instance_file_instance_[{{ instance_file.id }}]_{{ language_choice }}"
                  onchange="update_instance_file_selects('{{ instance_file.id }}', $(this));" data-language-code="{{ language_choice }}">
            {% for instance in instances %}
              <option value="{{ instance.id }}">{% get_translated_field instance "name" language_choice %}</option>
            {% endfor %}
          </select>
        </label>
      </div>  
    {% endfor %}
  </div>
  <div>
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
        <label class="file-label" for="instance-file-default-name-{{ instance_file.id }}-{{ language_choice }}">
          <span class="file-default-name-span">Default name {% lang_reminder language_choice %}: </span>
          <input type="text" id="instance-file-default-name-{{ instance_file.id }}-{{ language_choice }}" class="file-default-name-input" maxlength="225"
                 name="instance_file_default_name_[{{ instance_file.id }}]_{{ language_choice }}" value="{% get_translated_field instance_file "default_name" language_choice %}"
                 oninput="update_instance_file_done_button_state('{{ instance_file.id }}', '{{ DEFAULT_LANGUAGE }}');" data-language-code="{{ language_choice }}">
        </label>
      </div>
    {% endfor %}
    <div id="instance-file-default-name-error-{{ instance_file.id }}" class="admin-error"></div>
  </div>
  <div>
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
        <label class="file-label" for="instance-file-description-{{ instance_file.id }}-{{ language_choice }}">
          <div>File description {% lang_reminder language_choice %}:</div>
          <textarea id="instance-file-description-{{ instance_file.id }}-{{ language_choice }}" name="instance_file_description_[{{ instance_file.id }}]_{{ language_choice }}"
                    class="file-description-area" cols="117" rows="5" oninput="update_instance_file_done_button_state('{{ instance_file.id }}', '{{ DEFAULT_LANGUAGE }}');"
                    data-language-code="{{ language_choice }}">{% get_translated_field instance_file "description" language_choice %}</textarea>
        </label>
      </div>
    {% endfor %}
    <div id="instance-file-description-error-{{ instance_file.id }}" class="admin-error"></div>
  </div>
  {% if create %}
    <button id="done-button-{{ instance_file.id }}" type="button" class="add-item" title="Closes create instance file menu"
            onclick="create_new_instance_file_entry('{{ instance_file.id }}');" disabled data-button-mode="add">Create file</button>
  {% else %}
    <button id="done-button-{{ instance_file.id }}" type="button" class="add-item" title="Closes edit instance file menu"
            onclick="close_instance_file_menu();" data-button-mode="done">Done editing</button>
  {% endif %}  
  
</div>
