{% load i18n %}
{% load exercise_admin_extras %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as LANGUAGES_VERBOSE %}
<div id="test-tabs-{{ test.id }}">
  <h3>Test specific settings</h3>

  <div class="form-row">
    <label for="test-{{ test.id }}-name">Test name: </label>
    <input type="text" id="test-{{ test.id }}-name" name="test_{{ test.id }}_name" value="{{ test.name }}"
           onInput="test_name_changed(event);" class="test-name">
  </div>

  <div>
    <label for="test-{{ test.id }}-required_files">Included files required by this test: </label>
    <select id="test-{{ test.id }}-required_files" name="test_{{ test.id }}_required_files" class="test-filepicker" multiple>
      <optgroup class="filepicker-instance-options" label="Instance files">
        {% for instance_file in instance_files %}
          <option value="if_{{ instance_file.include_file.id }}"{% if test|has_instance_file:instance_file %} selected{% endif %}>{{ instance_file.file_settings.name }}</option>
        {% endfor %}
      </optgroup>
      <optgroup class="filepicker-exercise-options" label="Exercise files">
        {% for exercise_file in exercise_files %}
          <option value="ef_{{ exercise_file.id }}"{% if test|has_exercise_file:exercise_file %} selected{% endif %}>{{ exercise_file.file_settings.name }}</option>
        {% endfor%}
      </optgroup>
    </select>
    <small class="input-help">Select the files used by this test; hold down Ctrl (or Cmd on macOS) to select more than one.</small>
  </div>

  <div class="separator"></div>

  <h3>Test stage progression</h3>
  
  <div class="flex-container">
    <div class="left-side"><!-- left side, stages and commands -->
      <ol id="stages-sortable-{{ test.id }}" class="stages-sortable">
        {% for stage, commands in stages %}
          <li id="stage-li-{{ stage.id }}" class="ui-state-default" data-stage-id="{{ stage.id }}">
            {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
              <span class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}"
                    data-language-code="{{ language_choice }}" onClick="show_stagecmd_information(event);"
                    id="stage-{{ stage.id }}">{% get_translated_field stage "name" language_choice %}</span>
            {% endfor %}
            <button class="delete-button" type="button" title="Delete this stage"
                    onclick="delete_stage('{{ test.id }}', '{{ stage.id }}');">x</button>
            <div>
              <ol id="commands-sortable-{{ test.id }}-{{ stage.id }}" class="commands-sortable">
                {% for cmd, expected_outputs in commands %}
                  <li id="command-li-{{ cmd.id }}" class="ui-state-default" data-command-id="{{ cmd.id }}">
                    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
                      <span class="clickable-commandline translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}"
                            data-language-code="{{ language_choice }}" onClick="show_stagecmd_information(event);"
                            id="command-{{ cmd.id }}">{% get_translated_field cmd 'command_line' language_choice %}</span>
                    {% endfor %}
                    <button class="delete-button" type="button" title="Delete this command"
                            onclick="delete_command('{{ test.id }}', '{{ stage.id }}', '{{ cmd.id }}');">x</button>
                  </li>
                {% endfor %}
              </ol>
              <button type="button" class="add-item" title="Adds a new test command" onClick="add_command('{{ test.id }}', '{{ stage.id }}');">+</button>
            </div>
          </li>
        {% endfor %}
      </ol>
      <button type="button" class="add-item" title="Adds a new test stage" onClick="add_stage('{{ test.id }}');">+</button>
    </div>
    <div class="right-side"><!-- right side, information -->
      <div id="selection-information-container-{{ test.id }}">
        <div class="selection-information" style="display: block;">
          <h4>Stage/Command information</h4>
          <p>Click a stage or command to select it and see the associated information.</p> 
        </div>
        
        {% for stage, commands in stages %}
          <div id="stage-information-{{ stage.id }}" class="selection-information">
            <h4>Stage {{ stage.ordinal_number }} information</h4>
            {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
              <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
                <div class="form-row">
                  <label for="stage-{{ stage.id }}-name-{{ language_choice }}">Stage name {% lang_reminder language_choice %}: </label>
                  <input type="text" id="stage-{{ stage.id }}-name-{{ language_choice }}"
                         name="stage_{{ stage.id }}_name_{{ language_choice }}"
                         value="{% get_translated_field stage "name" language_choice %}"
                         onInput="stage_name_changed(event, '{{ language_choice }}');" class="stage-name-input">
                </div>
              </div>
            {% endfor %}

            <div class="form-row">
              <label for="stage-{{ stage.id }}-depends">Depends on: </label>
              <select id="stage-{{ stage.id }}-depends" name="stage_{{ stage.id }}_depends_on">
                <optgroup label="No external dependencies">
                  <option value="">Only preceding stages</option>
                </optgroup>
                <optgroup label="Stages in this test">
                  <option value="id-of-stage-in-this-test">a stage</option>
                </optgroup>
                <optgroup label="Stages in other tests">
                  <option value="id-of-some-stage">some stage</option>
                  <option value="id-of-some-other-stage">some other stage</option>
                </optgroup>
              </select>
            </div>
          </div>
          
          {% for command, expected_outputs in commands %}
            <div id="command-information-{{ command.id }}" class="selection-information">
              <h4>Stage {{ stage.ordinal_number }}, command {{ command.ordinal_number }} information</h4>
              {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
                <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
                  <div class="form-row">
                    <label for="command-{{ command.id }}-cmdline-{{ language_choice }}">Command line {% lang_reminder language_choice %}: </label>
                    <input type="text" id="command-{{ command.id }}-cmdline-{{ language_choice }}"
                           name="command_{{ command.id }}_command_line_{{ language_choice }}"
                           value="{% get_translated_field command 'command_line' language_choice %}"
                           onInput="command_name_changed(event, '{{ language_choice }}');" class="command-name-input">
                  </div>
                </div>
              {% endfor %}

              <div class="form-cb-row">
                <input type="checkbox" id="command-{{ command.id }}-significant_stdout" name="command_{{ command.id }}_significant_stdout" {% if command.significant_stdout %}checked{% endif %}>
                <label for="command-{{ command.id }}-significant_stdout">Compare the generated stdout to reference</label>
              </div>
              <div class="form-cb-row">
                <input type="checkbox" id="command-{{ command.id }}-significant_stderr" name="command_{{ command.id }}_significant_stderr" {% if command.significant_stderr %}checked{% endif %}>
                <label for="command-{{ command.id }}-significant_stderr">Compare the generated stderr to reference</label>
              </div>
              <div class="form-cb-row">
                <input type="checkbox" id="command-{{ command.id }}-json_output" name="command_{{ command.id }}_json_output" {% if command.json_output %}checked{% endif %}>
                <label for="command-{{ command.id }}-json_output">Provides evaluation data as JSON</label>
              </div>

              <div class="form-row">
                <label for="command-{{ command.id }}-timeout">Timeout: </label>
                <input type="text" id="command-{{ command.id }}-timeout" name="command_{{ command.id }}_timeout" value="{{ command.timeout }}">
              </div>

              {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
                <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
                  <div class="form-bigrow">
                    <label for="command-{{ command.id }}-input_text-{{ language_choice }}">Text that is input to this command (STDIN) {% lang_reminder language_choice %}: </label>
                    <textarea id="command-{{ command.id }}-input_text-{{ language_choice }}" name="command_{{ command.id }}_input_text_{{ language_choice }}" cols="60" rows="5">{% get_translated_field command 'input_text' language_choice %}</textarea>
                  </div>
                </div>
              {% endfor %}

              <div class="form-row">
                <label for="command-{{ command.id }}-return_value">Expected return value: </label>
                <input type="number" id="command-{{ command.id }}-return_value" name="command_{{ command.id }}_return_value" value="{{ command.return_value }}">
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
