{% load i18n %}
{% load exercise_admin_extras %}
{% get_default_language as DEFAULT_LANGUAGE %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
<div id="link-instance-file-{{ instance_file.id }}" class="link-instance-file" data-file-id="{{ instance_file.id }}"
     {% if linked %}data-linked="true"{% else %}data-linked="false"{% endif %}>
  <div id="edit-file-link-title-div-{{ instance_file.id }}"{% if not linked %} class="file-link-title-div-hidden"{% endif %}>
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %} inline-block-elem" data-language-code="{{ language_choice }}">
        <h2 id="linked-instance-file-title-{{ instance_file.id }}-{{ language_choice }}" class="popup-file-title">
          Edit exercise link of the instance file: {% get_translated_field instance_file "default_name" language_choice %}
        </h2>
        {% lang_reminder language_choice %}
      </div>
    {% endfor %}
  </div>
  <div id="create-file-link-title-div-{{ instance_file.id }}"{% if linked %} class="file-link-title-div-hidden"{% endif %}>
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %} inline-block-elem" data-language-code="{{ language_choice }}">
        <h2 id="link-instance-file-title-{{ instance_file.id }}-{{ language_choice }}" class="popup-file-title">
          Link instance file {% get_translated_field instance_file "default_name" language_choice %} to the exercise
        </h2>
        {% lang_reminder language_choice %}
      </div>
    {% endfor %}
  </div>
  <div>
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
        <label class="file-label" for="instance-file-name-{{ instance_file.id }}-{{ language_choice }}">
          <span class="file-name-span">File name during test {% lang_reminder language_choice %}: </span>
          <input type="text" id="instance-file-name-{{ instance_file.id }}-{{ language_choice }}"
                 class="file-name-input" maxlength="225" form="{{ form }}"
                 value="{% get_translated_field instance_file_link.file_settings "name" language_choice %}" oninput="update_link_edit_button_state('{{ instance_file.id }}', '{{ DEFAULT_LANGUAGE }}');"
                 name="instance_file_name_[{{ instance_file.id }}]_{{ language_choice }}" data-language-code="{{ language_choice }}">
        </label>
      </div>
    {% endfor%}
    <div id="instance-file-name-error-{{ instance_file.id }}" class="admin-error"></div>    
  </div>
  <div>
    <label class="file-label" for="instance-file-purpose-{{ instance_file.id }}">
      <span class="file-purpose-span">Used as:</span>
      <select id="instance-file-purpose-{{ instance_file.id }}" class="file-purpose-select"
              name="instance_file_purpose_[{{ instance_file.id }}]" form="{{ form }}">
        <optgroup label="Files written into the test directory for reading">
          <option value="INPUT" {% if instance_file_link.file_settings.purpose == "INPUT" %}selected{% endif %}>Input file</option>
        </optgroup>
        <optgroup label="Files the program is expected to generate">
          <option value="OUTPUT" {% if instance_file_link.file_settings.purpose == "OUTPUT" %}selected{% endif %}>Expected output file</option>
        </optgroup>
        <optgroup label="Executable files">
          <option value="LIBRARY" {% if instance_file_link.file_settings.purpose == "LIBRARY" %} selected{% endif %}>Library file</option>
          <option value="REFERENCE" {% if instance_file_link.file_settings.purpose == "REFERENCE" %}selected{% endif %}>Reference implementation</option>
          <option value="INPUTGEN" {% if instance_file_link.file_settings.purpose == "INPUTGEN" %}selected{% endif %}>Input generator</option>
          <option value="WRAPPER" {% if instance_file_link.file_settings.purpose == "WRAPPER" %}selected{% endif %}>Wrapper for uploaded code</option>
          <option value="TEST" {% if instance_file_link.file_settings.purpose == "TEST" %}selected{% endif %}>Unit test</option>
        </optgroup>
      </select>
    </label>
  </div>
  <div>
    <label class="file-label" for="instace-file-chown-{{ instance_file.id }}">
      <span class="file-chown-span">File user ownership:</span>
      <select id="instance-file-chown-{{ instance_file.id }}" class="file-chown-select"
              name="instance_file_chown_[{{ instance_file.id }}]" form="{{ form }}">
        <option value="OWNED" {% if instance_file_link.file_settings.chown_settings == "OWNED" %}selected{% endif %}>Owned by the tested program</option>
        <option value="NOT_OWNED" {% if instance_file_link.file_settings.chown_settings == "NOT_OWNED" %}selected{% endif %}>Not owned by the tested program</option>
      </select>
    </label>
  </div>
  <div>
    <label class="file-label" for="instance-file-chgrp-{{ instance_file.id }}">
      <span class="file-chgrp-span">File group ownership:</span>
      <select id="instance-file-chgrp-{{ instance_file.id }}" class="file-chgrp-select"
              name="instance_file_chgrp_[{{ instance_file.id }}]" form="{{ form }}">
        <option value="OWNED" {% if instance_file_link.file_settings.chown_settings == "OWNED" %}selected{% endif %}>Owned by the tested program</option>
        <option value="NOT_OWNED" {% if instance_file_link.file_settings.chown_settings == "NOT_OWNED" %}selected{% endif %}>Not owned by the tested program</option>
      </select>
    </label>
  </div>
  <div>
    <label class="file-label" for="instance-file-chmod-{{ instance_file.id }}">
      <span class="file-chmod-span">File access mode:</span>
      <input type="text" id="instance-file-chmod-{{ instance_file.id }}" class="file-chmod-input" maxlength="9"
             value="{{ instance_file_link.file_settings.chmod_settings }}" form="{{ form }}"
             name="instance_file_chmod_[{{ instance_file.id }}]"
             oninput="update_link_edit_button_state('{{ instance_file.id }}', '{{ DEFAULT_LANGUAGE }}');">
    </label>
    <div id="instance-file-chmod-error-{{ instance_file.id }}" class="admin-error"></div>
  </div>
  {% if not linked %}
    <button id="link-edit-button-{{ instance_file.id }}" type="button" class="add-item" title="Includes the file to the linked files of the exercise"
            onclick="add_instance_file_to_exercise('{{ instance_file.id }}');" disabled data-button-mode="add">Add link</button>
  {% else %}
    <button id="link-edit-button-{{ instance_file.id }}" type="button" class="add-item" title="Removes the file from the linked files of the exercise"
            onclick="remove_instance_file_from_exercise('{{ instance_file.id }}');" data-button-mode="remove">Remove link</button>
  {% endif %}
  <button id="link-done-button-{{ instance_file.id }}" type="button" class="add-item" title="Closes edit exercise link menu"
          onclick="close_instance_file_menu();">Done editing</button>
</div>
