{% load i18n %}
{% load exercise_admin_extras %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as LANGUAGES_VERBOSE %}
<tr id="instance-file-tr-{{ instance_file_link.include_file.id }}" data-file-id="{{ instance_file_link.include_file.id }}">
  <td class="name-cell">
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <span class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
        {% get_translated_field instance_file_link.file_settings "name" language_choice %}
      </span>
    {% endfor %}
  </td>
  <td class="instance-cell">
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <span class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
        {% get_translated_field instance_file_link.include_file.instance "name" language_choice %}
      </span>
    {% endfor %}
  </td>
  <td class="purpose-cell">
    {{ instance_file_link.file_settings.get_purpose_display }}
  </td>
  <td class="description-cell">
    {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
      <span class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
        {% get_translated_field instance_file_link.include_file "description" language_choice %}
      </span>
    {% endfor %}
  </td>
</tr>
