{% extends 'exercise_admin/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head-script %}
  <script>
    $(function() {
      $("#test-tabs").tabs();
      {% for test, stages in tests %}
        $("#stages-sortable-{{ test.id }}").sortable();
        $("#stages-sortable-{{ test.id }}").disableSelection();
        {% for stage, commands in stages %}
          $("#commands-sortable-{{ test.id }}-{{ stage.id }}").sortable();
          $("#commands-sortable-{{ test.id }}-{{ stage.id }}").disableSelection();
        {% endfor %}
      {% endfor %}
    });
  </script>
{% endblock %}

{% block heading %}
  <h1>Edit file upload exercise</h1>
{% endblock %}

{% block meta %}
  <section class="meta">
    <div class="breadcrumb"><a href="{% url 'admin:index' %}">Home</a> › <a href="{% url 'admin:app_list' 'courses' %}">Courses</a> › <a href="{% url 'admin:courses_fileuploadexercise_changelist' %}">File upload exercises</a> › <span id="exercise-name-breadcrumb">{{ exercise.name }}</span></div>
    <div class="top-button"><a href="{% url 'courses:sandbox' exercise.slug %}">View in sandbox</a></div>
    <div class="top-button"><a href="{% url 'admin:courses_fileuploadexercise_history' exercise.id %}">View history</a></div>
  </section>
{% endblock %}

{% block exercise-type-specific-popups %}
{% endblock %}

{% block form-action-url %}{% url 'exercise_admin:file_upload_change' exercise.id %}{% endblock %}

{% block exercise-type-extra %}
  <div class="form-row">
    <label for="exercise-allowed_filenames">Allowed file names: </label>
    <input type="text" id="exercise-allowed_filenames" name="exercise_allowed_filenames" value="{{ exercise.allowed_filenames }}">
  </div>
{% endblock %}

{% block exercise-type-specific %}
  <section class="included-files">
    <h2>Included files</h2>
    
    <div id="included-files">
      A pool of files available only for this exercise:
      <table id="included-files-table" class="files-table bordered-editable-area">
        <colgroup>
          <col class="file-name">
          <col class="file-purpose">
          <col class="file-description">
          <col class="edit-file">
          <col class="delete-file">
        </colgroup>
        <thead>
          <tr>
            <th>File name during test</th>
            <th>Used as</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for include_file in include_files %}
            <tr>
              <td id="included-file-td-name-{{ include_file.id }}">
                {{ include_file.file_settings.name }}
              </td>
              <td id="included-file-td-purpose-{{ include_file.id }}">
                {{ include_file.file_settings.get_purpose_display }}
              </td>
              <td id="included-file-td-description-{{ include_file.id }}">
                {{ include_file.description }}
              </td>
              <td>
                <button type="button" class="edit-button" title="Opens a popup window to edit an included file"
                        onclick="show_edit_included_file_popup('{{ include_file.id }}', '{{ include_file.file_settings.purpose }}', 
                                                               '{{ include_file.file_settings.chown_settings }}', 
                                                               '{{ include_file.file_settings.chgrp_settings }}');"></button>
              </td>
              <td>
                <button type="button" class="delete-button" title="Removes the included file from the list of included files belonging to this exercise"
                        onclick="delete_table_row(this);">x</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="button" class="add-item" title="Opens a popup window to add an included file" onclick="show_add_included_file_popup();">Add</button>
      {% for include_file in include_files %}
        <div id="edit-included-file-{{ include_file.id }}" class="popup">
          <div>
            <h2>Edit included file: {{ include_file.default_name }}</h2>
            <div>
              <label for="included-file-default-name-{{ include_file.id }}">
                <span class="file-default-name-span">Default name:</span>
                <input type="text" id="included-file-default-name-{{ include_file.id }}" class="file-default-name-input" maxlength="225"
                       name="included_file_default_name_[{{ include_file.id }}]" value="{{ include_file.default_name }}"
                       oninput="update_included_file_ok_button_state('{{ include_file.id }}');">
              </label>              
            </div>
            <div>
              <label class="file-label" for="included-file-name-{{ include_file.id }}">
                <span class="file-name-span">File name during test:</span>
                <input type="text" id="included-file-name-{{ include_file.id }}" class="file-name-input" maxlength="225"
                       name="included_file_name_[{{ include_file.id }}]" value="{{ include_file.file_settings.name }}"
                       oninput="update_included_file_ok_button_state('{{ include_file.id }}');">
              </label>
            </div>
            <div>
              <label class="file-label" for="file-purpose-{{ include_file.id }}">
                <span class="file-purpose-span">Used as:</span>
                <select id="included-file-purpose-{{ include_file.id }}" class="file-purpose-select" name="included_file_purpose_[{{ include_file.id }}]" form="main-form">
                  <optgroup label="Files written into the test directory for reading">
                    <option value="INPUT">Input file</option>
                  </optgroup>
                  <optgroup label="Files the program is expected to generate">
                    <option value="OUTPUT">Expected output file</option>
                  </optgroup>
                  <optgroup label="Executable files">
                    <option value="REFERENCE">Reference implementation</option>
                    <option value="INPUTGEN">Input generator</option>
                    <option value="WRAPPER">Wrapper for uploaded code</option>
                    <option value="TEST">Unit test</option>
                  </optgroup>
                </select>
              </label>
            </div>
            <div>
              <label class="file-label" for="included-file-description-{{ include_file.id }}">
                <div>File description:</div>
                <textarea id="included-file-description-{{ include_file.id }}" name="included_file_description_[{{ include_file.id }}]" class="file-description-area"
                          cols="117" rows="5" oninput="update_included_file_ok_button_state('{{ include_file.id }}');">{{ include_file.description }}</textarea>
              </label>
            </div>
            <div>
              <label class="file-label" for="included-file-chown-{{ include_file.id }}">
                <span class="file-chown-span">File user ownership:</span>
                <select id="included-file-chown-{{ include_file.id }}" class="file-chown-select" name="included_file_chown_[{{ include_file.id }}]" form="main-form">
                  <option value="OWNED">Owned by the tested program</option>
                  <option value="NOT_OWNED">Not owned by the tested program</option>
                </select>
              </label>
            </div>
            <div>
              <label class="file-label" for="included-file-chgrp-{{ include_file.id }}">
                <span class="file-chgrp-span">File group ownership:</span>
                <select id="included-file-chgrp-{{ include_file.id }}" class="file-chgrp-select" name="included_file_chgrp_[{{ include_file.id }}]" form="main-form">
                  <option value="OWNED">Owned by the tested program</option>
                  <option value="NOT_OWNED">Not owned by the tested program</option>
                </select>
              </label>
            </div>
            <div>
              <label class="file-label" for="included-file-chmod-{{ include_file.id }}">
                <span class="file-chmod-span">File access mode:</span>
                <input type="text" id="included-file-chmod-{{ include_file.id }}" class="file-chmod-input" maxlength="9"
                       name="included_file_chmod_[{{ include_file.id }}]" value="{{ include_file.file_settings.chmod_settings }}"
                       oninput="update_included_file_ok_button_state('{{ include_file.id }}');">
              </label>
            </div>
            <div class="popup-buttons">
              <button type="button" id="included-file-ok-button-{{ include_file.id }}" class="popup-button"
                      onclick="close_popup_and_edit_included_file('{{ include_file.id }}')">Ok</button>
              <button type="button" class="popup-button" onclick="close_popup($('#edit-included-file-{{ include_file.id }}'))">Cancel</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div id="instance-files">
      A pool of files specific to a course instance, linked to this exercise:
      <table id="instance-files-table" class="files-table bordered-editable-area">
        <colgroup>
          <col class="file-name">
          <col class="file-purpose">
          <col class="file-description">
        </colgroup>
        <thead>
          <tr>
            <th>File name during test</th>
            <th>Used as</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for instance_file_link in instance_files_links %}
            <tr>
              <td>
                {{ instance_file_link.file_settings.purpose }}
              </td>
              <td>
                {{ instance_file_link.file_settings.name }}
              </td>
              <td>
                {{ instance_file_link.include_file.description }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <button type="button" class="add-item" title="Opens a popup window to add and edit instance files" onclick="show_edit_instance_file_popup();">Add and edit</button>
    </div>
  </section>

  <section class="tests">
    <h2>Tests</h2>
    
    <div id="test-tabs">
      <ol>
        {% for test, stages in tests %}
          <li><a href="#test-tabs-{{ test.id }}" id="test-{{ test.id }}">{{ test.name }}</a></li>
        {% endfor %}
        <li><button type="button" class="add-item" title="Adds a new test">+</button></li>
      </ol>

      {% for test, stages in tests %}
        <div id="test-tabs-{{ test.id }}">
          <h3>Test specific settings</h3>

          <div>
            <label for="test-{{ test.id }}-name">Test name:</label>
            <input type="text" id="test-{{ test.id }}-name" name="test_{{ test.id }}_name" value="{{ test.name }}" onInput="test_name_changed(event);">
          </div>

          <div>Included files this test requires: &lt;a picker for selecting the files made available above; updates realtime&gt;</div>
          {% if test.required_files.count > 0 %}
            {% for req_file in test.required_files.all %}
              <div>{{ req_file.file_settings.name }}</div>
            {% endfor%}
          {% endif %}

          <h3>Test stage progression</h3>
          
          <div class="flex-container">
            <div class="left-side"><!-- left side, stages and commands -->
              <ol id="stages-sortable-{{ test.id }}">
                {% for stage, commands in stages %}
                  <li class="ui-state-default" data-stage-id="{{ stage.id }}">
                    <span onClick="show_stagecmd_information(event);" id="stage-{{ stage.id }}">{{ stage.name }}</span>
                    <div>
                      <ol id="commands-sortable-{{ test.id }}-{{ stage.id }}">
                        {% for cmd, expected_outputs in commands %}
                          <li class="ui-state-default" data-command-id="{{ cmd.id }}">
                            <span onClick="show_stagecmd_information(event);" id="command-{{ cmd.id }}" class="clickable-commandline">{{ cmd.command_line }}</span>
                          </li>
                        {% endfor %}
                      </ol>
                      <button type="button" class="add-item" title="Adds a new test command" onClick="add_command({{ test.id }}, {{ stage.id }});">+</button>
                    </div>
                  </li>
                {% endfor %}
              </ol>
              <button type="button" class="add-item" title="Adds a new test stage">+</button>
            </div>
            <div class="right-side"><!-- right side, information -->
              <div id="selection-information-container">
                <div class="selection-information" style="display: block;">
                  <h4>Stage/Command information</h4>
                  <p>Click a stage or command to select it and see the associated information.</p> 
                </div>
                
                {% for stage, commands in stages %}
                  <div id="stage-information-{{ stage.id }}" class="selection-information">
                    <h4>Stage {{ stage.ordinal_number }} information</h4>
                    <div class="form-row">
                      <label for="stage-{{ stage.id }}-name">Stage name: </label>
                      <input type="text" id="stage-{{ stage.id }}-name" name="stage_{{ stage.id }}_name" value="{{ stage.name }}" onInput="stage_name_changed(event);">
                    </div>

                    <div class="form-row">
                      <label for="stage-{{ stage.id }}-depends">Depends on: </label>
                      <select id="stage-{{ stage.id }}-depends" name="stage_{{ stage.id }}_depends_on">
                        <optgroup label="No external dependencies">
                          <option value="">Only preceding stages</option>
                        </optgroup>
                        <optgroup label="Other stages">
                          <option value="id-of-some-stage">some stage</option>
                          <option value="id-of-some-other-stage">some other stage</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  
                  {% for command, expected_outputs in commands %}
                    <div id="command-information-{{ command.id }}" class="selection-information">
                      <h4>Stage {{ stage.ordinal_number }}, command {{ command.ordinal_number }} information</h4>
                      <div class="form-row">
                        <label for="command-{{ command.id }}-cmdline">Command line: </label>
                        <input type="text" id="command-{{ command.id }}-cmdline" name="command_{{ command.id }}_command_line" value="{{ command.command_line }}" onInput="command_name_changed(event);">
                      </div>

                      <div class="form-cb-row">
                        <input type="checkbox" id="command-{{ command.id }}-significant_stdout" name="command_{{ command.id }}_significant_stdout" {% if command.significant_stdout %}checked{% endif %}>
                        <label for="command-{{ command.id }}-significant_stdout">Compare the generated stdout to reference</label>
                      </div>
                      <div class="form-cb-row">
                        <input type="checkbox" id="command-{{ command.id }}-significant_stderr" name="command_{{ command.id }}_significant_stderr" {% if command.significant_stderr %}checked{% endif %}>
                        <label for="command-{{ command.id }}-significant_stderr">Compare the generated stderr to reference</label>
                      </div>

                      <div class="form-row">
                        <label for="command-{{ command.id }}-timeout">Timeout: </label>
                        <input type="text" id="command-{{ command.id }}-timeout" name="command_{{ command.id }}_timeout" value="{{ command.timeout }}">
                      </div>

                      <div class="form-bigrow">
                        <label for="command-{{ command.id }}-input_text">STDIN</label>
                        <textarea id="command-{{ command.id }}-input_text" name="command_{{ command.id }}_input_text" cols="40" rows="4">{{ command.input_text }}</textarea>
                      </div>

                      <div class="form-row">
                        <label for="command-{{ command.id }}-return_value">Expected return value: </label>
                        <input type="number" id="command-{{ command.id }}-return_value" name="command_{{ command.id }}_return_value" value="{{ command.return_value }}">
                      </div>
                    </div>
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    
    <div>
      maybe use d3.js to generate a nice graph of how the tests will be run?
    </div>
  </section>
{% endblock %}

{% block form-controls %}
  <section class="form-controls">
    <div><a href="blaah/delete" id="delete-exercise">delete</a></div>
    <input type="submit" id="save-exercise" value="save">
  </section>
{% endblock %}

{% block templates %}
  <div display="none">
    <div id="command-information-SAMPLE_COMMAND_ID" class="selection-information">
      <h4>Stage SAMPLE_STAGE_ORDINAL_NUMBER, command SAMPLE_COMMAND_ORDINAL_NUMBER information</h4>
      <div class="form-row">
        <label for="command-SAMPLE_COMMAND_ID-cmdline">Command line: </label>
        <input type="text" id="command-SAMPLE_COMMAND_ID-cmdline" name="command_SAMPLE_COMMAND_ID_command_line" onInput="command_name_changed(event);">
      </div>

      <div class="form-cb-row">
        <input type="checkbox" id="command-SAMPLE_COMMAND_ID-significant_stdout" name="command_SAMPLE_COMMAND_ID_significant_stdout">
        <label for="command-SAMPLE_COMMAND_ID-significant_stdout">Compare the generated stdout to reference</label>
      </div>
      <div class="form-cb-row">
        <input type="checkbox" id="command-SAMPLE_COMMAND_ID-significant_stderr" name="command_SAMPLE_COMMAND_ID_significant_stderr">
        <label for="command-SAMPLE_COMMAND_ID-significant_stderr">Compare the generated stderr to reference</label>
      </div>

      <div class="form-row">
        <label for="command-SAMPLE_COMMAND_ID-timeout">Timeout: </label>
        <input type="text" id="command-SAMPLE_COMMAND_ID-timeout" name="command_SAMPLE_COMMAND_ID_timeout" value="00:00:05">
      </div>

      <div class="form-bigrow">
        <label for="command-SAMPLE_COMMAND_ID-input_text">STDIN</label>
        <textarea id="command-SAMPLE_COMMAND_ID-input_text" name="command_SAMPLE_COMMAND_ID_input_text" cols="40" rows="4"></textarea>
      </div>

      <div class="form-row">
        <label for="command-SAMPLE_COMMAND_ID-return_value">Expected return value: </label>
        <input type="number" id="command-SAMPLE_COMMAND_ID-return_value" name="command_SAMPLE_COMMAND_ID_return_value">
      </div>
    </div>
  </div>
{% endblock %}
