{% load i18n %}
{% load exercise_admin_extras %}
{% get_default_language as DEFAULT_LANGUAGE %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as LANGUAGES_VERBOSE %}
<div id="edit-included-file-{{ include_file.id }}" class="popup" data-file-id="{{ include_file.id }}">
  <div>
    <div class="edit-included-file-title-div">
      {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
        <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %} inline-block-elem" data-language-code="{{ language_choice }}">
          <h2 id="edit-included-file-title-{{ include_file.id }}-{{ language_choice }}" class="popup-file-title">
            Edit included file: {% get_translated_field include_file.file_settings "name" language_choice %}
          </h2>
          {% lang_reminder language_choice %}
        </div>
      {% endfor %}
      {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
        <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %} inline-block-elem included-file-link-div" data-language-code="{{ language_choice }}">
          {% get_translated_field include_file "fileinfo" language_choice as fileinfo %}
          {% if fileinfo and fileinfo.url %}
            <a href="{% url 'exercise_admin:download_exercise_file' include_file.exercise.id include_file.id language_choice %}" class="file-url" download></a>                    
          {% endif %}
        </div>
      {% endfor %}
    </div>
    {% if create %}
      <div class="create-included-file-title-div">
        <h2 id="create-included-file-title-{{ include_file.id }}" class="popup-file-title">Create include file</h2>
      </div>
    {% endif %}
    <div>
      {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
        <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
          <label for="included-file-{{ include_file.id }}-{{ language_choice }}">
            <span class="choose-file-span">Choose file {% lang_reminder language_choice %}: </span>
            <input type="file" id="included-file-{{ include_file.id }}-{{ language_choice }}" name="included_file_[{{ include_file.id }}]_{{ language_choice }}" class="file-input"
                   onchange="update_inc_file_popup_on_file_change($(this), '{{ include_file.id }}', '{{ DEFAULT_LANGUAGE }}');" data-language-code="{{ language_choice }}">
          </label>
        </div>
      {% endfor %}
    </div>
    <div>
      {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
        <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
          <label class="file-label" for="included-file-default-name-{{ include_file.id }}-{{ language_choice }}">
            <span class="file-default-name-span">Default name {% lang_reminder language_choice %}: </span>
            <input type="text" id="included-file-default-name-{{ include_file.id }}-{{ language_choice }}" class="file-default-name-input" maxlength="255"
                   name="included_file_default_name_[{{ include_file.id }}]_{{ language_choice }}" value="{% get_translated_field include_file "default_name" language_choice %}"
                   onchange="update_inc_file_popup_on_def_name_change($(this), '{{ include_file.id }}', '{{ DEFAULT_LANGUAGE }}');" data-language-code="{{ language_choice }}">
          </label>
        </div>
      {% endfor %}
    </div>
    <div>
      {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
        <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
          <label class="file-label" for="included-file-name-{{ include_file.id }}-{{ language_choice }}">
            <span class="file-name-span">File name during test {% lang_reminder language_choice %}: </span>
            <input type="text" id="included-file-name-{{ include_file.id }}-{{ language_choice }}" class="file-name-input" maxlength="255"
                   name="included_file_name_[{{ include_file.id }}]_{{ language_choice }}" value="{% get_translated_field include_file.file_settings "name" language_choice %}"
                   oninput="update_included_file_ok_button_state('{{ include_file.id }}', '{{ DEFAULT_LANGUAGE }}');" data-language-code="{{ language_choice }}">
          </label>
        </div>
      {% endfor %}
    </div>
    <div>
      {% for language_choice, _ in AVAILABLE_LANGUAGES %}{# TODO: Create a template tag filter for this #}
        <div class="translated {% if language_choice == CURRENT_LANGUAGE %}translated-visible{% endif %}" data-language-code="{{ language_choice }}">
          <label class="file-label" for="included-file-description-{{ include_file.id }}-{{ language_choice }}">
            <div>File description {% lang_reminder language_choice %}: </div>
            <textarea id="included-file-description-{{ include_file.id }}-{{ language_choice }}" name="included_file_description_[{{ include_file.id }}]_{{ language_choice }}"
                      class="file-description-area" cols="117" rows="5" oninput="update_included_file_ok_button_state('{{ include_file.id }}', '{{ DEFAULT_LANGUAGE }}');"
                      data-language-code="{{ language_choice }}">{% get_translated_field include_file "description" language_choice %}</textarea>
          </label>
        </div>
      {% endfor %}
    </div>
    <div>
      <label class="file-label" for="included-file-purpose-{{ include_file.id }}">
        <span class="file-purpose-span">Used as:</span>
        <select id="included-file-purpose-{{ include_file.id }}" class="file-purpose-select" name="included_file_purpose_[{{ include_file.id }}]">
          <optgroup label="Files written into the test directory for reading">
            <option value="INPUT"{% if include_file.file_settings.purpose == "INPUT" %} selected="selected"{% endif %}>Input file</option>
          </optgroup>
          <optgroup label="Files the program is expected to generate">
            <option value="OUTPUT"{% if include_file.file_settings.purpose == "OUTPUT" %} selected="selected"{% endif %}>Expected output file</option>
          </optgroup>
          <optgroup label="Executable files">
            <option value="REFERENCE"{% if include_file.file_settings.purpose == "REFERENCE" %} selected="selected"{% endif %}>Reference implementation</option>
            <option value="INPUTGEN"{% if include_file.file_settings.purpose == "INPUTGEN" %} selected="selected"{% endif %}>Input generator</option>
            <option value="WRAPPER"{% if include_file.file_settings.purpose == "WRAPPER" %} selected="selected"{% endif %}>Wrapper for uploaded code</option>
            <option value="TEST"{% if include_file.file_settings.purpose == "TEST" %} selected="selected"{% endif %}>Unit test</option>
          </optgroup>
        </select>
      </label>
    </div>
    <div>
      <label class="file-label" for="included-file-chown-{{ include_file.id }}">
        <span class="file-chown-span">File user ownership:</span>
        <select id="included-file-chown-{{ include_file.id }}" class="file-chown-select" name="included_file_chown_[{{ include_file.id }}]">
          <option value="OWNED"{% if include_file.file_settings.chown_settings == "OWNED" %} selected="selected"{% endif %}>Owned by the tested program</option>
          <option value="NOT_OWNED"{% if include_file.file_settings.chown_settings == "NOT_OWNED" %} selected="selected"{% endif %}>Not owned by the tested program</option>
        </select>
      </label>
    </div>
    <div>
      <label class="file-label" for="included-file-chgrp-{{ include_file.id }}">
        <span class="file-chgrp-span">File group ownership:</span>
        <select id="included-file-chgrp-{{ include_file.id }}" class="file-chgrp-select" name="included_file_chgrp_[{{ include_file.id }}]">
          <option value="OWNED"{% if include_file.file_settings.chgrp_settings == "OWNED" %} selected="selected"{% endif %}>Owned by the tested program</option>
          <option value="NOT_OWNED"{% if include_file.file_settings.chgrp_settings == "NOT_OWNED" %} selected="selected"{% endif %}>Not owned by the tested program</option>
        </select>
      </label>
    </div>
    <div>
      <label class="file-label" for="included-file-chmod-{{ include_file.id }}">
        <span class="file-chmod-span">File access mode:</span>
        <input type="text" id="included-file-chmod-{{ include_file.id }}" class="file-chmod-input" maxlength="9"
               name="included_file_chmod_[{{ include_file.id }}]" value="{{ include_file.file_settings.chmod_settings }}"
               oninput="update_included_file_ok_button_state('{{ include_file.id }}', '{{ DEFAULT_LANGUAGE }}');">
      </label>
      <div id="file-chmod-error-{{ include_file.id }}" class="admin-error"></div>
    </div>
    <div class="popup-buttons">
      <button type="button" id="included-file-ok-button-{{ include_file.id }}" class="popup-button" onclick="confirm_included_file_popup('{{ include_file.id }}')"
              data-button-mode="{% if create %}add{% else %}done{% endif %}">Ok</button>
    </div>
  </div>
</div>
