* {
    font-family: "LatoWeb";
    margin: 0;
}

body {
    background: #f2f2f2;
    color: #333;
}

h1, h2 {
    font-family: "LatoWebHairLine";
    color: #111;
}

h3, h4, h5, h6 {
    font-family: "LatoWebThin";
}

h1 {
    background: #ddd;
    color: #333;
    padding: 1.5rem 0 1.5rem 2rem;
    border-bottom: 4px solid #ccc;
}

h2 {
    margin-bottom: 1rem;
}

h3, h4 {
    margin-bottom: 0.6rem;
}

a.help-link {
    color: #480;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
}
a.help-link:hover {
    color: #666;
    transition: all 0.25s ease-in-out;
}

/* Meta */

section.meta {
    padding: 1rem 2rem 1rem 2rem;
    background: #e8e8e8;
    text-align: right;
}

section.meta > div.breadcrumb {
    display: inline-block;
    float: left;
}
div.breadcrumb a {
    color: #480;
    text-decoration: none;
}
div.breadcrumb a:hover {
    color: #666;
    transition: all 0.2s ease-in-out;
}

section.meta > div.top-button {
    display: inline-block;
}

section.meta > div.top-button > a {
    background: #888;
    padding: 0.5rem 1rem;
    color: #eee;
    font-family: "LatoWeb";
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ccc;
}
section.meta > div.top-button > a:hover {
    background: #386c00;
    transition: all 0.2s ease-in-out;
}

/* General exercise information */

section.general-information {
    display: flex;
    padding: 1.5rem 0 1.5rem 2rem;
    border-bottom: 4px solid #ddd;
}

div.generalinfo-left-side {
    flex: 0 0 60%;
    border-right: 4px dotted #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
}

div.form-row {
    margin: 0.35rem 0;
    display: flex;
    align-content: center;
    align-items: center;
}
div.form-row > label {
    width: 140px;
}
div.form-cb-row {
    margin: 0.35rem 0;
    display: flex;
    align-content: center;
    align-items: center;
}
div.form-cb-row > label {
    margin-left: 0.25rem;
    width: 660px;
}
input#exercise-name {
    width: 660px;
}
input#exercise-points {
    width: 45px;
    text-align: right;
}
div.form-bigrow {
    margin: 0.35rem 0;
}
div.form-bigrow > label {
    display: block;
    width: 820px;
    margin-bottom: 0.25rem;
}

input[type=text], input[type=number] {
    background: #eee;
    color: #333;
    border: 2px solid #ddd;
    padding: 4px;
    font-family: "Inconsolata", monospace;
}
input[type=text]:hover, input[type=number]:hover {
    background: #f2f2f2;
    color: #383838;
    border: 2px solid #dde4dd;
    box-shadow: 0 0 0 1px #9b8;
}

textarea {
    background: #eee;
    color: #333;
    border: 2px solid #ddd;
    padding: 4px;
    font-family: "Inconsolata", monospace;
}
textarea:hover {
    background: #f2f2f2;
    color: #383838;
    border: 2px solid #dde4dd;
    box-shadow: 0 0 0 1px #9b8;
}

div.generalinfo-right-side {
    flex: 1;
}

div.selection-information {
    display: none;
}

div.separator {
    margin: 1rem 2rem 1rem 0;
    border: 0;
    border-bottom: 4px dotted #ddd;
}

ul.exercise-tags {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li.exercise-tag {
    display: flex;
    padding: 6px;
    margin: 4px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #ddd;
    cursor: grab;
    flex: 0 0;
    font-weight: bold;
}
li.exercise-tag:hover {
    background: #cec;
    transition: all 0.2s ease-in-out;
}

/* Included files */

section.included-files {
    padding: 1.5rem 0 1.5rem 2rem;
    border-bottom: 4px solid #ddd;
}

/* Configurable hints */

section.configurable-hints {
    padding: 1.5rem 0 1.5rem 2rem;
    border-bottom: 4px solid #ddd;
}

/* The test tabs & sortable stages and commands */

section.tests {
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-bottom: 4px solid #ccc;
}

ol {
    list-style-type: none;
}

li.ui-sortable-handle {
    cursor: grab;
}

ol#stages-sortable > li {
    border: 2px solid #333;
}

span.clickable-commandline {
    position: relative;
    font-family: "Inconsolata", monospace;
}

span.clickable-commandline::before {
    position: relative;
    content: "$";
    color: #bbb;
    left: -1rem;
    font-family: "Inconsolata", monospace;
}

div.flex-container {
    display: flex;
}

div.left-side {
    flex: 0 0 50%;
    margin: 2px;
}

div.right-side {
    flex: 1;
    border: 2px solid #333;
    margin: 2px;
    padding: 4px;
}

/* The form control buttons */

section.form-controls {
    padding: 1.5rem 2rem 1.5rem 2rem;
    background: #ddd;
    text-align: right;
}

section.form-controls > div {
    display: inline-block;
    float: left;
}

a#delete-exercise {
    background: #d42;
    padding: 0.5rem 1rem;
    color: #eee;
    font-family: "LatoWeb";
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ccc;
}

input#save-exercise {
    background: #888;
    padding: 0.5rem 1rem;
    color: #eee;
    font-family: "LatoWeb";
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ccc;
}

button.add-item, input[type=submit].add-item {
    display: inline-block;
    outline: 0;
    padding: 2px 4px;
    margin-top: 6px;
    margin-bottom: 5px;
    vertical-align: middle;
    overflow: hidden;
    color: #4CAF50;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    border: 0px solid #42860e;
    border-radius: 8px;
}

div.generalinfo-right-side button.add-item, div.generalinfo-right-side button.add-item {
    box-shadow: 1px 1px 2px #285c00;
}

div#test-tabs > ol > li > button.add-item {
    margin-left: 5px;
}

div.bordered-editable-area {
    background: #eeeeee;
    border: 3px solid #dddddd;
    width: 95%;
    max-height: 250px;
    overflow-y: hidden;
}

table.feedback-question-table {
    table-layout: fixed;
    width: 100%;
    margin-top: 5px;
}

table.feedback-question-table th {
    text-align: left;
    height: 25px;
    vertical-align: top;
}

table.feedback-question-table td {
    vertical-align: top;
    height: 25px;
}

table.feedback-question-table col.feedback-question {
    width: 64%;
}

table.feedback-question-table col.feedback-type {
    width: 30%;
}

table.feedback-question-table col.delete-feedback {
    width: 6%;
}

button.delete-button {
    color: #ff0000;
    display: inline-block;
    outline: 0;
    padding: 0px 4px;
    vertical-align: top;
    margin-top: -1px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    border: 0px solid #42860e;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #ff2000;
}

span.popup-error {
    display: none;
    color: #f00;
    margin-left: 5px;
}

div.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}

div.popup > div, div.popup > pre {
    width: 1200px;
    position: relative;
    margin: 10% auto;
    padding: 10px;
    border-radius: 10px;
    background: #f2f2f2;;
}

div.popup div.bordered-editable-area {
    width: 1185px;
    margin-left: 5px;
}

div.popup div.create-feedback-div {
    margin-top: 30px;
}

div.popup col.feedback-question {
    width: 90%;
}

div.popup input[type=checkbox].feedback-question-checkbox {
    vertical-align: middle;
    margin-bottom: 5px;
}

div.popup td label.feedback-question-label {
    margin-left: 5px;
}

div.popup span.feedback-question-span {
    display: inline-block;
    margin-left: 5px;
    width: 135px;
}

div.popup input[type=text].feedback-question-new-input {
    margin-left: 5px;
    width: 1030px;
}

div.popup select.feedback-type-select {
    margin-top: 5px;
}

div.popup div.feedback-choices {
    display: none;
}

div.popup span.feedback-choice-span {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    width: 80px;
}

div.popup input[type=text].feedback-choice {
    margin-left: 5px;
    margin-top: 5px;
    width: 1065px;
}

div.popup input[type=text].feedback-choice + button{
    margin-left: 5px;
    margin-top: 7px;
}

button#add-feedback-choice {
    display: none;
}

button#add-feedback-choice:disabled {
    color: #bbb;
    border: 0px solid #aaa;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #aaa;
    cursor: default;
}

div.popup button.add-item, div.popup input[type=submit].add-item {
    margin-top: 0px;
    margin-left: 5px;
    box-shadow: 1px 1px 2px #285c00;
}

div.popup div.popup-buttons {
    margin-top: 5px;
    width: 100%;
    text-align: right;
}

div.popup div.popup-buttons > button.popup-button {
    display: inline-block;
    background: #888;
    padding: 0.5rem 1rem;
    color: #eee;
    font-family: "LatoWeb";
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ccc;
}
