* {
    font-family: "LatoWeb";
    margin: 0;
}

body {
    background: #f2f2f2;
    color: #333;
}

h1, h2 {
    font-family: "LatoWebHairLine";
    color: #111;
}

h3, h4, h5, h6 {
    font-family: "LatoWebThin";
}

h1 {
    background: #ddd;
    color: #333;
    padding: 1.5rem 0 1.5rem 2rem;
    border-bottom: 4px solid #ccc;
}

h2 {
    margin-bottom: 1rem;
}

h3, h4 {
    margin-bottom: 0.6rem;
}

a.help-link {
    color: #480;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
}
a.help-link:hover {
    color: #666;
    transition: all 0.25s ease-in-out;
}
small.input-help {
    color: #666;
}

button::-moz-focus-inner {
    border: 0;
}

/* Meta */

section.meta {
    padding: 1rem 2rem 1rem 2rem;
    background: #e8e8e8;
    /*text-align: right;*/
}

section.meta > div.breadcrumb {
    display: inline-block;
    /*float: left;*/
}
div.breadcrumb a {
    color: #480;
    text-decoration: none;
}
div.breadcrumb a:hover {
    color: #666;
    transition: all 0.2s ease-in-out;
}

section.meta > div.top-button {
    display: inline-block;
    float: right;
}

section.meta > div.top-button > a {
    background: #888;
    padding: 0.5rem 1rem;
    color: #eee;
    font-family: "LatoWeb";
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ccc;
}
section.meta > div.top-button > a:hover {
    background: #386c00;
    transition: all 0.2s ease-in-out;
}

/* General exercise information */

section.general-information {
    display: flex;
    padding: 1.5rem 0 1.5rem 2rem;
    border-bottom: 4px solid #ddd;
}

div.generalinfo-left-side {
    flex: 0 0 60%;
    border-right: 4px dotted #ddd;
    padding-right: 1rem;
    margin-right: 1rem;
}

div.form-row {
    margin: 0.35rem 0;
    display: flex;
    align-content: center;
    align-items: center;
}
div.form-row > label {
    width: 160px;
}
div.form-cb-row {
    margin: 0.35rem 0;
    display: flex;
    align-content: center;
    align-items: center;
}
div.form-cb-row > label {
    margin-left: 0.25rem;
    width: 660px;
}
input#exercise-points {
    width: 45px;
    text-align: right;
}
input.general-text-input {
    width: 660px;
}
div.form-bigrow {
    margin: 0.35rem 0;
}
div.form-bigrow > label {
    display: block;
    width: 830px;
    margin-bottom: 0.25rem;
}

input[type=text], input[type=number] {
    background: #eee;
    color: #333;
    border: 2px solid #ddd;
    padding: 4px;
    font-family: "Inconsolata", monospace;
}
input[type=text]:hover, input[type=number]:hover {
    background: #f2f2f2;
    color: #383838;
    border: 2px solid #dde4dd;
    box-shadow: 0 0 0 1px #9b8;
}

textarea {
    background: #eee;
    color: #333;
    border: 2px solid #ddd;
    padding: 4px;
    font-family: "Inconsolata", monospace;
}
textarea:hover {
    background: #f2f2f2;
    color: #383838;
    border: 2px solid #dde4dd;
    box-shadow: 0 0 0 1px #9b8;
}

div.generalinfo-right-side {
    flex: 1;
}

div.selection-information {
    display: none;
}

div.separator {
    margin: 1rem 2rem 1rem 0;
    border: 0;
    border-bottom: 4px dotted #ddd;
}

ul.exercise-tags {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li.exercise-tag {
    display: flex;
    padding: 6px;
    margin: 4px;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: #ddd;
    flex: 0 0;
}
li.exercise-tag:hover {
    background: #cec;
    transition: all 0.2s ease-in-out;
}

input[type=text].exercise-tag-input {
    background: #ddd;
    width: 36px;
    min-width: 36px;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
    text-align: center;
}

input[type=text].exercise-tag-input-hilighted {
    background: #ddd;
    width: 36px;
    min-width: 36px;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
    text-align: center;
}

li.exercise-tag:hover > input[type=text].exercise-tag-input {
    background: #cec;
    transition: all 0.2s ease-in-out;
    outline: none;
    border-color: #cec;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=text].exercise-tag-input:focus {
    background: #cec;
    outline: none;
    border-color: #cec;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Included files */

section.included-files {
    padding: 1.5rem 0 1.5rem 2rem;
    border-bottom: 4px solid #ddd;
}

table.files-table {
    width: 70%;
    margin-top: 10px;
    padding-top: 5px;
    height: 80px;
}

table.files-table th {
    text-align: left;
    vertical-align: top;
}

table.files-table td {
    height: 27px;
}

table#included-files-table col.file-name {
    width: 26%;
}

table#included-files-table col.file-purpose {
    width: 20%;
}

table#included-files-table col.uploaded-file {
    width: 3%;
}

table#included-files-table col.edit-file {
    width: 3%;
}

table#included-files-table col.delete-file {
    width: 3%;
}

table#instance-files-table {
    width: 82%;
}

table#instance-files-table col.file-name {
    width: 22%;
}

table#instance-files-table col.file-purpose {
    width: 15%;
}

table#instance-files-table col.file-instance {
    width: 22%;
}

div#instance-files {
    margin-top: 20px;
}

a.file-url {
    display: inline-block;
    background: url("download.png");
    width: 25px;
    height: 25px;
    outline: 0;
    vertical-align: top;
    overflow: hidden;
    color: #4CAF50;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    border: 0px solid #42860e;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #285c00;
}

/* Configurable hints */

section.configurable-hints {
    padding: 1.5rem 0 1.5rem 2rem;
    border-bottom: 4px solid #ddd;
}

table#hint-table {
    width: 98%;
}

table#hint-table col.hint-tries-to-unlock {
    width: 3%;
}

table#hint-table col.hint-content {
    width: 97%;
}

input[type=number].hint-tries-to-unlock-input {
    width: 60px;
    text-align: right;
}

input[type=text].hint-content-input {
    width: 100%; 
    box-sizing: border-box;
}

/* The test tabs & sortable stages and commands */

section.tests {
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-bottom: 4px solid #ccc;
}

input.test-name {
    width: 660px;
}

select.test-filepicker {
    display: block;
    width: 830px;
    height: 160px;
}
select.test-filepicker optgroup {
    background: #888;
    font-style: italic;
    font-weight: normal;
}
select.test-filepicker option {
    background: #eee;
}

ol {
    list-style-type: none;
}

li.ui-sortable-handle {
    cursor: grab;
}

ol.stages-sortable {
    padding: 0;
}

ol.stages-sortable > li {
    border: 2px solid #333;
    padding: 2px 4px;
}
ol.stages-sortable > li,
ol.commands-sortable > li {
    position: relative;
}
ol.stages-sortable > li > button.delete-button,
ol.commands-sortable > li > button.delete-button {
    position: absolute;
    right: 0;
    top: 0;
}

span.clickable-commandline {
    position: relative;
    width: 100%;
    /*display: inline-block;*/
    font-family: "Inconsolata", monospace;
    cursor: pointer;
}

span.clickable-commandline::before {
    position: relative;
    content: "$";
    color: #bbb;
    left: -1rem;
    font-family: "Inconsolata", monospace;
}

div.flex-container {
    display: flex;
}

div.left-side {
    flex: 0 0 50%;
    margin: 2px;
}

div.right-side {
    flex: 1;
    border: 0;
    border-left: 4px dotted #ddd;
    margin: 0 16px;
    padding-left: 16px;
}

.stage-name-input, .command-name-input {
    width: 400px;
}

/* The edit metadata */

section.edit-meta {
    padding: 1.5rem 0 1.5rem 2rem;
    border-bottom: 4px solid #ddd;
}

/* The form control buttons */

section.form-controls {
    padding: 1.5rem 2rem 7rem 2rem;
    background: #ddd;
    text-align: right;
}

section.form-controls > div {
    display: inline-block;
    float: left;
}

a#delete-exercise {
    background: #d42;
    padding: 0.5rem 1rem;
    color: #eee;
    font-family: "LatoWeb";
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ccc;
}

input#save-exercise {
    background: #888;
    padding: 0.5rem 1rem;
    color: #eee;
    font-family: "LatoWeb";
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ccc;
    cursor: pointer;
}

button.add-item, input[type=submit].add-item {
    display: inline-block;
    outline: 0;
    padding: 2px 6px;
    margin-top: 6px;
    margin-bottom: 5px;
    vertical-align: middle;
    overflow: hidden;
    color: #4CAF50;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    border: 0px solid #42860e;
    border-radius: 8px;
}

section.general-information button.add-item,
section.configurable-hints button.add-item,
section.included-files button.add-item {
    box-shadow: 1px 1px 2px #285c00;
}

div#test-tabs button.add-item {
    margin-left: 15px;
}

.bordered-editable-area {
    background: #eeeeee;
    border: 3px solid #dddddd;
    width: 95%;
    overflow-y: hidden;
}

table.feedback-question-table {
    table-layout: fixed;
    width: 100%;
    margin-top: 5px;
}

table.feedback-question-table th {
    text-align: left;
    height: 25px;
    vertical-align: top;
}

table.feedback-question-table td {
    vertical-align: top;
    height: 25px;
}

table.feedback-question-table col.feedback-question {
    width: 64%;
}

table.feedback-question-table col.feedback-type {
    width: 30%;
}

table.feedback-question-table col.delete-feedback {
    width: 6%;
}

button.delete-button {
    color: #ff0000;
    display: inline-block;
    outline: 0;
    padding: 0px 4px;
    vertical-align: top;
    margin-top: -1px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    border: 0px solid #42860e;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #ff2000;
}

table#hint-table button.delete-button,
table.files-table button.delete-button {
    width: 25px;
    height: 25px;
    font-weight: bold;
}

span.admin-error, div.admin-error {
    display: none;
    color: #f00;
    margin-left: 5px;
}

div.admin-error {
    margin-top: 5px;
}

button.edit-button {
    background: no-repeat url("edit_icon_pencil.svg") center/18px;
    width: 25px;
    height: 25px;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    color: #4CAF50;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    border: 0px solid #42860e;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #285c00;
}

div#feedback-choices {
    display: none;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    height: auto;
}

div.popup div.feedback-choices {
    height: auto;
}

div.popup span.feedback-choice-span {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    width: 80px;
}

div.popup input[type=text].feedback-choice {
    margin-left: 5px;
    margin-top: 5px;
    width: 1045px;
}

div.popup input[type=text].feedback-choice + button{
    margin-left: 5px;
    margin-top: 7px;
}

button#add-feedback-choice, button#add-new-feedback-choice {
    display: none;
}

/* Popups */

div.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99998;
    opacity: 0;
    transition: opacity 200ms ease-in;
    pointer-events: none;
}

div.popup > div, div.popup > pre {
    width: 1200px;
    position: relative;
    margin: 10% auto;
    padding: 10px;
    border-radius: 10px;
    background: #f2f2f2;
}

div.popup div.bordered-editable-area {
    width: 1185px;
    margin-left: 5px;
}

/* Feedback popup elements */

div#edit-feedback-divs {
    margin-top: 30px;
    display: none;
}

div#create-feedback-div {
    margin-top: 30px;
}

div.popup col.feedback-question {
    width: 76%;
}

div.popup col.feedback-type {
    width: 20%;
}

div.popup col.edit-feedback {
    width: 4%;
}

div.popup td.question-cell {
    vertical-align: middle;
}

div.popup input[type=checkbox].feedback-question-checkbox {
    vertical-align: middle;
    margin-bottom: 5px;
}

div.popup td label.feedback-question-label {
    display: inline-block;
    margin-left: 5px;
}

div.popup td.type-cell {
    vertical-align: middle;
}

div.popup table.feedback-question-table td {
    height: 28px;
}

div.popup h2.edit-feedback-popup-title {
    display: inline-block;
}

div.popup span.feedback-question-span {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

div.popup input[type=text].feedback-question-input {
    height: 24px;
    margin-left: 5px;
    width: 1000px;
}

div.popup span.feedback-type-span {
    margin-left: 5px;
    margin-right: 5px;
}

div.popup select.feedback-type-select {
    margin-top: 5px;
}

div.feedback-choices {
    margin-top: 10px;
}

div.feedback-choice-container {
    margin-top: 5px;
    padding-bottom: 5px;
    height: auto;
}

div.popup span.feedback-choice-container-span {
    margin-left: 5px;
}

div.popup span.feedback-choice-span {
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    width: 80px;
}

div.popup input[type=text].feedback-choice {
    margin-left: 5px;
    margin-top: 5px;
    width: 1045px;
}

div.popup div.feedback-choice-div > button {
    margin-left: 3px;
    vertical-align: middle;
    margin-bottom: 5px;
}

div.popup button.add-item:disabled {
    color: #bbb;
    border: 0px solid #aaa;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #aaa;
    cursor: default;
}

div.popup button.add-item, div.popup input[type=submit].add-item {
    margin-top: 7px;
    box-shadow: 1px 1px 2px #285c00;
}

div.popup div.popup-buttons {
    margin-top: 5px;
    width: 100%;
    text-align: right;
}

div.popup div.popup-buttons .popup-button {
    display: inline-block;
    background: #888;
    padding: 0.5rem 1rem;
    height: 40px;
    color: #eee;
    font-family: "LatoWeb";
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #ccc;
}

div.popup div.popup-buttons button.popup-button:disabled {
    background: #ccc;
}

/* Include file popup elements */

div.popup h2.popup-file-title {
    display: inline-block;
}

div.popup div.edit-included-file-title-div a.file-url {
    margin-left: 10px;
}

div.popup a.file-url-empty {
    display: none;
}

div.popup div.edit-included-file-title-div div {
    vertical-align: top;
}

div.popup input[type=text].file-default-name-input {
    margin-left: 5px;
    width: 1047px;
}

div.popup input[type=text].file-name-input {
    width: 994px;
    margin-left: 5px;
}

div.popup label.file-label {
    margin-top: 5px;
    display: inline-block;
}

div.popup textarea.file-description-area {
    margin-top: 5px;
    margin-left: 5px;
    resize: none;
    width: 1180px;
}

div.popup input[type=select].file-purpose-input {
    margin-left: 5px;
}

div.popup input[type=text].file-chown-input {
    width: 100px;
    margin-top: 5px;
    margin-left: 5px;
}

/* Instance file popup elements */

div.popup table.instance-file-table {
    table-layout: fixed;
    width: 100%;
    margin-top: 5px;
}

div.popup table.instance-file-table th {
    text-align: left;
    height: 25px;
    vertical-align: top;
}

div.popup table.instance.file-table td {
    vertical-align: top;
    height: 25px;
}

div.popup table.instance-file-table col.file-default-name {
    width: 30%;
}

div.popup table.instance-file-table col.file-name {
    width: 30%;
}

div.popup table.instance-file-table col.file-instance {
    width: 31%;
}

div.popup table.instance-file-table col.file-description {
    width: 0%;
}

div.popup table.instance-file-table col.uploaded-file {
    width: 3%;
}

div.popup table.instance-file-table col.edit-file-link {
    width: 3%;
}

div.popup table.instance-file-table col.edit-file {
    width: 3%;
}

div.popup td.description-cell div {
    display: none;
}

div.popup input[type=checkbox].instance-file-checkbox {
    vertical-align: middle;
    margin-bottom: 5px;
}

div.popup button.edit-link-button {
    background: url("link.png");
    width: 25px;
    height: 25px;
    outline: 0;
    vertical-align: middle;
    overflow: hidden;
    color: #4CAF50;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    border: 0px solid #42860e;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #a6855b;
}

div#edit-instance-file-divs {
    margin-top: 30px;
}

div#link-instance-file-divs {
    margin-top: 30px;
    display: none;
}

div.popup div.edit-instance-file {
    display: none;
}

div.popup div.link-instance-file {
    display: none;
}

.file-link-title-div-hidden {
    display: none;
}

/* Language picker */
div#language-picker-container {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 280px;
    height: 70px;
    padding: 6px;
    border: 2px solid #aaa;
    background: #272;
    font-size: 0.9rem;
    color: #eee;
    z-index: 99999;
}

div#language-picker-container > div {
    margin: 0 0 0.3rem 0;
}
span#language-info-code {
    font-family: "LatoWebBold";
    font-weight: bold;
}
select#language-selector {
    border: 1px solid #333;
    margin: 2px;
    padding: 2px;
    width: 200px;
}

.language-code-reminder {
    color: #888;
}
.language-code-reminder:before {
    content: '[';
}
.language-code-reminder:after {
    content: ']';
}

.translated {
    display: none;
}
.translated-visible {
    display: block;
}
.inline-block-elem.translated {
    display: none;
}
.inline-block-elem.translated-visible {
    display: inline-block;
}
