/* blockcode.css */

div.blockcode {
	text-align: left;
	border: 1px dashed grey;
	clear: both;
	overflow: hidden;
        margin-bottom: 5px;
}
	
	div.blockcode div.heading {
		background: #aea;
		background: -moz-linear-gradient(top, #aea, #6a3);
		background: -ms-linear-gradient(top, #aea, #6a3);
		background: -o-linear-gradient(top, #aea, #6a3);
		background: -webkit-linear-gradient(top, #aea, #6a3);
		background: linear-gradient(top, #aea, #6a3);
		
		padding: 0px 10px;
		line-height: 2em;
		text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
	}
		
		div.blockcode div.heading a {
			color: #060;
			text-decoration: none;
		}
		div.blockcode div.heading a:visited {
			color: #060;
			text-decoration: none;
		}
		div.blockcode div.heading a:active {
			color: #060;
			text-decoration: none;
		}
		div.blockcode div.heading a:hover {
			color: #393;
			text-decoration: underline;
			text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);
		}
		
		div.blockcode div.heading h1.codeheading {
			font-family: Arial, sans-serif;
			font-size: 12pt;
			font-weight: bold;
			display: inline;
		}
	
	div.blockcode div.subheading {
		background: #6a3;
		background: -moz-linear-gradient(top, #6a3, #070);
		background: -ms-linear-gradient(top, #6a3, #070);
		background: -o-linear-gradient(top, #6a3, #070);
		background: -webkit-linear-gradient(top, #6a3, #070);
		background: linear-gradient(top, #6a3, #070);
		
		padding: 0px 10px;
		line-height: 1.25em;
		text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
	}
	
		div.blockcode div.subheading h2.codesubheading {
			font-family: Arial, sans-serif;
			font-size: 11pt;
			font-weight: normal;
			display: inline;
		}
	
	div.blockcode div.subcolumn {
		height: 100%;
	}
	
	div.blockcode pre {
		white-space: pre;
		overflow-x: auto;
		width: auto;
		background: #eee;
		border-top: 1px solid grey;
		text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
		font-family: "Inconsolata", "Lucida Console", "DejaVu Sans Mono", monospace;
		font-size: 14.5px;
	}
		div.blockcode pre code {
                        font-family: inherit;
			white-space: pre;
			counter-reset: code-line;
			display: inline-block;
			zoom: 1;
			*display: inline;
		}
			div.blockcode pre code span.line:before {
				content: counter(code-line);
				display: inline-block;
				background: #ccc;
				color: #555;
				text-align: right;
				width: 3em;
				padding-right: 0.5em;
				border-right: 1px solid green;
				margin-right: 1em;
			}
			div.blockcode pre code span.line {
				counter-increment: code-line;
				display: inline-block;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				margin-top: -1px;
			}
		
		div.blockcode pre samp.output {
			display: inline-block;
			zoom: 1;
			*display: inline;
			padding: 15px 0px 15px 30px;
		}
