.highlight-pythontraceback .hll { background-color: #ffffcc }
.highlight-pythontraceback  { background: #f8f8f8; }
.highlight-pythontraceback .c { color: #408080; font-style: italic } /* Comment */
.highlight-pythontraceback .err { border: 1px solid #FF0000 } /* Error */
.highlight-pythontraceback .k { color: #008000; font-weight: bold } /* Keyword */
.highlight-pythontraceback .o { color: #666666 } /* Operator */
.highlight-pythontraceback .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight-pythontraceback .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight-pythontraceback .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight-pythontraceback .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight-pythontraceback .gd { color: #A00000 } /* Generic.Deleted */
.highlight-pythontraceback .ge { font-style: italic } /* Generic.Emph */
.highlight-pythontraceback .gr { color: #FF0000 } /* Generic.Error */
.highlight-pythontraceback .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight-pythontraceback .gi { color: #00A000 } /* Generic.Inserted */
.highlight-pythontraceback .go { color: #808080 } /* Generic.Output */
.highlight-pythontraceback .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight-pythontraceback .gs { font-weight: bold } /* Generic.Strong */
.highlight-pythontraceback .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight-pythontraceback .gt { color: #0040D0 } /* Generic.Traceback */
.highlight-pythontraceback .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight-pythontraceback .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight-pythontraceback .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.highlight-pythontraceback .kp { color: #008000 } /* Keyword.Pseudo */
.highlight-pythontraceback .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight-pythontraceback .kt { color: #B00040 } /* Keyword.Type */
.highlight-pythontraceback .m { color: #666666 } /* Literal.Number */
.highlight-pythontraceback .s { color: #BA2121 } /* Literal.String */
.highlight-pythontraceback .na { color: #7D9029 } /* Name.Attribute */
.highlight-pythontraceback .nb { color: #008000 } /* Name.Builtin */
.highlight-pythontraceback .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight-pythontraceback .no { color: #880000 } /* Name.Constant */
.highlight-pythontraceback .nd { color: #AA22FF } /* Name.Decorator */
.highlight-pythontraceback .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight-pythontraceback .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight-pythontraceback .nf { color: #0000FF } /* Name.Function */
.highlight-pythontraceback .nl { color: #A0A000 } /* Name.Label */
.highlight-pythontraceback .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight-pythontraceback .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight-pythontraceback .nv { color: #19177C } /* Name.Variable */
.highlight-pythontraceback .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight-pythontraceback .w { color: #bbbbbb } /* Text.Whitespace */
.highlight-pythontraceback .mf { color: #666666 } /* Literal.Number.Float */
.highlight-pythontraceback .mh { color: #666666 } /* Literal.Number.Hex */
.highlight-pythontraceback .mi { color: #666666 } /* Literal.Number.Integer */
.highlight-pythontraceback .mo { color: #666666 } /* Literal.Number.Oct */
.highlight-pythontraceback .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight-pythontraceback .sc { color: #BA2121 } /* Literal.String.Char */
.highlight-pythontraceback .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight-pythontraceback .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight-pythontraceback .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight-pythontraceback .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight-pythontraceback .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight-pythontraceback .sx { color: #008000 } /* Literal.String.Other */
.highlight-pythontraceback .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight-pythontraceback .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight-pythontraceback .ss { color: #19177C } /* Literal.String.Symbol */
.highlight-pythontraceback .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight-pythontraceback .vc { color: #19177C } /* Name.Variable.Class */
.highlight-pythontraceback .vg { color: #19177C } /* Name.Variable.Global */
.highlight-pythontraceback .vi { color: #19177C } /* Name.Variable.Instance */
.highlight-pythontraceback .il { color: #666666 } /* Literal.Number.Integer.Long */

