/*
 *
 *
 */
 
/* reset */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {/*
	min-height: 100%;
	width: 100%;
	height: 100%;*/
}

div#container {/*
	min-height: 800px;
	height: 100%;
	width: 100%;*/
}

/* HEADER */
header.header {
	background: #052;
	background: -moz-linear-gradient(top, #021, #052);
	background: -ms-linear-gradient(top, #021, #052);
	background: -o-linear-gradient(top, #021, #052);
	background: -webkit-linear-gradient(top, #021, #052);
	background: linear-gradient(top, #021, #052);

	top: 0px;
	left: 0px;
	width: 100%;
	height: 100px;
}

	header.header heading {
		color: #eee;
		font-family: arial;
		position: absolute;
		left: 40px;
		top: 20px;
		text-align: center;
	}

	header.header heading h1 {
		text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.9);
		font-style: normal;
		font-weight: normal;
		font-size: 50px;
		display: inline-block;
//		position: absolute;
//		left: 40px;
//		top: 20px;
	}
	
	header.header heading h2 {
		text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.9);
		font-style: italic;
		font-weight: normal;
		font-size: 12px;
		display: inline-block;
		padding-left: 20px;
		margin-top: -20px;
	}
	
	header.header a.easter_egg {
		text-decoration: none;
		color: #eee;
	}
	
	header.header div.login form fieldset {
		color: #eee;
		font-family: arial;
		font-size: 12px;
		position: absolute;
		right: 5px;
		top: 5px;
		padding: 5px;
		height: 90px;
		border: 1px solid #eee;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	
	header.header div.login form label {
		display: block;
		float: left;
		width: 80px;
		text-align: right;
	}
	
	header.header div.login form {
		width: auto;
	}
	
	header.header div.login form input#loginbutton {
		/*font-size: 10px;*/
	}

/* NAVIGATION */
nav.main-nav {
	background: #5c5;
	left: 0px;
//	width: 100%;
	height: 2em;
}

	nav.main-nav ul {
		height: 2em;
		position: relative;
		left: 40px;
		top: 0px;
		height: 100%;
	}

		nav.main-nav ul li {
			font-family: arial;
			background: #5a5;
//			background: -moz-linear-gradient(top, #052, #7d7);
			list-style-type: none;
			float: left;
			height: 100%;

			border-left: 4px solid #5c5;
		}

			nav.main-nav ul li a {
				height: 100%;
				width: 100%;
				display: inline-block;
				padding-left: 20px;
				padding-right: 20px;
				color: #fff;
				text-decoration: none;
				border-left: 1px solid black;
				border-right: 1px solid black;
			}
			
			nav.main-nav ul li a:hover {
				color: #000;
				background: #dfd;
				text-decoration: none;
			}

/* MAIN CONTENT */
section.page_content {
	top: 0px;
	background: #fff;
	min-height: 42em;
        padding-left: 40px;
        font-family: arial;
}

        section.page_content h1,h2,h3,h4,h5,h6 {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        section.page_content p {
            font-size: 10pt;
            line-height: 1.1pt;
            padding-bottom: 15px;
        }

	section.page_content form.feedback {
	}

/* FOOTER */
footer {
	font-family: arial, sans-serif;
	font-size: 12px;
	background: #7d7;
//	clear: both;
//	width: 100%;
	height: 4em;
}

	footer div {
		padding-right: 60px;
		float: left;
	}
