{% extends "admin/change_form.html" %}

{% block after_related_objects %}

<div>
  <h2>Editing instructions</h2>
  <table>
    <tr>
      <td>
        <h3>Headings</h3>
        = Heading 1 =<br/>
        == Heading 2 ==<br/>
        === Heading 3 ===<br/>
        ==== Heading 4 ====<br/>
        ===== Heading 5 =====<br/>
        ====== Heading 6 ======<br/><br/>

        <h3>Tables</h3>
        ||!Cell heading||!Another cell heading||<br/>
        ||Normal cell||Another normal cell||<br/><br/>
      </td>
      <td>
        <h3>Embedded content</h3>
        {% templatetag openbrace %}{% templatetag openbrace %}image:picture name{% templatetag closebrace %}{% templatetag closebrace %} an embedded picture<br/>
        {% templatetag openbrace %}{% templatetag openbrace %}video:video name{% templatetag closebrace %}{% templatetag closebrace %} an embedded video<br/>
        {% templatetag openbrace %}{% templatetag openbrace %}{% templatetag openbrace %}!file name{% templatetag closebrace %}{% templatetag closebrace %}{% templatetag closebrace %} an embedded code file<br/>
        [[[page_name]]] an embedded page, such as a task<br/><br/>

        <h3>Lists</h3>
        * unordered list item<br/>
        ** 2nd level unordered list item<br/>
        *** etc.<br/><br/>

        # ordered list item.<br/>
        ## 2nd level ordered list item<br/>
        ### etc.<br/><br/>
      </td>
      <td>
        <h3>Preformatted text blocks</h3>
        {% templatetag openbrace %}{% templatetag openbrace %}{% templatetag openbrace %}<br/>
        normal preformatted text block<br/>
        {% templatetag closebrace %}{% templatetag closebrace %}{% templatetag closebrace %}<br/><br/>

        {% templatetag openbrace %}{% templatetag openbrace %}{% templatetag openbrace %}#!python<br/>
        Python syntax highlighted preformatted text block<br/>
        {% templatetag closebrace %}{% templatetag closebrace %}{% templatetag closebrace %}<br/><br/>

        (Also try pythonconsole, pythontraceback and c instead of python!)

        <h3>Miscellaneous</h3>
        -- horisontal line<br/><br/>
      </td>
      <td>
        <h3>Inline formatting markup</h3>
        [[http://www.google.com|Google]] link<br/>
        '''bold'''<br/>
        ''italics''<br/>
        !!!highlighted text!!!<br/>
        {% templatetag openbrace %}{% templatetag openbrace %}{% templatetag openbrace %}preformatted text{% templatetag closebrace %}{% templatetag closebrace %}{% templatetag closebrace %}<br/>
        {% templatetag openbrace %}{% templatetag openbrace %}{% templatetag openbrace %}#!python python syntax highlight{% templatetag closebrace %}{% templatetag closebrace %}{% templatetag closebrace %}<br/>
      </td>
    </tr>
  </table>
</div>

{% endblock %}


