{% extends 'courses/base.html' %}
{% load static %}
{% load i18n %}
{% load course_tags %}

{% block page-title %}{% blocktrans with instance=instance.name %}
  Completion statistics of {{ instance }}
{% endblocktrans %}{% endblock %}

{% block extra-static %}
  <link rel="stylesheet" href="{% static 'teacher_tools/style.css' %}">
  <script src="{% static 'teacher_tools/completion.js' %}"></script>
{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
  <div class="separator">»</div>
  <li><a href="{% url 'courses:course' course instance %}">{{ course.name }}&nbsp;/&nbsp;{{ instance.name }}</a></li>
{% endblock %}

{% block page-content %}

  <h1>
    {% blocktrans with instance=instance.name %}
      Completion statistics of {{ instance }}
    {% endblocktrans %}
  </h1>

  {% comment %}
  <div class="paragraph">{% trans 'Statistics can be requested as downloadable CSV using the link below' %}</div>
  
  <div class="csv-request">
    <a href="{% url 'teacher_tools:completion_csv' course instance %}" onclick="request_csv(event, this)">
      {% trans 'Generate CSV' %}
    </a>
  </div>
  
  <div class="task-progress"></div>
  
  <div class="csv-download"></div>
  {% endcomment %}

  <div class="paragraph">{% trans 'Scores and grades can be filled into the table using the link below' %}</div>
  <div class="csv-request">
    <a href="{% url 'teacher_tools:request_grades' course instance %}" onclick="request_grades(event, this)">
      {% trans 'Calculate grades' %}
    </a>
  </div>

  <div class="paragraph">
    {% blocktrans with students=users|length %}
      Number of students: {{ students }}
    {% endblocktrans %}
  </div>

  <div class="large-table-container">
    <table class="fixed alternate-green completion-table">
      <colgroup>
        <col class="name">
        <col class="page-results" span="1">
        <col class="course-results" span="3">
        <col class="actions-cell">
      </colgroup>
      <caption>
        {% trans 'Results table' %}
        <div class="table-controls collapsed">
          <button class="button" onclick="toggle_cell_data(event, this, 'data-score');">Show Score</button>
          <button class="button" onclick="toggle_cell_data(event, this, 'data-missing');">Show Missing</button>
        </div>
      </caption>
      <thead>
        <tr>
          <th class="sticky-left horizontal-th" onclick="sort_table(event, this, 0, 1);">{% trans 'Name' %}</th>
          <th class="vertical-th page-result-placeholder"></th>
          <th class="vertical-th" id="missing-th">{% trans 'Miss' %}</th>
          <th class="vertical-th" id="score-th">{% trans 'Weighted Score' %}</th>
          <th class="vertical-th" id="grade-th">{% trans 'Grade' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          <tr id="{{ user.id }}">
            <td class="sticky-left">{{ user|full_name }}</td>
            <td class="page-result-placeholder"></td>
            <td class="grade-missing"></td>
            <td class="grade-score"></td>
            <td class="grade-grade"></td>
            <td>
              <a class="button-style inspect-button"
                href="{% url 'teacher_tools:student_completion' course instance user %}"
                title="{% trans 'View student completion' %}">
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

    

