{% extends 'courses/base.html' %}
{% load static %}
{% load i18n %}
{% load course_tags %}

{% block page-title %}{% blocktrans with name=instance.name %}
  Deadline exemptions for {{ name }}
{% endblocktrans %}{% endblock %}

{% block extra-static %}
  <script src="{% static 'courses/formtools.js' %}"></script>
  <link rel="stylesheet" href="{% static 'teacher_tools/style.css' %}"></link>
{% endblock %}

{% block breadcrumb-links %}
    <li>
        <a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a>
    </li>
    <div class="separator">»</div>
    <li>
        <a href="{% url 'courses:course' course instance %}">
            {{ course.name }}&nbsp;/&nbsp;{{ instance.name }}
        </a>
    </li>
    <div class="separator">»</div>
    <li>
        <a href="{% url 'teacher_tools:exemptions' course instance %}">
            {% trans 'Exemptions' %}
        </a>
    </li>
{% endblock %}

{% block page-content %}
    <h1>
        {% blocktrans with name=instance.name %}
            Manage Exemptions for {{ name }}
        {% endblocktrans %}
    </h1>

    <h2>
        {% trans 'Existing Exemptions' %}
    </h2>

    <table class="fixed alternate-green">
      <thead>
        <tr>
          <th class="interactive" onclick="sort_table(event, this, 0, 1)">{% trans 'Student' %}</th>
          <th class="interactive" onclick="sort_table(event, this, 1, 1)">{% trans 'Page' %}</th>
          <th class="interactive" onclick="sort_table(event, this, 2, 1)">{% trans 'New Deadline' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for exemption in exemptions %}
          <tr>
            <td>{{ exemption.user|full_name }}</td>
            <td>{{ exemption.contentgraph.content.name }}</td>
            <td>{{ exemption.new_deadline|date:"Y-m-d, H:i" }}</td>
            <td>
              <button type="button"
                  class="staff-base-button delete-button"
                  title="{% trans 'Delete this exemption' %}"
                  onclick="formtools.fetch_form(event, this);"
                  data-url="{% url 'teacher_tools:delete_exemption' course instance exemption.user exemption.contentgraph.id %}"
                  data-in-table="true"
                  data-colspan="4">x
              </button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <button type="button"
        class="staff-base-button add-button"
        title="{% trans 'Create a new exemption' %}"
        onclick="formtools.fetch_form(event, this)"
        data-url="{% url 'teacher_tools:create_exemption' course instance %}">+
    </button>
{% endblock %}

