{% extends 'courses/base.html' %}
{% load static %}
{% load i18n %}
{% load course_tags %}

{% block page-title %}{% blocktrans with instance=instance.name %}
  {{ instance }} enrollments
{% endblocktrans %}{% endblock %}

{% block extra-static %}
  <link rel="stylesheet" href="{% static 'teacher_tools/style.css' %}">
  <script src="{% static 'teacher_tools/enrollment.js' %}"></script>
{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
  <div class="separator">»</div>
  <li><a href="{% url 'courses:course' course instance %}">{{ course.name }}&nbsp;/&nbsp;{{ instance.name }}</a></li>
{% endblock %}

{% block page-content %}

  <h1>
    {% blocktrans with name=instance.name %}
      {{ name }} enrollments
    {% endblocktrans %}
  </h1>
  
  <form id="{{ instance.slug }}-enrollment-manage-form" 
    class="teacher-form" 
    method="POST" 
    enctype="multipart/form-data" 
    action="{% url 'teacher:manage_enrollments' course instance %}">
  
    {% csrf_token %}
    
    <div class="enrollments-actions">
      <select class="enrollments-action-select" name="action">
        <option value="accepted">{% trans 'accept' %}</option>        
        <option value="denied">{% trans 'deny' %}</option>
        <option value="expelled">{% trans 'expel' %}</option>
      </select>    
      {% trans 'selected users' %}
      <input type="submit" value="{% trans 'Submit' %}">
    </div>
  
    <table class="fixed alternate-green enrollments-table">
      <colgroup>
        <col class="selector">
        <col class="name">
        <col class="username">
        <col class="enrollment-state">
        <col class="">
      </colgroup>
      <thead>
        <tr class="enrollments-headers">
          <th></th>
          <th onclick="sort_table(event, this, 1, 1);">
            {% trans 'Name' %}
          </th>
          <th onclick="sort_table(event, this, 2, 1);">
            {% trans 'Username' %}
          </th>
          <th onclick="sort_table(event, this, 3, 1);">
            {% trans 'Status' %}
          </th>
          <th>{% trans 'Controls' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for user, enrollment in enrollments %}
          <tr class="enrollment-row {{ enrollment.enrollment_state.lower }}" id="{{ user.username }}-tr">
            <td class="select-cell"><input type="checkbox" name="selected-users" value="{{ user.username }}"></td>
            <td class="name-cell">{{ user|full_name }}</td>
            <td class="username-cell">{{ user.username }}</td>
            <td class="state-cell">{{ enrollment.enrollment_state }}</td>
            <td class="controls-cell">
              <div class="popup" id="{{ user.username }}-enrollment-note">
                <div>{{ enrollment.application_note }}</div>
              </div>
              <button class="staff-base-button report-button"
                type="button"
                title="{% trans 'Show enrollment request' %}"
                onclick="show_popup(event, '{{ user.username }}-enrollment-note')">
              </button>
              <a class="button-style mail-button"
                  href="{% url 'courses:send_message' course instance user %}"
                  title="{% trans 'Send message to student' %}"
                  onclick="show_panel(event, this, 'message', 'message-panel', true);"
                  deta-querystring="">
              </a>
              <a class="button-style inspect-button"
                href="{% url 'teacher_tools:student_completion' course instance user %}"
                title="{% trans 'View student completion' %}">
              </a>
              {% if enrollment.enrollment_state != 'TRANSFERED' %}
                <a class="button-style copy-button"
                    href="{% url 'teacher_tools:transfer_records' course instance user %}"
                    title="{% trans 'Transfer records to another instance' %}"
                    onclick="show_panel(event, this, 'transfer-records', 'message-panel', true);"
                    deta-querystring="">
                </a>
                <button class="staff-base-button delete-button {% if enrollment.enrollment_state != 'ACCEPTED' %}collapsed{% endif %}"
                  type="button"
                  title="{% trans 'Expel student' %}"
                  onclick="process_one(event, this, 'expelled')">X
                </button>
                <button class="staff-base-button add-button {% if enrollment.enrollment_state == 'ACCEPTED' %}collapsed{% endif %}"
                  type="button"
                  title="{% trans 'Accept enrollment' %}"
                  onclick="process_one(event, this, 'accepted')">✔
                </button>
                <button class="staff-base-button deny-button {% if enrollment.enrollment_state != 'WAITING' %}collapsed{% endif %}"
                  type="button"
                  title="{% trans 'Deny enrollment' %}"
                  onclick="process_one(event, this, 'denied')">
                </button>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>      
    </table>
        
  </form>
    
  <div class="popup" id="status-msg-popup"><div></div></div>

{% endblock %}
        
      
    
