{% extends 'courses/base.html' %}
{% load static %}
{% load i18n %}
{% load course_tags %}


{% block page-title %}{% blocktrans with name=student.username instance=instance.name %}
  {{ name }}'s completion of {{ instance }}
{% endblocktrans %}{% endblock %}


{% block course-completion-link %}
  {% if not sandboxed %}
    <a href="{% url 'teacher_tools:completion' course instance %}">{% trans 'Course completion' %}</a>
  {% endif %}
{% endblock %}

{% block course-enrollments-link %}
  {% if not sandboxed %}
    <a href="{% url 'teacher_tools:manage_enrollments' course instance %}">{% trans 'Manage enrollments' %}</a>
  {% endif %}
{% endblock %}

{% block extra-static %}
  <link rel="stylesheet" href="{% static 'teacher_tools/style.css' %}">
  <script src="{% static 'teacher_tools/script.js' %}"></script>
{% endblock %}

{% block breadcrumb-links %}
  <li><a href="{% url 'courses:index' %}">{% trans 'Courses' %}</a></li>
  <div class="separator">»</div>
  <li><a href="{% url 'courses:course' course instance %}">{{ course.name }}&nbsp;/&nbsp;{{ instance.name }}</a></li>
  <div class="separator">»</div>
  <li><a href="{% url 'teacher_tools:completion' course instance %}">{% trans 'Completion' %}</a></li>
{% endblock %}

{% block page-content %}

  <h1>
    {% blocktrans with name=student.oname instance=instance.name %}
      {{ name }}'s completion of {{ instance }}
    {% endblocktrans %}  
    {% comment %}
    <select class="instance-select heading-widget">
        <option selected disabled>{% trans 'change instance' %}</option>
        {% for o_instance in enrolled_instances %}
          <option value="{% url 'teacher_tools:student_completion' course o_instance user %}">
            {{ o_instance.name }}
          </option>
        {% endfor %}
    </select>
    {% endcomment %}
  </h1>
  

  <div class="paragraph">
    {% blocktrans with missing=total_missing points=total_points available=total_points_available %}
      <div class="paragraph">Total missing: {{ missing }}</div>
      <div class="paragraph">Total points: {{ points }} / {{ available }}</div>
    {% endblocktrans %}
  </div>

  <div class="completion-missing">
    {% trans 'Page results' %}
    <ul class="results-page-list">
      {% for results in results_by_page %}
        {% blocktrans with name=results.page.name done=results.done_count tasks=results.task_count points=results.points available=results.points_available %}
          <li class="results-page-bullet tasks-collapsed" onclick="expand_task_list(this)">{{ name }} (Done: {{ done }}/{{ tasks }} | Points: {{ points }}/{{ available }})</li>
        {% endblocktrans %}
        <ul class="student-task-list">
          {% for task in results.tasks_list %}
            <li class="task-bullet-{{ task.result }}"><a href="{{ task.answers_link }}">{{ task.eo.name }}</a></li>
          {% endfor %}
        </ul>
      {% endfor %}
    </ul>
  </div>
  
  <div class="other-instances">
    {% trans 'Completion in other instances' %}
    <ul>
        {% for o_instance in enrolled_instances %}
          <li>
            <a href="{% url 'teacher_tools:student_completion' course o_instance student %}">
                {{ o_instance.name }}
            </a>
          </li>
        {% endfor %}
    </ul>
  </div>

{% endblock %}
