{% load staticfiles %}
{% load i18n %}
{% load feedback_tags %}

{% with feedback_questions=content.get_feedback_questions %}
  {% if feedback_questions %}
  <div class="feedback-container">
    {% if embedded == True %}
    <div class="feedback-header" onclick="show_feedbacks(this, 
                                          '{% trans 'Give feedback on this content' %}', 
                                          '{% trans 'Close feedback' %}', '{% static 'feedback/plus.png' %}', 
                                          '{% static 'feedback/minus.png' %}');">
      <img class="img-header" src="{% static 'feedback/plus.png' %}"><span>{% trans 'Give feedback on this content' %}</span>
    </div>
    <div class="exercise-feedback-content">
    {% else %}
    <div class="lecture-feedback-content">
      <h1 class="content-heading">{% trans 'Give feedback on this content' %}<span id="give-feedback" class="anchor-offset"></span></h1>
    {% endif %}

    {% for question in feedback_questions %}
      <div class="feedback">
        <div class="feedback-question">
          <span>{{ question.question }}</span>
        </div>
        <form class="feedback-form" method="POST" enctype="multipart/form-data" action="{% url 'feedback:receive' content.slug question.slug %}">
        {% csrf_token %}
        {% if question.question_type == "TEXTFIELD_FEEDBACK" %}
          {% feedback_textfield question user content %}
        {% elif question.question_type == "THUMB_FEEDBACK" %}
          {% feedback_thumb question user content %}
        {% elif question.question_type == "STAR_FEEDBACK" %}
          {% feedback_star question user content %}
        {% elif question.question_type == "MULTIPLE_CHOICE_FEEDBACK" %}
          {% feedback_multiple_choice question user content %}
        {% endif %}
        </form>
        <div class="feedback-received"></div>
        <div class="feedback-error"></div>
      </div>
    {% endfor %}
    </div>
  </div>
  {% endif %}
{% endwith %}
